[2019-01-19 04:32] pdxjohnny opened #1 "NVD Database does not match versions which are less than"
Some versions are all vulnerable up until the one listed in NVD. Currently the import
and usage (`scanner.get_cves`) isn't set up to look for those CVEs.

Example:

https://libexpat.github.io/ - CVE-2017-9233

https://github.com/intel/cve-bin-tool/blob/ac8daa451622c8ae91f7db67ad0401d3599ccdb7/test/test_scanner.py#L201-L207

only shows one version (2.2.0) and has a `versionEndIncluding` key in the

[2019-01-21 12:56] rossburton opened #2 "Debian extract is suboptimal"
[code]

So the problem here is that data.tar could be compressed with xz:

[code]

However, the data is *always* `called data.tar.*` so there's no need to look into `control.tar.gz` at all.

[2019-01-21 13:12] rossburton opened #3 "RPM and Deb Extractors don't work if path to scan is relative"
The starting scan path is used to construct the paths to the filenames being passed to `extract_file_rpm` and `extract_file_deb` but as those commands set `cwd `in `subprocess` calls the paths are not valid.  The starting scan path should be resolved on startup.

[2019-01-21 13:53] rossburton opened #5 "False positive in expat checker"
With expat 2.2.6:

[code]
As per https://github.com/libexpat/libexpat/blob/9f5bfc8d0a01b88acc93547600d7d2bc1ec64a10/expat/Changes#L349, all three of these were fixed in 2.2.0.
CVE-2012-6702 and CVE-2016-5300 at time of writing have bad CPEs but I've requested those get fixed, -0718 says up to 2.2.0.

[2019-01-21 13:58] rossburton commented on #5
Here's my library, with `.txt` added.

[libexpat.so.1.6.8.txt](https://github.com/intel/cve-bin-tool/files/2779169/libexpat.so.1.6.8.txt)

[2019-01-21 14:07] rossburton opened #6 "Confused by debug symbols"
If cve-bin-tools scans a package repository that contains split debug packages, it gets confused:

[code]

Because `guess_expat_version_from_content` couldn't find any strings, the version is `''`.

[2019-01-22 00:00] #2 closed

[2019-01-22 10:32] rossburton opened #8 "Aborts on broken symlinks"
If a package to be extracted contains a broken symlink then the scan fails:

[code]

By disabling the temporary file deletion we can see that path is a broken symlink:

[code]

The package contains a symlink to a file in a dependent package.

As scanning *any* symlink is pointless (broken links can't be scanned, working links will be scanned at the target), the tool should skip symlinks.  In fact,

[2019-01-22 10:39] rossburton commented on #8
This is a regression caused by 5fac024eb7eb0e4a51acd1754ceda3512e2f1366 which is titled "add travis CI" but does more.

[2019-01-22 10:42] rossburton opened #9 "Add packages to test suite"
The test suite should have at least a few packages of each format to scan.  To avoid distributing binaries, maybe it should download a few curated packages from distro feeds?

[2019-01-22 10:50] rossburton commented on #8
Looks like the key problem is that the directory walker just looks at filenames, so is passing the broken symlink to the scanner which then checks the file type.  As `os.path.isfile` returns false for broken links, the scanner then raises an exception.  The walker should be filtering the file list first on file type. Remember that `os.path.isfile` will return `True` for symlinks to files, so the t

[2019-01-22 17:31] #3 closed

[2019-01-22 17:35] pdxjohnny opened #10 "test: Remove errant double scan"
I left this line by accident. It needs to be removed.

https://github.com/intel/cve-bin-tool/blob/b32614824429c993d5f81ce1bea2c918388acf3a/test/test_scanner.py#L120

[2019-01-22 17:37] pdxjohnny commented on #9
This is happening with one package (curl) here:

https://github.com/intel/cve-bin-tool/blob/b32614824429c993d5f81ce1bea2c918388acf3a/test/test_definitions.py#L13-L16

https://github.com/intel/cve-bin-tool/blob/b32614824429c993d5f81ce1bea2c918388acf3a/test/test_cli.py#L24-L35

Tests could be added in `test_cli.py` or in `test_scanner.py` following this pattern of using an extractor.

https://github

[2019-01-22 17:55] pdxjohnny commented on #8
Travis acts differently than tests running in docker and locally so I had to add the check for if its a file. I've attempted a fix in #11

[2019-01-22 18:31] #8 closed

[2019-01-22 19:16] #10 closed

[2019-01-22 20:44] pdxjohnny opened #13 "docs: Detailed instructions on in / out of tree checkers"

[2019-01-23 16:57] rossburton opened #14 "Assumes .exe are self-extracted zip, mostly this isn't true"
The Zip extractor is used for any `.exe` files.  Python's `distutils` module ships `.exe` files.

[code]

[2019-01-23 16:59] rossburton commented on #14
You can't just unzip any `exe` and hope for the best:

[code]

[2019-01-23 16:59] rossburton commented on #14
Presumably there's some magic bytes the tool can look for before trying unzip.

[2019-01-23 17:10] fenrus75 commented on #14
also we should make it go silent, at least after the first error. same for the -x suggestion. suggest once, then be quiet

[2019-01-23 18:07] pdxjohnny commented on #13
Started on this in #15

[2019-01-23 18:11] pdxjohnny opened #16 "Suggestion of -x to self extract should only log once"
As Arjan mentioned in #14

[2019-01-23 18:11] pdxjohnny commented on #16
I took this out before release, should put back in

[2019-01-23 18:20] fenrus75 opened #17 "tool skips scanning .exe files"
tool thinks it's an archive, true or not, and then punts on scanning the file.
it should always can the file imo

[2019-01-23 19:37] pdxjohnny commented on #14
I found no magic bytes. Going with @fenrus75 suggestion on just scan it and then attempt to extract it. This strategy always works, yay!

[2019-01-23 19:53] #14 closed

[2019-01-23 19:53] #17 closed

[2019-01-23 19:54] pdxjohnny commented on #13
Need to add check to `.travis.yml`

[2019-01-23 20:19] pdxjohnny commented on #5
### Email Exchange with NIST

Good afternoon,

When a CPE URI contains a version of "-", the implication is that the version is "N/A". Typically this is used when at the time of analysis the information was not clear or simply not available to determine the appropriate version of the software. In the event that updated information is publicly available that would justify an amendment to the metada

[2019-01-23 20:22] pdxjohnny commented on #5
I think that in light of this information about "N/A". It seems the any CVE where there is a declared version should not have a "-"

I think that's what I'll tell the NIST people, and then during NVD import we'll ignore any "-" if that CVE also has a version set. Sound good everyone?

[2019-02-04 04:21] fenrus75 opened #20 "should treat "APK" files as zip files"
since android apk files are just zip archives, the tool can extract these, just need the extension recognized

[2019-02-05 00:21] pdxjohnny opened #22 "Cache packages for test suite"
deb, rpm, etc. packages downloaded during / for testing are not cached and are re-downloaded each time. Testing could be speed up by caching them. Make sure to add to travis cachedir as well.

Related: #9

[2019-02-05 01:33] #20 closed

[2019-02-05 01:41] #13 closed

[2019-02-05 09:20] terriko opened #23 "GSoC 2019: Use this issue for discussion"
Please use this issue for any Google Summer of Code-related questions and discussion that does not fit elsewhere.

[2019-02-05 10:45] terriko opened #24 "GSoC 2019 Project Idea: Add new checkers to the CVE Binary Tool"
The CVE Binary tool team is hoping to participate in Google Summer of Code (GSoC) under the Python Software Foundation umbrella.  You can read all about what this means at http://python-gsoc.org/.  This issue, and any others tagged 'gsoc' are not generally available bugs, but related to project ideas for GSoC.

# Project Idea : Add new checkers to the CVE Binary Tool

**Project description:** The

[2019-02-05 15:51] PrajwalM2212 commented on #23
I am interested to participate in GSoC 2019 with cve-bin-tool . I have made the required PR https://github.com/intel/cve-bin-tool/pull/25

[2019-02-05 17:38] bksahu commented on #24
@terriko Hi. I'm interested to work on this.

[2019-02-05 17:46] PrajwalM2212 commented on #24
@bksahu As a initial PR you have to create a test . Follow the Getting Started section.  Also introduction comments can be made in https://github.com/intel/cve-bin-tool/issues/23

[2019-02-05 17:59] PrajwalM2212 commented on #23
I was looking through the `CVE checkers`.
1. From where/How to get version pattern of a particular library ?
2. For the function `contains_library` , how are the lines used for searching like `TIFF directory is missing required \"StripByteCounts\" field, calculating from imagelength` chosen ? Is this randomly chosen from the source code of the library or is there any specific rule ?

[2019-02-05 20:31] terriko opened #28 "New checker: berkeleydb (often just known as db)"
New checker request: **berkeleydb** (often known just as 'db')

**Source code**: https://www.oracle.com/technetwork/database/database-technologies/berkeleydb/downloads/index.html
Note that this is downloaded as individual versions and there is no public repository for you to view history.  You might have to dig a bit through older versions to find appropriate signatures that work.

**CVE data**: h

[2019-02-05 20:34] terriko commented on #24
I've started to add a few new checker requests into our github issues list, so if you're looking for some more advanced work, [here's the search that will find them as they get added](https://github.com/intel/cve-bin-tool/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+%22New+checker%22+)

[2019-02-05 20:37] terriko opened #29 "New checker: rsync"
New checker request: **rsync**

**Source code**: Please add links in the comments so this issue can be updated

**CVE data**: Please add links in the comments so this issue can be updated

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-02-05 20:39] terriko opened #30 "New checker: libgcrypt"
New checker request: **libgcrypt**

**Source code**: Please add links in the comments so this issue can be updated

**CVE data**: https://www.cvedetails.com/vulnerability-list/vendor_id-4711/product_id-25777/Gnupg-Libgcrypt.html

[2019-02-05 20:43] terriko opened #31 "New checker: subversion"
New checker request: **subversion** (also known as svn)

**Website**: https://subversion.apache.org/

**Source code**: Please add links in the comments so this issue can be updated

**CVE data**: https://www.cvedetails.com/vulnerability-list/vendor_id-2120/product_id-3608/Subversion-Subversion.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bi

[2019-02-05 20:47] terriko opened #32 "New checker: systemd"
New checker request: **systemd**

**Source code**: Please add links in the comments so this issue can be updated

**CVE data**: Please add links in the comments so this issue can be updated

[2019-02-05 20:49] terriko opened #33 "New checker: bzip2"
New checker request: **bzip2**

**Source code**: Please add links in the comments so this issue can be updated

**CVE data**: https://www.cvedetails.com/vulnerability-list/vendor_id-1198/product_id-2068/Bzip-Bzip2.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-02-05 20:57] terriko opened #34 "New checker: ppp"
New checker request: **ppp**

**Website**: https://ppp.samba.org/

**Source code**: Please add links in the comments so this issue can be updated

**CVE data**: https://www.cvedetails.com/vulnerability-list/vendor_id-102/product_id-2091/Samba-PPP.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.

[2019-02-05 20:59] terriko opened #35 "New checker: System.Net.Http"
New checker request: **System.Net.Http**

**Source code**: Please add links in the comments so this issue can be updated

**CVE data**: https://www.cvedetails.com/product/39158/?q=System.Net.Http

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-02-05 21:01] terriko opened #36 "New checker: Jetty"
New checker request: **Jetty**

**Source code**: Please add links in the comments so this issue can be updated

**CVE data**: https://www.cvedetails.com/vulnerability-list/vendor_id-10410/product_id-34824/Eclipse-Jetty.html

[2019-02-05 21:04] terriko opened #37 "New checker: Harfbuzz"
New checker request: **Harfbuzz**

**Source code**: Please add links in the comments so this issue can be updated

**CVE data**: https://www.cvedetails.com/vulnerability-list/vendor_id-15778/product_id-33083/Harfbuzz-Project-Harfbuzz.html

[2019-02-05 21:15] terriko opened #38 "Error messages for missing dependencies should be improved"
Right now the tool throws a big python exception if you're missing, say, `rpm2cpio` -- we should have it generate a user-friendly error message instead.

[2019-02-05 21:50] pdxjohnny commented on #38
Partially fixed in #39

Should we just log for the optional ones?

[2019-02-05 23:36] terriko commented on #38
I think we want it to error out so the tests fail in an expected way and no one accidentally gets lulled into thinking stuff is scanned when it's not even getting extracted, but I could be convinced otherwise.

[2019-02-05 23:56] terriko commented on #23
**Finding a version pattern:**  You can get a basic idea of the pattern from looking at the project's documentation/website or use cvedetails since it catalogs vulnerable versions and thus has version lists. Once you know what the version numbers look like, you'll need to find them in the code or the binary itself to make sure you've got a findable pattern.

A few ways to do it:

- The CVE Binary

[2019-02-06 01:45] terriko opened #42 "Add false test for inpath"
As mentioned in #39, we could use a False test for inpath for code coverage.  This should be just a line similar to the test that was added, only assertFalse instead of assertTrue and with a completely unlikely filename to test.

[2019-02-06 01:48] terriko opened #43 "Find out why travis for python 3.3 is passing things that shouldn't pass"
Noticed weird behaviour when pushing WIP code that intentionally would fail tests.  One of them passed!  This issue is to remind us to look into why.

Passing travis build was with python 3.3, and it looks like it's not running tests at all:
https://travis-ci.com/intel/cve-bin-tool/jobs/175591508

For comparison, here's one of the builds that was failing as expected:
https://travis-ci.com/intel/cv

[2019-02-06 04:09] bksahu commented on #31
Apache Subversion 1.11.1 source link: https://www-us.apache.org/dist/subversion/subversion-1.11.1.tar.bz2

[2019-02-06 05:01] bksahu commented on #31
@terriko My `nvd.vulnerabilities.db` is empty. Could you please tell how can I update it?

[2019-02-06 05:59] pdxjohnny commented on #31
If you delete it and run the tool on an empty directory `cve-bin-tool $(mktemp -d)` it should repopulate

[2019-02-06 06:04] bksahu commented on #31
Thank you. But still, the database is empty. Only tables are there.

[2019-02-06 22:29] terriko commented on #31
@bksahu What happens when you run the tests?  e.g. do all the tests in `python3 setup.py test` pass on your local copy?

[2019-02-07 04:58] bksahu commented on #31
@terriko All tests fail

[2019-02-07 06:42] pdxjohnny commented on #31
Maybe try creating a virtualenv

[2019-02-07 09:58] bksahu commented on #31
@pdxjohnny  Looks like it worked. Btw I am still getting those 4 errors

[code]

I am using Python 3.6.8 on Ubuntu 16.04.

[2019-02-07 10:10] bksahu opened #47 "Test failing on Ubuntu 16.04"
### Steps to Reproduce

1. `$ python setup.py install`
2. `$ python setup.py test`

### Output

[code]

### System Specs
Python 3.6.8
Ubuntu 16.04.

[2019-02-07 10:40] PrajwalM2212 commented on #47
@bksahu You have to install a few dependencies
`Most of these are installed by default on many Linux systems, but cabextract and rpm2cpio in particular might need to be installed.`

[2019-02-07 10:48] bksahu commented on #47
@PrajwalM2212 Thanks it worked.

[2019-02-07 10:48] #47 closed

[2019-02-07 11:22] bksahu commented on #31
I am unable to find the signature in svn. I have tried `$strings svn | grep version` but had no luck.

[2019-02-07 18:16] #32 closed

[2019-02-07 22:59] terriko commented on #30
Didn't get closed automatically for some reason, so I'm going to close manually now.  The code is merged!

[2019-02-07 22:59] #30 closed

[2019-02-08 00:47] terriko opened #53 "GSoC 2019 Project Idea : Windows support for CVE Binary Tool"
The CVE Binary tool team is hoping to participate in Google Summer of Code (GSoC) under the Python Software Foundation umbrella.  You can read all about what this means at http://python-gsoc.org/.  This issue, and any others tagged 'gsoc' are not generally available bugs, but related to project ideas for GSoC.

# Project Idea : Windows support for CVE Binary Tool

**Project description:** The CVE

[2019-02-09 01:38] PrajwalM2212 commented on #53
@terriko I think
1. We can add around 50-60 checkers in 1 month.
2. Bring multiplatform support in 1 month.
3. And work on another idea for the remaining items.
So can we combine https://github.com/intel/cve-bin-tool/issues/24 with this project idea into one proposal.

[2019-02-09 01:58] PrajwalM2212 commented on #53
@terriko Can I combine https://github.com/intel/cve-bin-tool/issues/24 with this project idea into one proposal.

[2019-02-09 15:13] PrajwalM2212 commented on #33
I was searching for the version pattern and this the closest I could find from my local copy `1.0.6, 6-Sept-2010`.

I searched in the codebase found this `#define BZ_VERSION  "1.0.6, 6-Sept-2010`.

Should I create a regex matching `1.0.6, 6-Sept-2010`. This would be different from existing checkers as all of them have the library name in their version but this does not.

[2019-02-09 15:56] PrajwalM2212 commented on #29
Using `strings` works with `.so` files . But what is the correct way for applications like `rsync` .
Typing `rsync --version` gives ,
[code]

[2019-02-09 18:07] terriko commented on #29
Strings works on binaries, even executable ones! Try it on /usr/bin/rsync or wherever it lives on your system.

[2019-02-09 18:16] terriko commented on #33
That's a hard one to do, because you'll have to look at a bunch of revisions to make sure you make a reflex that detects as many old versions as possible and you'll have to make something that matches the dates, but it's probably doable!

[2019-02-09 18:40] PrajwalM2212 commented on #33
Working on it.

[2019-02-09 18:56] pdxjohnny commented on #42
Closed in #45

[2019-02-09 18:56] #42 closed

[2019-02-10 12:23] GiridharPrasath commented on #53
hi @terriko, I'm interested to work on this, Correct me if I'm wrong. To my understanding, in the windows platform, we have to extract strings(versions) in `dll` and like we did it in  .so files.

Any further readings or hints would be helpful

[2019-02-10 12:32] GiridharPrasath commented on #23
hi all, I am an undergrad interested in improving cve-bin-tool.
Till now I have added a small [test](https://github.com/intel/cve-bin-tool/pull/56). Subsequently, I would try to add a checker to this tool, and looking forward to raising many PRs  :simple_smile:

[2019-02-11 19:20] terriko commented on #53
I'm not a windows person, so I don't know, but what do you get when you run strings on a dll?  What do you get if you try to run the tool against a dll version of something it already detects?  Does it work at all?

[2019-02-12 08:24] GiridharPrasath commented on #53
we are having a strings [impl](https://docs.microsoft.com/en-us/sysinternals/downloads/strings) for windows.

curl version:
`curl -V`

identify strings associated with curl.exe:
`strings curl.exe|findstr $version`

[2019-02-13 00:20] terriko commented on #29
As discussed in #57, it turns out that rsync doesn't have a particularly convenient version string we can use to do the same trick we've been doing with other libraries, so we're getting messy results from the checker.  I think we should leave this one for now and move on.

[2019-02-13 00:41] terriko commented on #53
So, I sort of envision this as happening in phases:

Phase 1: run it on a bunch of different of versions of windows and see what fails.  Then make sure there are appropriate error messages for all the failures.  e.g. if it fails because it can't find "strings" tell them how to install the windows equivalent.

Phase 2: write code so it works without failures -- either by doing windows checks and us

[2019-02-13 00:57] terriko opened #59 "New Checker: Kerberos"
New checker request: **Kerberos**

**Website**: http://kerberos.org/
**Source**: (mirror) https://github.com/krb5/krb5
**CVE data**: https://www.cvedetails.com/vulnerability-list/vendor_id-42/product_id-61/MIT-Kerberos.html

[2019-02-13 01:53] terriko opened #60 "New checker: Binutils"
This is an issue for what I've already started working on in #54

[2019-02-13 19:28] terriko commented on #60
Note to self: had a friend check the version string for /usr/bin/strings in fedora and it doesn't match the one I'm using either in ubuntu or what I gleaned from the source.  I'll need to bring in some rpms for testing.

[2019-02-13 22:31] terriko commented on #60
More checking: gentoo similarly does not include the (GNU Binutils) line as I was using.

[2019-02-14 19:13] terriko opened #61 "New Checker: sqlite"
This is an issue to go with work I have already in progress, opened as a place to put notes.

[2019-02-15 00:23] terriko opened #62 "Improve NVD db cache-clearing message"
The NVD database only downloads if you have a "stale" copy that's more than a day old, and spits out a message warning you that it's not going to update as follows:

[code]

We should replace this message with one that also tells you where those files are, since it's likely not obvious to the user.  (They're in ~/.cache/cve-bin-tool but you should make the message print the actual
variable used, `

[2019-02-15 00:36] terriko commented on #61
Notes: the SQLite CVE data is one of those where even if it says there are multiple versions affected, only one shows up in the data.  For this checker to be really meaningful, we need to fix #1 or submit fixes for the nvd data so it accurately reflects which versions are affected.

[2019-02-15 00:39] terriko commented on #61
Another note: the SQLite signatures for version numbers are based on the sha1 data associated with each release, which is unlike our other checkers (but hopefully less false positive prone!)

[2019-02-15 00:57] #61 closed

[2019-02-15 01:23] terriko commented on #29
Incidentally, I noted in #61 that sqlite had the same problem.  Thankfully in that case, they had ids that were searchable (even though they didn't include the version string).

[2019-02-15 01:56] terriko opened #65 "Improve automation/caching of sqlite release ids"
In #63 I added an sqlite checker that includes sqlite release ids gleaned from their website.  The code is there to grab them from the live website, but there's a local copy in an array rather than having that run all the time which would quickly have gotten ridiculous inside the checker.

We need to investigate a better way to handle this with some sort of caching, probably another sqlite databas

[2019-02-17 10:35] aydwi commented on #53
Hi @terriko and @pdxjohnny. I'm interested in working on this during the summer. Should this be considered as a complete Windows port for CVE Binary Tool? I've only started to look through the codebase, but I'd prefer writing core functionalities in pure Python, which can make porting to newer platforms easier. Further, I like the idea of extending this to OS X as well.

Again, I'm just getting st

[2019-02-18 19:14] PrajwalM2212 commented on #65
I will work on this. Initially I will try to create a database for sqlite and then we can future proof it.

[2019-02-20 05:21] wzao1515 opened #71 "NVD DB crash when initializting is interrupted"
I noticed that when firstly running the unittest, NVDAutoUpdate.py would automatically install local database. However, if I interrupt the initialization (could be system crash or other reasons), the database is crash and it cannot be fixed, I have to delete all the json files manually and then run the command again. The error information is below:
[code]
Thus I think there could be a checker to v

[2019-02-20 15:33] pdxjohnny commented on #71
I have some code to download the jsons and validate their sha hashes. I can add that to prevent this issue. Also this is related to #62

[2019-02-20 21:15] #62 closed

[2019-02-20 21:38] terriko opened #73 "Enhance NVD data with CVE information from curl"
As described in #1 and noted in some of our test cases (which have missing CVEs that should be detected but aren't due to flaws in the data) the NVD database is a convenient source of information but not a very high quality one.  We could enhance it by using vulnerability information from other sources.

One that's particularly good is curl, which has a website set up with information about the vu

[2019-02-20 21:40] terriko commented on #73
Old curl data-gathering script as promised. (it's not required that you use this to close this issue, though):

[code]

[2019-02-22 23:58] #59 closed

[2019-02-24 18:18] PrajwalM2212 opened #82 "HTML reporter [ GSoC : Stretch goal ]"
This is one of the stretch goal ideas I have come up with to add to my GSoC proposal.

The current output formats supported by `cve-bin-tool` are `command line` and a `csv output file`.
These are good reporter tools.  But we could also support a `html` format so that users ( both programmers and non-programmers) can easily visualise/understand the results of the analysis done by `cve-bin-tool` . W

[2019-02-24 18:19] PrajwalM2212 commented on #82
@terriko @pdxjohnny  What are your thoughts on this idea ?

[2019-02-26 00:40] #65 closed

[2019-02-26 01:02] terriko commented on #82
We're trying to minimize dependencies in the tool itself so it's still suitable for integration into people's continuous integration systems (or whatever), and usually people don't want fancy output there.  (In fact, the most common feedback we get from actual users is that people want *less* output.)

That said, it might be useful as a separate/related tool that parsed the csv output for a local

[2019-02-26 01:52] PrajwalM2212 commented on #82
Thanks for the explanation.
Yes. This does not fit into the goal of the project right now.

[2019-02-26 01:52] #82 closed

[2019-02-26 03:01] wzao1515 opened #84 "Implementing strings in python"
Hi, I am interested in adding Windows support for part of my GSoC goal and I want to start with implementing strings and file in pure python. Intuitively this is not so hard, but I have a question for strings.

I think the naive way is to open a file, and then process it. The overhead of this method is obviously the memory consumption since it would read the whole file into memory at once. Therefo

[2019-02-26 08:25] PrajwalM2212 commented on #84
Python provides `readline` function that you can use to read only one line at a time.

[2019-02-26 17:25] pdxjohnny commented on #84
I suggest you take a look strings itself to see how it works. [strings source code](https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=blob;f=binutils/strings.c;h=648bdc081271b2c9c7505066a5622b009cd58437;hb=HEAD#l570)

Looks to me like it looks for [valid ASCII](https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=blob;f=binutils/strings.c;h=648bdc081271b2c9c7505066a5622b009cd58437;h

[2019-02-26 17:40] pdxjohnny commented on #22
Hi Giridhar,

Sorry I haven't had a chance to write up that documentation yet. For local
caching the issue is #22 (https://github.com/intel/cve-bin-tool/issues/22)
Best to start there first.

https://github.com/intel/cve-bin-tool/blob/b32614824429c993d5f81ce1bea2c918388acf3a/test/test_extract.py#L94
It's pretty much an exercise in making this use ~/.cache/cve-bin-tool/tests/,
https://github.com/in

[2019-02-28 21:16] pdxjohnny opened #89 "test: NVD test_ssl hangs"
`get_cvelist` is hanging in `test_ssl` for me. Others may be experiencing the same issue.

[2019-02-28 22:02] terriko commented on #53
@aydwi It depends on what you mean by "complete windows port" --  To me "complete windows port" sounds like "reimplement everything" and that's not what this will be.

We're talking about a number of if(windows): statements to deal with the dependencies that aren't installed as standard on windows, appropriate error messages for windows users, and then work to deal with standard windows formats (b

[2019-02-28 22:03] pdxjohnny commented on #89
Ah. This is because curl data is not downloaded there

[2019-02-28 22:20] terriko opened #90 "Enable/disable individual checkers"
As we add more checkers, we're going to hit the point where users may want to enable/disable certain ones to reduce the time taken to run the CVE Binary Tool.  We might as well make sure we've got the ability to do that *before* it's a problem.

I'm thinking we should probably handle this the way Bandit or Pylint does, with options for command line flags AND an option for a config file.

Bandit  t

[2019-03-01 01:42] PrajwalM2212 commented on #90
I will work on this.

[2019-03-01 05:30] arnav-t commented on #24
I'm interested in this. Is this available to work on @terriko ?

[2019-03-01 20:46] pdxjohnny opened #92 "Implement parts of `file` needed in Python"
See #84

We probably just need to check the first few bits to see if it's ELF or whatever nonsense windows uses

[2019-03-01 20:46] pdxjohnny commented on #84
Closed in #86

New issue made for `file`: #92

[2019-03-01 20:46] #84 closed

[2019-03-01 20:57] wzao1515 commented on #92
I agree, when I hexdump each ELF file I could see they are all started with `457f 464c`. That's is called "signature" of ELF file and it is unique, so I guess maybe we could open and read the first line of file in bytes, and check if the first 4 bytes are `457f 464c`.

ref:
https://blog.netspi.com/magic-bytes-identifying-common-file-formats-at-a-glance/

[2019-03-01 20:57] pdxjohnny opened #93 "Use python strings implementation"
Change `Scanner` to use `Strings`

[2019-03-01 20:59] pdxjohnny commented on #92
Sweet, windows seems to be `0x5A4D`:

![windows](https://upload.wikimedia.org/wikipedia/commons/1/1b/Portable_Executable_32_bit_Structure_in_SVG_fixed.svg)

[2019-03-01 21:02] wzao1515 commented on #92
I'll dig deeper and try to implement that (maybe in linux first).

[2019-03-01 21:17] pdxjohnny commented on #92
Probably good to just read the first 4 bytes and do a comparison on them with either of those signatures. Here:

https://github.com/intel/cve-bin-tool/blob/690f870af3710414cc9250141864ab5d9ad7039f/cve_bin_tool/cli.py#L106-L114

[2019-03-04 19:47] pdxjohnny commented on #93
ping: @wzao1515

[2019-03-04 20:35] #89 closed

[2019-03-05 16:16] GiridharPrasath commented on #90
Can we enable/disable checkers using `entry_points.txt` from .egg info directory?
@terriko

[2019-03-05 17:43] pdxjohnny commented on #90
Checkers are passed to `Scanner` in its `__init__`

https://github.com/intel/cve-bin-tool/blob/8b7755299538db8e3e79629c95cc947e7cf04f93/cve_bin_tool/cli.py#L34-L46

We probably need a new

https://github.com/intel/cve-bin-tool/blob/8b7755299538db8e3e79629c95cc947e7cf04f93/cve_bin_tool/cli.py#L211

With the argument being a list of checker names not to load.

Then load all the default ones with `Sc

[2019-03-05 20:26] #92 closed

[2019-03-05 20:36] pdxjohnny commented on #93
Also, since `file` has been implemented, once Strings is change https://github.com/intel/cve-bin-tool#requirements

[2019-03-05 20:36] #93 closed

[2019-03-05 20:44] pdxjohnny opened #96 "Remove requirements of file and string from README"

[2019-03-05 20:46] #73 closed

[2019-03-05 20:48] pdxjohnny commented on #53
Since strings and file have been eliminated. All that needs to happen now (I think) is replace the calls to linux utils in `extractor` with Python code that does the same thing.

https://github.com/intel/cve-bin-tool/blob/ba44e8e5c07430b8d899c0330e4bc0b5192b2112/cve_bin_tool/extractor.py#L60-L111

[2019-03-06 02:19] #96 closed

[2019-03-06 18:44] terriko commented on #24
@arnav-t All GSoC ideas are open to all until Google's application system closes and we have to choose students.

[2019-03-06 18:57] terriko commented on #90
@GiridharPrasath I don't think that `entry_points.txt` would be the ideal way to do this.

Here's an imaginary example based on real users who've talked to me:

You're running a corporate software download server.  You have 324 different files available, representing different versions of 49 pieces of software.  You want to scan them regularly in case a new vulnerability is found so you can remove

[2019-03-08 15:39] rossburton opened #97 "Current git cve-bin-tool is very slow"
Using the 0.2 release I can scan an entire rootfs in 107 seconds.

With current git master, I got bored and gave up after five minutes.  A quick look at strace shows that it has been spending the last few minutes slowly working through libc.so (17M) and is still going.

I'm sure there's a good reason why the use of file/strings was removed and scanning in Python has been done but this is *far too

[2019-03-08 16:12] rossburton commented on #97
Update: after 45 minutes it is still scanning.  strace reveals that it is now scanning 4KB/second, so there's presumably an algorithmic problem somewhere.

I suggest reverting the strings/file patches until they can be added back without catastrophic performance regressions.

[2019-03-08 17:48] terriko commented on #97
ouch.  I think rather than reverting I'll switch it to use strings/file if they're available, but we should see what we can do about the performance for those platforms where we need the python implementation.

[2019-03-08 17:55] terriko opened #98 "Add performance tests"
As per #97, we could probably use some performance tests so that travis will warn us if there's a huge performance regression we should look at.  What the threshold for "failing" should be and how they work can be a topic of discussion here before an implementation is written.

[2019-03-08 17:56] terriko commented on #53
As per #97, it sounds like there might be some room for improvement on the performance of strings.

[2019-03-09 04:46] #97 closed

[2019-03-11 11:19] rossburton opened #102 "Test suite fails"
Running `python3 -munittest test_scanner` fails:

[code]

[Full output attached](https://github.com/intel/cve-bin-tool/files/2951901/log.txt).

[2019-03-11 13:12] rossburton opened #103 ""Add db for version maps" introduced massive performance regression"
Commit 670808d1164b925e13872ed02bd8f687034d9742 introduced an auto-updating database for the sqlite versions, but this database is never actually cached.  Putting some `print()` calls in:

[code]

It is *constantly* downloading the sqlite index and rebuilding the version database.

[2019-03-11 14:04] pdxjohnny commented on #103
Fuck, we'll get on this soon

[2019-03-11 14:09] rossburton commented on #98
If you want to scan a representative rootfs as part of the CI then maybe our release tarballs are a candidate?  For example [core-image-minimal-dev](
http://downloads.yoctoproject.org/releases/yocto/yocto-2.6/machines/qemu/qemux86-64/core-image-minimal-dev-qemux86-64.tar.bz2) is a rootfs that is small (35M download), trivial to unpack (as it's a tarball) but actually exercises the code:

[code]

T

[2019-03-11 14:11] rossburton commented on #98
(that time is with 0.2.0 obviously)

[2019-03-11 14:49] pdxjohnny commented on #102
I'm not sure there's much we can do here. Tests are passing in Travis. Are you sure you're running against master?

[2019-03-11 14:57] rossburton commented on #102
I suspect that what was happening is that it was running the tests against the installed cve-bin-tool not the one it just built.

[2019-03-11 15:00] rossburton commented on #102
Actually installed master and re-ran the tests.  Just one failure instead of lots:

[code]

[2019-03-11 15:51] pdxjohnny commented on #102
Great! This looks like an issue with the curl supplemental data, related to #103 i'd think

[2019-03-12 02:41] wzao1515 commented on #102
That's wierd, I competely removed the cache and run the test, it could pass this test case if I used unittest.
[code]

[2019-03-12 08:17] PrajwalM2212 commented on #103
I will check this today.
But I think data is cached but function is called many times.

[2019-03-12 08:30] rossburton commented on #103
One of those print() calls was with the network operation.

On Tue, 12 Mar 2019 at 08:18, PRAJWAL M <notifications@github.com> wrote:

[2019-03-12 08:45] PrajwalM2212 commented on #103
Then I will check and see what went wrong.

On Tue, 12 Mar 2019, 2:03 pm Ross Burton, <notifications@github.com> wrote:

[2019-03-12 10:40] PrajwalM2212 commented on #103
@rossburton I checked the code. There was nothing wrong with the code. The database exists and data is cached.
The current implementation waits 30 days from a release before downloading new data.  Since 32 days have passed since the last release date and yet there is no release, it fetches the data again. It will continue to fetch as long as new release does not happen.
Probably setting it to 60 d

[2019-03-12 10:44] rossburton commented on #103
I put a print() in sqlite.py:

[code]

Then run cve-bin-tool:

[code]

It is downloading from sqlite.org for every file that is being scanned.

[2019-03-12 10:53] PrajwalM2212 commented on #103
@rossburton That has nothing to do with the database code I wrote. It is the way tests are run.
This is what I added in libtiff.py
<img width="461" alt="Screen Shot 2019-03-12 at 4 21 36 PM" src="https://user-images.githubusercontent.com/30733262/54194778-07c31080-44e3-11e9-80c0-fb5a75c67e44.png">

But, this print statement will run for every scanned file or tests.
<img width="352" alt="Screen Sho

[2019-03-12 10:57] rossburton commented on #103
I think you're misunderstanding.  Almost every file, sqlite.py is downloading `changes.html`. This is not a working cache.

[2019-03-12 11:01] PrajwalM2212 commented on #103
Then the database has to be made more automatic.
Last update date must be saved and update should be done only after 30 days from when the database was updated.

[2019-03-12 11:03] PrajwalM2212 commented on #103
You can set the number to say 40 and 60 in `mapdb = VersionSignatureDb('sqlite', get_version_map, 40)` in `sqlite.py` then it does not download everytime.

[2019-03-12 11:05] rossburton commented on #103
Yes.  The last release was 31 days ago, the code should be checking how long since it last checked instead.

Also, the refresh logic where it calculates the difference is pretty poor python.  If you subtract one `datetime` from another the results is a [timedelta](https://docs.python.org/3/library/datetime.html#timedelta-objects) which has a `days` attribute: no need to mess around with `str()` an

[2019-03-12 11:17] PrajwalM2212 commented on #103
The refresh logic is redundant rather than poor ,  I  did not know the available methods in `datetime` or `timedelta`.  Thanks for the docs.

[2019-03-12 11:36] PrajwalM2212 commented on #103
@rossburton Should I store the current date (recent database update date) in a new database or store it in the current database as a singe entry ?

[2019-03-12 11:37] rossburton commented on #103
Putting it in the same database means you can't have any problems with the two being out of sync.

[2019-03-19 16:05] terriko commented on #98
This sounds like a perfect real-world test setup.  I'm going to flag this with the 'gsoc' tag because this might be a reasonable addition to a gsoc project proposal, although people are of course welcome to work on it outside of that scope.

[2019-03-19 16:26] PrajwalM2212 commented on #98
@terriko  What should be done here ?

[2019-03-19 16:43] terriko commented on #98
write tests using the tarballs!  I'm working on a real-file test over in #99 (although it has a bug) and you can look at the existing ones for the extractors.  You'd want to hide it behind a LONG_TEST flag.  Once the test works at all, it'd be nice to figure out some logic for caching results so that you can compare vs last release or some previous commit.

[2019-03-19 16:50] terriko opened #105 "Add flag/tests for python strings/file implementation"
In #100 I switched the logic so that we use system strings/file if they're available, but this makes it a pain to test that code without messing with your system path.  It would be nice to have a command line flag for folk who want to run it to do tests/check performance using that code.

Similarly, it'd be nice to have tests (probably hidden behind the LONG_TESTS flag for now) that provided code

[2019-03-19 16:55] terriko opened #106 "Add pylint to travis"
In #91 I attempted to have Travis run pylint for us but not require a full pass yet.  It didn't work the way I wrote it, and I haven't gone back to it because I don't know how to test travis.yml files without irritating everyone with extra checkins.  I'm opening this up in case anyone else has the skills to fix it.

[2019-03-19 16:57] terriko commented on #105
The tests might be harder, but the command line flag itself should be fairly easy I think.  They don't have to both happen in the same PR.

[2019-03-20 18:35] terriko opened #107 "Add tests using real files"
To make the basic test suite run quickly, we use "faked" binary files to test the **CVE mappings**.  However, we want to be able to test real files to test that the **signatures** work on real-world data.

In #99, I've added a _file_test function (to match the existing _binary_test) that takes a url, and package name and a version, and downloads the file, runs the scanner against it, and makes sur

[2019-03-20 18:37] terriko commented on #107
(Adding the gsoc tag since this is a good easy PR for prospective GSoC students)

[2019-03-21 23:38] terriko opened #110 "sqlite checker fails to detect sqlite-3.1.2 rpm"
In #108 @wzao1515 has a test against sqlite-3.1.2 that is failing to detect sqlite.

When I manually run the following, I also don't detect sqlite
[code]
My output look like this:
[code]
This is probably a bug in the sqlite checker.

[2019-03-21 23:51] terriko commented on #24
We're looking for "real file" tests of the scanners, if anyone's interested in working on those, details on how to add one are are available in #107.  Short version, your test will look like this:

[code]

And when you test it locally, you'll need to make sure you have LONG_TESTS enabled, so this one would have to be run as follows:

[code]

[2019-03-21 23:53] terriko commented on #53
Added instructions above on how to add a different type of test, for folk still looking for a first (or 15th) commit.

[2019-03-21 23:56] terriko commented on #107
Note that when you test this, you'll need to enable LONG_TESTS as follows:
[code]

[2019-03-23 20:02] wzao1515 opened #112 "Handle out-of-space errors during nvd download more gracefully"
When I removed all the cache and re run the test, NVD download would get killed.
[code]

[2019-03-23 20:08] wzao1515 commented on #112
Ubuntu 16.04 LTS
x86_64
2 CPUs

[2019-03-24 14:57] pdxjohnny commented on #112
hmmmm, that is usually indicative of an out of memory error.

[2019-03-24 15:07] pdxjohnny commented on #112
Hmm, Ya it uses almost 1G, that could be why.

[code]

[2019-03-27 05:18] DrEuler opened #114 "Writing Unit Test for which ones"
Hi, so I wanted to write unit tests in the test_scanner file however all of them seems to be complete already. How should I proceed?

[2019-03-27 22:42] terriko opened #115 "Check for false positives with real files"
Currently the "real file" check I've added to the scanner tests checks to see if the scanner correctly detects the expected file as the thing we know it to be, but does not check to see if it detects is also as anything else.  We should do something more like the "faked binary" tests where it makes sure that other things are not deteced.

In the faked binary tests, we give a list of known-in-this-

[2019-04-03 00:48] terriko opened #116 "New checker: GNU ncurses"
New checker request: GNU ncurses

Link: https://www.gnu.org/software/ncurses/

CVE list: https://www.cvedetails.com/vulnerability-list/vendor_id-72/product_id-38464/GNU-Ncurses.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-04-03 00:50] terriko opened #117 "New checker: libexif"
**WARNING: This may be a hard checker to do with our current signature detection methods.  Don't attempt this unless you're specifically looking for a challenge.**

New checker request: **libexif**

**webpage**: https://libexif.github.io/
**source code**: https://github.com/libexif/libexif
**cves**: https://www.cvedetails.com/vulnerability-list/vendor_id-2861/Libexif.html
**Instructions**: [How to

[2019-04-03 00:53] terriko opened #118 "New checker: libicu"
New checker request: libicu

Website: http://site.icu-project.org/

[2019-04-03 17:48] terriko commented on #114
The tests we're really missing right now are the file tests (See #107) so a great place to start right now is on the scanners we don't have file tests for!

Currently we have file tests for:
* curl
* sqlite
* xml

which means we're missing file tests for
* expat
* kerberos
* libgcrypt
* libjpeg
* libnss
* libtiff
* node
* openssl
* png
* systemd
* xerces
* zlib

So there's lots to do there!

Also,

[2019-04-03 22:49] terriko opened #119 "Finish setting up cve-bin-tool with scan.coverity.com"
I started signing us up to use scan.coverity.com to make use of their free static analysis for open source projects.  I'm opening this bug so I don't forget to finish setting up builds.

[2019-04-03 23:00] terriko commented on #9
Anyone working on this now, see instructions in #107 on how to add a new real file test.

[2019-04-03 23:12] terriko commented on #24
I added a batch of new checker requests to github issues today that could be relevant to this gsoc idea.
[search for "new checker"](https://github.com/intel/cve-bin-tool/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+%22New+checker%22+)

[2019-04-03 23:14] terriko commented on #24
I also made a new tag "signature needs work" to flag the ones where we know there's no easy version string we can use as a signature, so people know those aren't the best ones to start on.  I'm open to better ideas of what to call the tag, too.

[2019-04-08 18:50] yinsain commented on #23
For the basic prerequisite mentioned by the team for Getting started for cve-bin-tool in GSoC 2019, I have initiated a pull requetst. #120 . Interested in working on signatures of various libraries on Linux as well as Windows.

[2019-04-11 21:02] terriko commented on #119
In case anyone's wondering: I've tried a couple of times to work on this this week, but scan.coverity.com has been down, so no luck.

[2019-04-19 19:23] terriko commented on #119
This works now, but for some reason I can't see the results properly (only the dashboard, no details).  I've sent an email for support.  It did find an incorrect expression, but I can't tell where right now.

But you can see the results summary here: https://scan.coverity.com/projects/intel-cve-bin-tool

My dashboard is warning me that it's not fully configured yet, but I don't see much point in d

[2019-04-19 19:23] terriko commented on #114
Closing this now since it was answered!

[2019-04-19 19:23] #114 closed

[2019-04-19 22:53] #110 closed

[2019-04-19 23:00] terriko commented on #110
In case anyone was wondering: it turns out that rpm has a much simpler version string, so we now look for that as well.

[2019-04-22 19:01] terriko commented on #119
I still can't see results, but @pdxjohnny could so it's something with my account only and not a general setup problem.  I'll wait to hear from the coverity team to resolve my problem.

The found issue was in some 2/3 polyglot code in the test cases, so nothing particularly urgent or sensitive, so we can probably file a bug for it.

[2019-04-22 20:14] pdxjohnny opened #123 "test: strings: Identical code for different branches [coverity]"
CID 197703 (#1 of 1): Identical code for different branches (IDENTICAL_BRANCHES)identical_branches: Ternary expression on condition sys.version_info.major == 3 has identical then and else expressions: "\n". Should one of the expressions be modified, or the entire ternary expression replaced?

https://github.com/intel/cve-bin-tool/blob/a3b32eb9aea3c332bae1ca39fcb0e4d0f5e008a2/test/test_strings.py#L

[2019-04-22 23:51] #43 closed

[2019-04-23 00:28] wzao1515 commented on #123
Is b'\n' the same as '\n\'? Because in python3 the implemented string function would read the file as byte which in python2 it is just string.

[2019-04-24 00:03] terriko opened #126 "test_expat_deb_2_2_0 is failing"
In #125 I set up some new file tests and test_expat_deb_2_2_0 is not working.

The expat checker works fine on the expat rpm test, but fails on the deb one.  My guess is that there's some difference in the version string so we'll need to add another option.

[code]

[2019-04-24 00:07] terriko opened #127 "test_jpeg_rpm_2_0_0 is failing"
In #125 I added some new file tests and test_jpeg_rpm_2_0_0 is failing.

The test is correctly detecting libjpeg-turbo, but is getting the wrong version (6.2 instead of 2.0.0) so there's probably an error in the get_version function.

[code]

[2019-04-24 00:10] terriko opened #128 "test_kerberos_rpm_1_1 is failing"
In #125 I've added new file tests and test_kerberos_rpm_1_1 is failing.

The checker correctly detects kerberos, but does not find a version number.  That speaks to an error in the checker, but it's also possible that this test is bogus and the package (python-kerberos) shouldn't have been detected.  More investigation is needed. (Another test might also be nice in addition to this one, but this o

[2019-04-24 00:13] terriko opened #129 "test_nss_rpm_3_26_2 is failing"
In #125 I've added new file tests and test_nss_rpm_3_26_2 is failing

It seems to be detecting nss but not finding the version.  This is probably a bug in the get_version function

[code]

[2019-04-24 00:15] terriko opened #130 "test_sqlite_rpm_3_1_2 has a weird result"
in #125 I added some new file tests.   This one is odd.  test_sqlite_rpm_3_1_2 correctly detects sqlite with the correct version in the library, but the executable shows up as "UNKNOWN". We may need additional signatures in get_version.

[code]

[2019-04-24 00:17] terriko opened #131 "test_systemd_rpm_219 is failing"
In #125 I added new file tests and test_systemd_rpm_219 is failing.

It correct detects systemd in a whole pile of files, but does not get a version from any of them, apparently.

[code]

[2019-04-24 00:18] terriko opened #132 "test_xerces_rpm_3_1_1 is failing"
In #125 I added some new file tests and test_xerces_rpm_3_1_1 is failing.

The checker correctly identifies xerces, but does not get a version.

[code]

[2019-04-24 00:23] terriko opened #133 "test_xml2_rpm_2_9_8 is failing"
In #125 I added some new file tests and test_xml2_rpm_2_9_8 is failing.

test_xml2_rpm_2_9_1 is passing, so things aren't totally wrong.  test_xml2_rpm_2_9_1 is from centos and test_xml2_rpm_2_9_8 is from fedora, so I would have expected them to be pretty similar.

[code]

[2019-04-26 17:00] terriko opened #134 "Write instructions/config files to run the CVE binary tool in Travis"
The CVE Binary Tool has a nice pypi package, and should be super easy to run in Travis.  It would be nice if we had instructions on how to do that so other projects could more easily integrate us into their continuous integration.

[2019-04-26 17:02] terriko commented on #123
b'\n' is sometimes the same as '\n' -- that's why there's the compatibility check is in there.  But I don't know if it's explicitly needed in this context so someone would have to actually check it in python 2.7 and several versions of 3 and see if it works if we just use b'\n' without the else.

[2019-04-26 17:23] wzao1515 commented on #123
Yea I tested on my laptop and found that this works when using b'\n' only for both python2 and python3. However it won't work when I used '\n' only. I made a pr for changing this to only splitted by b'\n'.

[2019-04-26 21:44] #123 closed

[2019-05-01 14:44] yinsain opened #137 "test_libexif0_6_21 is failing"
This output is from travis, mostly the missing CVEs from 2018.

FAIL: test_libexif_0_6_21 (test.test_scanner.TestScanner)
Scanning test-libexif-0.6.21.out

Traceback (most recent call last):
  File "/home/travis/build/intel/cve-bin-tool/test/test_scanner.py", line 640, in test_libexif_0_6_21
    [
  File "/home/travis/build/intel/cve-bin-tool/test/test_scanner.py", line 91, in _binary_test
    sel

[2019-05-31 23:28] terriko commented on #117
Currently being worked on in #136 but signature in that PR still needs work.

[2019-05-31 23:32] terriko commented on #107
All of the checkers currently have at least one file test as of #125.  We have confirmed that some signatures work on some packages but not others, so if you're looking to add new tests of this type, I recommend trying to make sure you get ones in different formats or from different distributions.  For example, if there's already a .rpm from fedora, try adding a .deb from debian or a .tar.gz from

[2019-06-01 00:19] terriko commented on #90
Since no one else has touched this in a while, I'm going to start it in #139

[2019-06-03 23:05] szollin opened #140 "No summary when using verbose"
When scanning with the python3 call, the scanner is not outputting a summary at the end. All the happens is that it lists the files and block then the scan ends. Below is the beginning and ending output. I cut the middle out since it's a lot of the same and nothing special is there.
[code]

[2019-06-04 21:15] #90 closed

[2019-06-04 22:11] terriko commented on #140
The more I think about this, the more I think the "there are 0 results" should be on the default output and not just the verbose one. I'll probably fix it that way.

[2019-06-04 22:55] terriko commented on #119
I still haven't gotten the results working for my account, but since this seems to be a problem specific to me and not to the setup, I'm going to close this.

[2019-06-04 22:55] #119 closed

[2019-06-04 22:57] terriko commented on #102
Is this still happening for you, @rossburton ?

[2019-06-04 23:06] #140 closed

[2019-06-04 23:21] terriko opened #142 "NVD updater doesn't obey quiet flag"
Noticed this while addressing #140 : the NVD updater doesn't get passed the verbose or quiet flags, and thus prints output even when the output should be suppressed.

[2019-06-05 12:08] rossburton opened #145 "Test suite fails if cabextract isn't present"
The test suite fails if cabextract isn't present:

[code]

The cab tests should check that `cabextract` is actually present before exercising that codepath.

[2019-06-05 12:09] rossburton commented on #102
No, that specific problem doesn't happen anymore.  I did hit another issue that I filed as https://github.com/intel/cve-bin-tool/issues/145.

[2019-06-05 12:09] #102 closed

[2019-06-05 23:33] #142 closed

[2019-06-10 17:28] ctksnowman opened #147 "Is there away to make the tool extract the names and versions from a CSV file?"
I would like to use this tool to pull names and versions from a csv file, is this possible? if so could some one give me some guidance on how to do so.  (New to python)

[2019-06-10 17:28] terriko commented on #145
I've been debating this and I think we probably want it to fail if cabextract isn't present, because the tool itself won't be fully functional without it.  But it should probably fail with something like "cabextract not available" so you can tell at a glance what the problem was, rather than "false is not true" which is utterly unhelpful.

[2019-06-10 18:21] pdxjohnny commented on #147
Names and versions of what? Could you provide an example csv file?

[2019-06-10 18:42] terriko opened #148 "Detection regression for zlib 1.2.11, curl 7.63.0, openssl 1.1.0j, openssl 1.0.1i"
We may have a detection regression since the latest release: the current git tip is getting 0 cves but the older version was finding zlib 1.2.11, curl 7.63.0, openssl 1.1.0j, openssl 1.0.1i:

I don't have access to the package they were working on that was triggering this, but we should do some testing against those versions to see if something changed.

[2019-06-10 19:09] terriko commented on #147
This should be doable: you'd need to have the information from get_version dump into your CSV regardless of whether a CVE is found.  The section you'd need to modify is down around line 161 in cli.py.

[code]

If you look at that, you can see that it's only storing the modulename + version if it finds a CVE.  But it *does* print out the versions found in the verbose output.  So you could parse tha

[2019-06-14 19:08] terriko commented on #147
Oh, and if you wanted to skip the binary scanning aspect and just check names/versions from a known list, you can probably just use [get_cves ](https://github.com/intel/cve-bin-tool/blob/8a9133131cce71f473b995a5d1fb957130605966/cve_bin_tool/cli.py#L102) directly, using the same vendor+package pairs found in the checkers.

[2019-06-14 19:55] terriko commented on #145
@rossburton : proposed "fix" that improves the error message and doesn't waste time downloading files when extraction is going to fail.  It doesn't actually stop the test from failing, just makes it fail faster and hopefully more obviously.  Does that work for you?

[2019-06-14 20:20] rossburton commented on #145
Left a comment on the PR, thanks.

[2019-06-14 22:02] #145 closed

[2019-06-14 23:16] terriko commented on #148
Further testing from @pdxjohnny found that his tests actually *do* detect the appropriate files with some minor differences in the actual CVEs detected.  I'll leave it up to him to close this issue if he thinks it's not needed any more.

[2019-06-19 18:30] #133 closed

[2019-06-19 20:01] terriko commented on #132
Turns out there's no really clear identifier in the centos package that gives you 3.1.1, so I'm going to merge a patch that identifies it as 3.1 for now, and change the test to match but leave an issue open about it.  It's possible we can find some string that was changed between 3.1 and 3.1.1 for more refinement in the future.

[2019-06-19 20:06] terriko opened #159 "xerces detection on centos only does 3.1 not 3.1.1"
As mentioned in #132, finding a good new signature here is going to require some additional finesse.  For now, I'm defaulting to just finding that it's version 3.1 at risk of some extra false positives on the CVE front, but ideally we'll find a better way.

[2019-06-20 18:38] #132 closed

[2019-06-20 19:23] terriko commented on #130
Best I seem to be able to do for the sqlite executable is the major version number.  The PR that I'm working on will print 3.UNKNOWN so that it doesn't trigger false positives for now.

I can tell that it's printing from the string "SQLite version %s" so the version *is* stored somewhere in the ELF binary, but not in a way that we are getting out of strings.  We've seen this pattern in other check

[2019-06-20 21:35] terriko opened #162 "Investigate extracting version numbers directly from ELF"
We've seen in a few cases that the version number isn't included in a useful version string.  #161  has a pretty common example where sqlite's version string is "SQLite version %s" so we know that the version is stored somewhere, but it's not where strings will find it.

With some per-package legwork, we might be able to find a way to pull these from the ELF binaries directly, and the theory is th

[2019-06-21 21:10] terriko commented on #128
With some further examination, it doesn't look like a useful test -- it's detecting the kerberos.so file, which isn't a full copy of kerberos so we can't get a version out of it.  In #165 I replace this file test with some for the krb5 libraries on debian and centos.

[2019-06-25 19:32] terriko commented on #106
Fixed in #168, although we've switched to using Black rather than having pylint nags.  I am hoping this will be less hassle overall.

[2019-06-25 19:32] #106 closed

[2019-06-25 22:21] terriko commented on #38
The error messages were addressed a while ago, and the test error messages more recently, so I think it's safe to close this one now.

[2019-06-25 22:21] #38 closed

[2019-06-25 22:24] terriko commented on #9
As of #125 we have at least one real file test for every checker, and as of last week I have PRs waiting for review that address all the issues found.  I'll leave #107 open for those who want to enhance the test suite further, but I think this issue can be closed.

[2019-06-25 22:24] #9 closed

[2019-06-25 22:27] #131 closed

[2019-06-26 10:19] rossburton opened #171 "systemd checker detemines wrong version"
[code]

No, this is a v242 snapshot from the 242-stable branch.

[2019-06-26 10:23] rossburton opened #172 "NSS checker doesn't detect a version correctly"
[code]

What version? CVE-2016-9574 was fixed in 3.3.0 and this is 3.44 so the detection/reporting is broken.

[2019-06-26 10:35] rossburton opened #173 "CVE version ranges not handled correctly"
[code]

All of those CVEs (for example [CVE-2016-0718](https://nvd.nist.gov/vuln/detail/CVE-2016-0718)) are fixed in 2.2.0:

[code]

[2019-06-26 14:39] pdxjohnny commented on #173
Related #1

[2019-06-26 14:49] rossburton commented on #173
Yes, that's the same. Closing, sorry for the duplicate.

[2019-06-26 14:49] #173 closed

[2019-06-27 20:51] #103 closed

[2019-06-27 21:28] terriko commented on #171
The current signature list is
[code]
They're not great signatures, but I'm at a loss as to how to improve them.  Do you think it's a compatibility thing triggering one of those accidentally?

Can you get me a link to the actual file you're using so I can test it?  I got as far as https://git.yoctoproject.org/cgit.cgi/poky/tree/meta/recipes-core/systemd?id=0a2382cdca2acaa9df008ff66018bbc3fa00bb05 b

[2019-06-27 21:40] terriko commented on #172
Does #164 help with this?  I know our signatures didn't cover openSuSe so they could easily be screwed up in the same way for poky.

[2019-06-27 21:56] rossburton commented on #171
From memory of running strings on the files a few days ago, you'll want to sort everything that matches.  I definitely saw at least one file that had LIBSYSTEMD_209 _210 all the way up to _242 in.

[2019-06-28 00:35] terriko commented on #171
Oh, I did see that in one file when I was debugging for #167!  Hmm, maybe if I sort the lines before I send them to the regex I can get the correct behaviour consistently.

[2019-06-28 18:50] terriko commented on #6
I see what you mean, but I'm not sure what the right thing to do is?  I grabbed a random split debug from fedora and there just doesn't seem to be enough information in there to get the version info.  It's probably ok that we can detect that it's still "expat" (because then people can check in case something else in the detection has gone awry) but I'm not sure if we can do better when the actual

[2019-06-28 18:54] terriko commented on #6
Put up a draft PR #174 with a test that can trigger the issue, in case anyone else has a better idea of how to proceed or wants to help debug.

[2019-07-01 09:11] rossburton commented on #6
I'd suggest just filtering out .debug/ directories.

[2019-07-02 20:17] #128 closed

[2019-07-02 20:36] #126 closed

[2019-07-02 20:37] #127 closed

[2019-07-02 20:40] terriko commented on #129
Fixed in #164

[2019-07-02 20:40] #129 closed

[2019-07-02 20:43] terriko commented on #130
Okay, I've done the best I can in #161 to show what data we can find and filed #162 to examine ways to improve on what we can detect, but I think this is the best we're going to get for now so I'm going to close this particular issue.

[2019-07-02 20:43] #130 closed

[2019-07-02 20:48] terriko opened #177 "Add flag to skip automatic updates for nvd and mapping data"
By default, the NVD database updates once per day and checks every time cve-bin-tool runs to see if it should do that.  To facilitate running the script offline, it would be nice to have a flag that suppressed updates.

[2019-07-02 23:43] terriko commented on #147
@ctksnowman  Check out PR #176 -- it may do what you want.

[2019-07-05 21:54] terriko commented on #171
I made you a really simple patch in #178 if you want to try it against your data and see if that fixes the issue (or possibly makes it worse?)

[2019-07-05 23:27] terriko opened #179 "Make it possible to run cve-bin-tool tests without a compiler?"
We've now got some c code to handle the case where strings isn't available on the system (e.g. on windows) but the tests abort during setup if there's no compiler available.  We should make it fail more gracefully, ideally failing tests related to that code but not failing the whole setup if it's not necessary.

[2019-07-05 23:28] terriko commented on #179
@wzao1515 - you get first crack at this bug if you want it, since it's related to your code.

[2019-07-08 16:05] rossburton commented on #171
Not convinced that will solve more problems that is causes :)  How about taking the matches from the regex and throwing them into a `distutils.version.LooseVersion` which can be sorted?

[code]

[2019-07-08 16:05] rossburton commented on #171
(I shall try that patch shortly)

[2019-07-10 18:31] pdxjohnny opened #181 "Parallelize scanning"
We should use the [multiprocessing](https://docs.python.org/3.7/library/multiprocessing.html) library to run scans in parallel.

1. Change `cve_bin_tool.cli.main` to extract all files before any scanning
2. Build a list of all files present (you probably want to use `glob.glob("path/to/scan", recursive=True)`)
3. Use `Pool.map` (Use a `chunksize` of `multiprocessing.cpu_count() * 4`) to run `cve_b

[2019-07-10 18:33] #118 closed

[2019-07-16 16:38] terriko commented on #171
Yeah, I don't think this is the final solution (so inefficient!), it was just the quick lazy way to see if the right version was likely even in there.

[2019-07-17 00:24] terriko opened #182 "Unify logging vs verbose/quiet flags?"
We currently have flags for --verbose (and its inverse --quiet) and *also* a set of logging options under -l.  It would be nice to unify these options so you could *just* specify output in one way.  Probably --log could handle both.

[2019-07-17 00:40] terriko commented on #137
I'm going to close this for now, since it's against #136 which isn't part of master or any release, and is currently blocked by a need for signature enhancements (which could mean it's blocked for a while).  It can be re-opened for investigation if a libexif checker is merged into master.

[2019-07-17 00:40] #137 closed

[2019-07-17 00:44] terriko commented on #148
Further investigation turned up some other issues in the environment where this bug occurred -- probably these specific packages aren't the relevant bit of information for the problem.  I'm going to close this for now.  @szollin if you manage to get any new insights into what was going wrong here, feel free to re-open this or open a new bug for tracking.

[2019-07-17 00:44] #148 closed

[2019-07-17 00:46] terriko commented on #147
I think this has most likely been handled by #176 which is now merged, so I'm going to close this issue.

[2019-07-17 00:46] #147 closed

[2019-07-17 11:44] rossburton commented on #171
I think you meant `reversed(sorted(...))`, as otherwise it is guessing the lowest of all matches.

However, now it guesses v243 here due to the symbol table adding a `LIBSYSTEMD_243` entry in the post-242 stable branch.

[2019-07-18 00:36] terriko commented on #177
Not just NVD: you'd want to have this also skip update on the mapping_data in VersionSignature.py.  I'll update the title to reflect that.

[2019-07-23 19:39] wzao1515 opened #185 "Potential bugs with test_scanner"
If I run `nosetests test/test_scanner.py`, one of the icu test will fail:
[code]
However, if I run the icu test individually like
[code]
the test will pass:

[code]

[2019-07-23 21:16] terriko commented on #185
I think this might be a nosetests problem rather than a test_scanner problem.  It's failing but giving you the results for the test directly under the icu test, which is test_curl_7_34.

[2019-07-23 21:18] wzao1515 commented on #185
Yes I agree, does this imply that we should not use nose test?

[2019-07-23 21:20] terriko commented on #185
That's probably the easiest solution.  Looks like nosetest isn't getting updates so even if we figure out what the problem is, there may be no one around to accept a fix: https://nose.readthedocs.io/en/latest/

[2019-07-24 18:36] #185 closed

[2019-07-31 17:34] #181 closed

[2019-07-31 17:38] pdxjohnny commented on #1
https://github.com/intel/cve-bin-tool/issues/171#issuecomment-509288558

might be helpful

[2019-07-31 17:40] pdxjohnny commented on #1
Example usage of LooseVersion

https://github.com/python/cpython/blob/e42b705188271da108de42b55d9344642170aa2b/Lib/distutils/tests/test_version.py#L50-L65

Source: https://github.com/python/cpython/blob/3.6/Lib/distutils/version.py

[2019-07-31 21:45] terriko commented on #177
@wzao1515 's patch did the opposite: now updates are disabled by default and updates only happen when requested.  I haven't decided if no-update should be the default behaviour or if we should have update, no-update, and default once a day.

[2019-07-31 21:59] terriko commented on #112
We should be able to fix this by checking for `errno.ENOSPC` (the out of space error) in nvd's download section, but I'm thinking we might be better served by warning people that the database uses nearly 1G when the download starts so they know what they're getting into before it breaks anything.  Anyone else have an opinion?

[2019-07-31 22:04] terriko commented on #71
For when this gets worked on: the sha hashes are in the "meta" available alongside each file, for example:
https://nvd.nist.gov/feeds/json/cve/1.0/nvdcve-1.0-modified.meta

And the whole json list with those meta files is here:
https://nvd.nist.gov/vuln/data-feeds#JSON_FEED

[2019-08-05 23:24] terriko opened #195 "Improve behaviour if sha256sum fails"
#194 will add a sha256 sum check to the latest json .zip file as an integrity check.  Currently it warns if it doesn't match, but doesn't halt.  We should decide if we want it to halt or revert to a known state or if this behaviour is fine for now.

[2019-08-06 18:38] terriko opened #196 "Add negative test case for sha256sum check failure"
In #194 I introduced a sha256sum check against the json metadata provided by NVD.  There are currently tests that should pass (one diagnostic test and then the code will also be triggered by the usual nvd test cases), but we could use a test that causes a failure.

[2019-08-06 19:50] terriko opened #197 "Improve NVD output so error messages go to stderr instead of stdout"
While working on #194, I noticed that my error message was the first thing in that file that printed to stderr instead of stdout.  It's highly unlikely that this is correct behaviour.  Fixing this could be a reasonable phase 1 towards eventually solving #182.

[2019-08-07 00:21] terriko opened #199 "Add test for --skips flag"
The CVE Binary Tool as a --skips flag that allows you to specify a list of checkers to skip.  It currently has no test.

Ideally, you should have it scan a file that should have a cve (maybe use one of the short tests in test_scanner.py) and show that it finds something when the flag is not used, and finds nothing when the relevant checker is skipped.

But honestly, just a test to make sure the fl

[2019-08-07 18:49] #177 closed

[2019-08-07 19:03] terriko opened #202 "Behaviour test for --update flag"
#200 has a basic parameter test for the --update flag options to show that they can be called from the command line without error, but it doesn't do any deeper test to show that they have the expected behaviour.

Some thoughts:
1. Make sure that `-u never` does in fact not do the update.  you could check to make sure that the updating message `Updating CVE data. This will take a few minutes.` does

[2019-08-08 18:40] terriko commented on #1
Comparing versions:

Since distutils (while it works) is kind of undocumented, we could also use setuptools's `pkg_resources.parse_version()` -- example in the bottom of this section:

https://setuptools.readthedocs.io/en/latest/setuptools.html#specifying-your-project-s-version

I don't really have a preference on that front, though.

[2019-08-08 18:53] terriko commented on #1
As per our discussion today, a logical solution for searching all previous version could wind up with duplicated memory happening in the multiprocess case.

Some options:
1. Accept the duplication and plow forward.  This probably isn't going to be a *huge* issue for scanning individual files or small packages since most of them aren't going to have 12 versions of the same library, and we can wait

[2019-08-09 19:04] terriko opened #203 "Become the "advisor" tool for the OSS review toolkit?"
https://github.com/heremaps/oss-review-toolkit

The OSS review toolkit is an open source license compliance tool, but they've got a planned "Advisor" module that would warn people about security advisories.

We can almost certainly do this using https://github.com/intel/cve-bin-tool/blob/master/CSV2CVE.md and maybe some additional mapping from their Analyzer database to the NVD one.   I'd like to

[2019-08-19 20:14] rossburton commented on #172
Hm, better:
[code]

So some matches but still some misses.

Digging into `strings` output of `libss3.so`, I find that it contains `Version: NSS 3.45`.  Looks like your regexes in #164 were too strict, I'd match something like `\d+(\.\d+)+` instead.

[2019-08-19 22:30] rossburton commented on #5
After deleting the cached CVE data and re-scanning expat:

[code]

There needs to be a way to spot that historical files have changed, because when I find CVEs with broken data I often get the CVE fixed.

[2019-08-19 22:30] #5 closed

[2019-08-19 22:33] pdxjohnny commented on #5
Yes I believe the nvd updater isn't updating non-current year JSON files, it should be changed so that it doesn't just update from current year.

[2019-08-19 22:34] rossburton opened #210 "Detected changed historical data"
The cache refresh logic doesn't handle a historical data changing.  For example some CVEs from 2012 were updated recently to fix the CPEs, but the data files are never refreshed by cve-bin-tool.

Our CVE database fetcher looks at a metadata file alongside the JSON to determine if it should redownload the JSON: https://github.com/openembedded/openembedded-core/blob/master/meta/recipes-core/meta/cve

[2019-08-19 23:13] terriko commented on #210
Temporary workaround: periodically doing `cve-bin-tool -u now` *will* delete all cached files and re-download.

Long term, though, this bug needs a real fix.  There's notes about it in the source code of NVDAutoUpdate.py.

[2019-08-27 18:02] #172 closed

[2019-08-29 00:12] terriko commented on #23
Closing this issue since GSoC 2019 is coming to an end.  We'll probably start working on new ideas for GSoC 2020 in January!

[2019-08-29 00:12] #23 closed

[2019-08-29 00:13] terriko commented on #24
Closing this since GSoC 2019 is drawing to a close, but this will probably be an idea in GSoC 2020 because we can *always* use new checkers!

[2019-08-29 00:13] #24 closed

[2019-08-29 00:14] terriko commented on #53
Completed and released in 0.3.0.  Thanks @wzao1515 for all your great research and work to make this happen!

[2019-08-29 00:14] #53 closed

[2019-09-02 06:21] Patil2099 commented on #199
@terriko Can you work on this issue?

[2019-09-02 18:42] rossburton commented on #172
[code]

Verified.

[2019-09-11 22:41] terriko commented on #199
@Patil2099 Do you need a test for this for some specific reason?  I was going to leave this open for new contributors rather than work on it myself.

[2019-09-11 23:28] terriko opened #215 "Improve test coverage"
Our test coverage is decent, but there's room for improvement!

You can take a look at the [coverage via codecov](https://codecov.io/gh/intel/cve-bin-tool).  If you click through into individual files, such as [libcurl.py](https://codecov.io/gh/intel/cve-bin-tool/src/c9da2f3468775a7ad04dc0fde6025d86a8587ae5/cve_bin_tool/checkers/libcurl.py) you can see which lines have test coverage and which don'

[2019-09-12 01:50] Patil2099 commented on #199
@terriko I am really sorry. I forgot about it. I will work on it today.

[2019-09-12 21:02] nishakm opened #216 "cve-bin-tool fails when using -u option when .cache is not present in the home directory"
This is the first time I am using the `-u` option.
[code]

[2019-09-13 17:12] #216 closed

[2019-10-05 00:32] terriko commented on #28
I'm starting some work on this one.

[2019-10-08 22:15] terriko opened #220 "Update for NVD JSON 1.1"
The json data feed 1.1 changes have currently broken the auto-updater:
https://nvd.nist.gov/vuln/Data-Feeds/JSON-feed-changelog

I've updated the urls, but the code used the now defunct "affects" section so it'll need a bit more work and I'm debating if it's full-refactor time (which we're expecting to need for a good fix it bug #1 ).

[2019-10-08 22:21] terriko commented on #220
I'm hoping to have at least a temporary fix (without the bug #1 work) by the end of this week.

[2019-10-15 18:58] terriko commented on #220
Fixed in #222.  It's not a complete fix (we still haven't fixed bug #1) but it should bring the tool back to a working state.

[2019-10-15 18:58] #220 closed

[2019-10-15 19:19] terriko opened #223 "New Checker: linux_kernel"
New checker request: *Linux kernel*

**Source code**: https://www.kernel.org/

**CVEs**: https://www.cvedetails.com/vulnerability-list/vendor_id-33/product_id-47/Linux-Linux-Kernel.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-10-15 19:23] terriko opened #224 "New checker request: python"
New checker request: *Python*

**Source code**: http://python.org

**CVEs**: https://www.cvedetails.com/vulnerability-list/vendor_id-10210/product_id-18230/Python-Python.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-10-15 19:25] terriko opened #225 "New checker request: gstreamer"
New checker request: *gstreamer*

**Source code**: https://github.com/GStreamer/gstreamer

**CVEs**: https://www.cvedetails.com/vulnerability-list/vendor_id-9481/Gstreamer.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-10-15 19:27] terriko opened #226 "New checker: perl"
New checker request: *perl*

**Source code**: https://www.perl.org/

**CVEs**: https://www.cvedetails.com/vulnerability-list/vendor_id-1885/Perl.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-10-15 19:29] terriko opened #227 "New checker request: gnutls"
New checker request: *gnutls*

**Source code**: https://gitlab.com/gnutls/gnutls

**CVEs**: https://www.cvedetails.com/vulnerability-list/vendor_id-72/product_id-4433/GNU-Gnutls.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-10-15 19:31] terriko opened #228 "new checker request: ffmpeg"
New checker request: *ffmpeg*

**Source code**: https://www.ffmpeg.org/

**CVEs**: https://www.cvedetails.com/vulnerability-list/vendor_id-3611/Ffmpeg.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-10-15 19:33] terriko opened #229 "New checker request: bluez"
New checker request: *bluez*

**Source code**: http://www.bluez.org/development/

**CVEs**: https://www.cvedetails.com/vulnerability-list/vendor_id-8316/product_id-35116/Bluez-Bluez.html

**Instructions**: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

[2019-10-15 20:11] svnv commented on #228
I'm going to give this one a go.

[2019-10-16 00:55] terriko opened #231 "test_png_1_4_11 is broken"
test_png_1_4_11 includes a check for CVE-2016-10087, and that cve clearly lists 1.4.11 as vulnerable.  It *looks* like my local copy of the database is only listing libpng 1.6.26 as vulnerable for some reason -- definitely a bug, probably in my replacement NVDAutoUpdate parser.

[2019-10-17 17:34] FReeshabh commented on #229
Hi, I'd like to take on this!

[2019-10-17 17:38] FReeshabh commented on #202
I'd like to attempt this!

[2019-10-18 16:06] terriko opened #233 "Disable multithreaded downloads during tests to be more Travis-friendly."
Travis has been failing not because tests aren't passing exactly, but because it's timing out during the nvd download phase.

It *looks* like it might be running out of disk space?  This wasn't a problrem before, but it's *possible* that we've reached a threshold or something.  If so, we should try to find a way to resolve this (maybe make a mode that ignores some of the oldest json files?) so tha

[2019-10-18 19:31] terriko commented on #228
yay!  let us know if you have any trouble with it.  Some of these things have pretty weird signatures (as you may see if you look at the other bugs) so if you get stuck because it doesn't look like there's an easy string to use, please comment here so other people know!

[2019-10-19 01:15] FReeshabh commented on #227
I'd like to take this one on too!

[2019-10-19 01:19] FReeshabh commented on #223
Hi I am interested i this one, but was wondering on how a checker for this one would work. For most uses, I use `uname`, `uname -sr` as a utility for checking the kernel.
Thanks!

[2019-10-21 15:24] EmberQuill commented on #226
I'll give this one a shot.

[2019-10-28 14:50] terriko commented on #229
Completed in #232

[2019-10-28 14:50] #229 closed

[2019-10-28 14:51] terriko opened #237 "Add bluez test(s)"
#232 added a checker for bluez that currently has no tests.  It could use a "fake" file test as well as a test against a known bluez package.

You can read more about adding tests in the test directory README.md here: https://github.com/intel/cve-bin-tool/blob/master/test/README.md

[2019-10-30 10:30] terriko commented on #223
It might help to know that one of the common ways cve-bin-tool is used is on people's download pages so they can tell if they need to update an old rpm/zipfile or whatever because a package has a new CVE that probably didn't exist when it was put up for download.  So yeah, uname isn't going to work here.

With that use case, we don't really care that it's a kernel so much as we care that it has a

[2019-10-30 10:39] #228 closed

[2019-11-11 22:46] #227 closed

[2019-11-11 23:00] terriko commented on #233
After talking with @pdxjohnny : Current theory is running out of memory (not disk space) which might be allieviated if we turned off threading during the nvd download phase.  I'll change the title of this bug to reflect that.

[2019-11-15 01:34] terriko opened #247 "test test_ffmpeg_4_1_4 is failing"
I've disabled it for now to facilitate testing the workflows, but we should fix it and add it back in.

[2019-11-15 01:35] terriko commented on #231
I've disabled this test for the moment to facilitate testing of github workflows, but it definitely should be fixed.

[2019-11-15 01:36] terriko commented on #233
Well, the tests haven't gone exceptionally well... but the new github actions is out, so I'm working on switching us over to that in lieu of Travis.  So far, it's at least making it past the nvd download where Travis is freezing.

[2019-11-19 01:19] terriko opened #249 "test_sample_csv in test_csv2cve.py is failing in github actions"
I'm probably going to disable this test temporarily so that we can replace Travis with Github Actions (at least while Travis isn't working on this code; it still can run some tests we can't run in Actions), so I'm just noting that it's broken and we should look into why.

[2019-11-20 22:17] terriko opened #253 "Github actions loop on windows: "error: could not delete 'cve_bin_tool\pstring.cp36-win_amd64.pyd': Access is denied""
The new github actions would in theory allow us to have proper CI for our windows support, but the build goes into some sort of loop where it can't delete a file.  You can try to look at it here:

https://github.com/intel/cve-bin-tool/runs/312395570

But beware, the log file is so huge that the page kind of times out.

Here's an exerpt that shows what it's repeating over and over:
[code]

I'm not

[2019-11-26 15:05] nebi-frame opened #254 "How to query binary_name + version against DB?"
Hi our use case is that given binary name and binary version, let's say ghostscript 17.9 version, we want to check if there is a known vulnerability.

How can I achieve this with this tool?

[2019-11-26 16:18] pdxjohnny commented on #254
Hi @nebi-frame [CSV2CVE](https://github.com/intel/cve-bin-tool/blob/master/CSV2CVE.md) might be what you are looking for. Let us know if theres anything that could be more user friendly or if that's not exactly what you're looking for, we'll figure it out

[2019-12-09 15:31] rossburton opened #256 "Add lock around database update"
In automated use of cve-bin-tool it's possible that there are multiple instances in parallel, which will race to update the database.

How about a lock on the database so that other instances will wait instead of racing?

[2019-12-09 15:34] rossburton opened #257 "ffmpeg false positives"
The ffmpeg checker is very enthusiastic. With 0.3.1:

[code]

Pretty sure `libgcc_s.so` doesn't contain an embedded copy of ffmpeg.  Same problem for all of the gconv encoders in glibc too.

[2019-12-09 15:56] rossburton opened #258 "Doesn't handle non-UTF-8 filenames well"
When scanning a Python 3 install:

[code]

[2019-12-09 15:58] rossburton opened #259 "Exception when scanning util-linux"
When scanning a util-linux build tree, cve-bin-tool crashed like this:

[code]

[2019-12-09 16:11] rossburton commented on #259
Same error with the kernel:
[code]

[2019-12-09 16:46] rossburton opened #260 "Debug output left in?"
If I use `--quiet`:
[code]

Looks like debugging output that should be removed.

[2019-12-09 16:47] rossburton opened #261 "String/sequence confusion resulting in bad output"
[code]

Pretty sure the "Known CVEs in..." line shouldn't be formatted like that.

[2019-12-09 16:49] rossburton opened #262 "Machine-readable output"
Can we have a mode to have only machine-readable output?

For example the output is currently:
[code]

If I want to parse that I need to drop lines until I find "Known CVEs in" and then I have a CSV format.  A machine-readable mode would just be that output, and the not rest.

[2019-12-09 19:31] pdxjohnny opened #263 "cli: scanner: Ensure get_version returns dict with correct properties"
https://github.com/intel/cve-bin-tool/blob/cab7781b71f8ff18063ea1f95a06af1744328412/cve_bin_tool/cli.py#L187-L189

We should check that `"modulename"` and `"version"` are in `results` before we access them. If they are not we should log an error (containing the name of the offending checker) and continue gracefully.

Related: #259

[2019-12-09 19:32] pdxjohnny commented on #259
One of the checkers must be returning a bogus `dict`

[2019-12-13 00:42] terriko commented on #256
Hm, I thought sqlite3 handled this appropriately so it won't corrupt, but I may have to do some more reading to be sure.  Or are you seeing race conditions where multiple processes think they need to do the full update and wind up taking turns waiting for unlock and then accidentally updating the darned thing many times back to back?

[2019-12-13 00:47] rossburton commented on #256
Pretty sure I've seen multiple cve-bin-tools downloading the cve database in parallel.  I shall verify tomorrow.

[2019-12-13 00:48] terriko commented on #257
yeah, looks like "is_ffmpeg" is getting set but never checked, and then the version regex casts too wide a net.

This should be an easy fix: add a test for is_ffmpeg into https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/ffmpeg.py#L26 so that it only says it "contains" ffmpeg if that is true.

I probably won't get to this today, so I'll mark it as an easy bug in case anyone e

[2019-12-13 00:49] terriko commented on #256
yeah, I can believe that can happen if you managed to check before the last_updated field is changed.  We might be able to reduce the risk by making sure that's changed first.  I'll try to to dig into it tomorrow.

[2019-12-13 00:56] terriko commented on #261
looks like a rogue " ".join is overdoing it.  probably this one: https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/cli.py#L423

[2019-12-13 01:04] terriko commented on #260
Ugh.  You *might* be able to get rid of this with --quiet and --log critical but you really shouldn't have to.   I'll try to track down this specific instance, but I really really want to unify --quiet and --log so that we don't keep having these bugs.

[2019-12-13 01:13] terriko commented on #262
This is a great idea!  Probably this could happen at the same time as the output cleanup for --quiet and --log unification.

Although I'm pretty sure it's going to result in me having to write more security validation tests because now I'll have CSV output.  Oh well, I'll deal. ;)

[2019-12-13 01:22] terriko commented on #260
found it: https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/NVDAutoUpdate.py#L501

[2019-12-13 01:25] terriko commented on #260
#264 should fix this.

[2019-12-13 22:26] #260 closed

[2019-12-14 01:21] #257 closed

[2019-12-21 03:00] sunilk747 commented on #261
Hello @rossburton . I am new to this org and wanted to contribute. Is anybody working on this bug. If not I can take it up.

[2019-12-22 21:01] rossburton commented on #261
Feel free @sunilk747

[2020-01-08 01:27] terriko opened #266 "GSoC 2020 Project Idea: Add new checkers to the CVE Binary Tool"
The CVE Binary tool team is hoping to participate in Google Summer of Code (GSoC) under the Python Software Foundation umbrella.  You can read all about what this means at http://python-gsoc.org/.  This issue, and any others tagged 'gsoc' are not generally available bugs, but related to project ideas for GSoC.

# Project Idea : Add new checkers to the CVE Binary Tool

**Project description:** The

[2020-01-08 01:56] terriko opened #267 "GSoC 2020 Project Idea: Improve CVE Binary Tool Output"
The CVE Binary tool team is hoping to participate in Google Summer of Code (GSoC) under the Python Software Foundation umbrella.  You can read all about what this means at http://python-gsoc.org/.  This issue, and any others tagged 'gsoc' are not generally available bugs, but related to project ideas for GSoC.

# Project Idea : Improve CVE Binary Tool Output

**Project description:** The CVE Binar

[2020-01-08 16:56] qathy opened #268 "Exception while scanning libssh2"
Hello,

While scanning libssh2, cve-bin-tool raises "**KeyError: 'version'**" exception.
Detailed context below.

$ ls -l
total 2136
-rwxrwxr-x. 1 root root 723970 Apr 19  2019 libssh2.so*
-rwxrwxr-x. 1 root root 723970 Apr 19  2019 libssh2.so.1*
-rwxrwxr-x. 1 root root 723970 Apr 19  2019 libssh2.so.1.0.1*
$ /usr/local/bin/cve-bin-tool -v .
Checking if CVE data needs an update.
Last Update: 2020-

[2020-01-08 19:01] terriko opened #269 "GSoC 2020 discussion thread"
Feel free to use this thread for discussion about GSoC that doesn't fit into #267 or #266.

The [Full CVE Binary Tool Ideas page](https://github.com/intel/cve-bin-tool/wiki/CVE-Binary-Tool-Ideas-Page-for-GSoC-2020) has answers some some frequently asked questions.

[2020-01-08 19:03] terriko commented on #268
This is probably caused by the same error as #259.  I'm *guessing* it's one of the newer checkers, possibly ffmpeg?

[2020-01-08 20:22] terriko opened #270 "Add ffmpeg tests"
ffmpeg currently has no working tests. We should fix that.

There's two types of tests that should be added. Here's instructions for each:
1. [Adding new CVE Mapping tests](https://github.com/intel/cve-bin-tool/tree/master/test#adding-new-tests-cve-mapping-tests)
2. [Adding signature tests against real files](https://github.com/intel/cve-bin-tool/tree/master/test#adding-new-tests-signature-tests-a

[2020-01-08 20:24] terriko commented on #237
There's two types of tests that should be added. Here's instructions for each:
1. [Adding new CVE Mapping tests](https://github.com/intel/cve-bin-tool/tree/master/test#adding-new-tests-cve-mapping-tests)
2. [Adding signature tests against real files](https://github.com/intel/cve-bin-tool/tree/master/test#adding-new-tests-signature-tests-against-real-files)

Both of these are beginner-suitable task

[2020-01-08 20:26] terriko opened #271 "Add gnutls file test"
gnutls currently has a cve mapping test but not a test against a real file.  We'd like to have at least one of those.

Instructions here: [Adding signature tests against real files](https://github.com/intel/cve-bin-tool/tree/master/test#adding-new-tests-signature-tests-against-real-files)

This is a beginner-suitable task.  Since this is our first real-file test, it's possible you will discover an

[2020-01-08 20:28] terriko commented on #226
Removing hacktoberfest label since the contest is over for this year.  This checker remains available to new contributors!

[2020-01-08 20:29] terriko commented on #223
Removing the hacktoberfest label since the contest is over.  This checker remains available for new contributors to work on!

[2020-01-08 20:30] terriko commented on #202
Removing the hacktoberfest label since the contest is over.  This hasn't been done yet and remains available for new contributors to try!

[2020-01-08 20:30] terriko commented on #199
removing hacktoberfest label since the contest is over.  This remains available for new contributors to work on!

[2020-01-08 20:32] terriko opened #272 "Write instructions/config to run CVE Binary Tool in github actions"
Similar to #134 -- it should be relatively easy to run cve-bin-tool as part of your CI infrastructure, but it would be nice to have explicit instructions or a precanned setup that makes it easy for people to use.

[2020-01-08 22:15] terriko opened #273 "Add icu file test"
icu has a cve mapping test, but not a file test.

Instructions here: [Adding signature tests against real files](https://github.com/intel/cve-bin-tool/tree/master/test#adding-new-tests-signature-tests-against-real-files)

This is a beginner-suitable task.  Since this is our first real-file test, it's possible you will discover an issue with the checker itself during testing.  If you do, please men

[2020-01-08 22:17] terriko opened #274 "Add openssh file test"
openssh has a cve mapping test, but not a file test.

Instructions here: [Adding signature tests against real files](https://github.com/intel/cve-bin-tool/tree/master/test#adding-new-tests-signature-tests-against-real-files)

This is a beginner-suitable task.  Since this is our first real-file test, it's possible you will discover an issue with the checker itself during testing.  If you do, please

[2020-01-08 22:20] terriko commented on #266
Some places where we are missing tests that you might want to try first: #274 #273 #271 #270 #237.

[2020-01-08 22:20] terriko commented on #267
Some places where we are missing tests that you might want to try first: #274 #273 #271 #270 #237.

[2020-01-09 00:20] terriko commented on #1
Latest NVD 1.1 JSON schema link: https://csrc.nist.gov/schema/nvd/feed/1.1/nvd_cve_feed_json_1.1.schema

[2020-01-09 14:27] qathy commented on #268
Many thanks for the prompt work!

[2020-01-10 20:06] terriko commented on #267
Another output-related issue that might be of interest: #261

[2020-01-10 20:45] #268 closed

[2020-01-10 20:46] #259 closed

[2020-01-10 23:37] pdxjohnny opened #280 "SSL tests have intermitant failures"

[2020-01-12 06:53] sbs2001 commented on #270
I would  love to work on this.

[2020-01-13 06:55] SinghHrmn commented on #266
Hi, I am interested to work on this @terriko

Can I take this as my GSoC 2020 project?

[2020-01-13 21:14] #182 closed

[2020-01-13 21:14] #197 closed

[2020-01-14 01:23] #261 closed

[2020-01-14 01:35] terriko opened #286 "Make --quiet work again"
The --quiet flag was a user request for us to have a version that printed absolutely no output, but gave as return value the list of CVEs found.  This was useful for some automated tests.

In #276 we switched all the output to use the logging system.  I *thought* since we weren't logging critical errors, that --log critical would therefore hide all messages.  But it does not, because we still prin

[2020-01-14 02:23] sbs2001 commented on #225
I will implement this.

[2020-01-14 05:15] sbs2001 opened #287 "Add bluez test"
We currently don't have any tests for bluez checker.

Instructions for adding tests are here:
https://github.com/intel/cve-bin-tool/tree/master/test#adding-new-tests-cve-mapping-tests

[2020-01-14 13:42] sbs2001 commented on #287
Duplicate of https://github.com/intel/cve-bin-tool/issues/237

[2020-01-14 13:42] #287 closed

[2020-01-14 18:31] terriko commented on #270
Closed by #283, although more tests are always welcome, particuarly more real file tests against other ffmpeg packages or other code including ffmpeg.

[2020-01-14 18:31] #270 closed

[2020-01-14 18:32] terriko opened #288 "Add codecov to Github Actions file"
Codecov used to be run in travis.  it's currently not running in github actions.  We should fix that.  There's probably a nice precanned action we can use the way we're using black.

[2020-01-14 18:37] Saurabh-Singh-00 commented on #271
@terriko Working on it!

[2020-01-14 18:52] terriko commented on #247
@sbs2001 has verified that this test was failing because it was invalid (the CVE in question is for everything *before* 4.1.4) and not because it was affected by bug #1, so this can now be closed.  Thanks!

[2020-01-14 18:52] #247 closed

[2020-01-15 01:50] terriko opened #292 "Change default log level to "info""
Not sure what it is currently, but we should set it to "info" and make it clear in documenation / --help that this is the default.  This is probably a one or two line fix in the argparser section.

[2020-01-15 03:58] sbs2001 commented on #225
There is a problem I am facing

The nvd.vulnerabilities.db has all the version column entries for gstreamer set to `*` . So even after finding the version of gstreamer we won't be able to map it to its  appropriate CVE's.

[2020-01-16 19:37] #286 closed

[2020-01-16 19:40] #273 closed

[2020-01-16 19:42] #292 closed

[2020-01-16 20:31] terriko commented on #266
@SinghHrmn The way gsoc works is that we give you some ideas, like this one, then you submit a project proposal through Google's system.  We choose students once we've seen all the proposals submitted through Google.  So yes, you're most defeinitely welcome and encouraged to use this as the basis for your proposal, but so is everyone else up until the point where the submission system closes.

[2020-01-16 20:38] terriko commented on #225
@sbs2001 The * means there's a range, which the current NVDAutoUpdate.py doesn't handle.  the new cvedb.py will.  if you want to experiment with it, you can pull down my code from PR #285 and see it working against the new db.

To grab my branch for experimenting:
[code]

(Don't try to submit anythign based on that branch, but if you then copy your gstreamer.py file into that tree, you should be a

[2020-01-16 20:46] terriko opened #295 "test_nss_rpm_3_26_2 needs replacement"
test_nss_rpm_3_26_2 uses the url https://rpmfind.net/linux/opensuse/update/leap/42.1/oss/x86_64/ which no longer exists. We need to find a new copy of this rpm for this test to work, or replace the test with one for a different version if there's no 3.36.2 rpm readily available somewhere.  (There probably is one on mirrors.kernel.org or something, though.)

[2020-01-18 04:33] sbs2001 opened #297 "Backward incompatibility issue in log.py"
Currently cve-bin-tool is supposed to support python 2.7 , but the syntax for `super` method used in  https://github.com/intel/cve-bin-tool/blob/cc0123416f589419fe0a195eea2c145ab6a25759/cve_bin_tool/log.py#L10 is not valid in python 2.7 . Therefore cve-bin-tool is broken for systems with python 2.7 .

[2020-01-19 02:19] terriko commented on #297
Thanks for the bug report! We're dropping Python 2.7 support. 0.3.1 was expected to be the last one to support 2.7 when we released it, (to go with the end of python support in 2020), but I guess I haven't updated the docs yet. I'll leave this open to remind me to do that.

[2020-01-21 22:05] #295 closed

[2020-01-21 22:10] terriko commented on #60
I'm clearly not getting to this anytime soon, so I've removed myself from assignment.  If anyone does want to look at it, I have a start in #54 but have failed to find a version signature that works on platforms other than ubuntu.  I feel like maybe we could merge this as binutils-ubuntu if someone wants to take the patch and update it.

[2020-01-22 15:43] k-udupa2000 commented on #237
I tried adding a file test to bluez package(version 5.50)
Code:
@unittest.skipUnless(os.getenv("LONG_TESTS") == "1", "Skipping long tests")
    def test_bluez_5_50_3(self):
        """ Test detection on bluez 5.50.3 fedora bluez """
        self._file_test(
            "http://mirrors.kernel.org/fedora/releases/29/Workstation/x86_64/os/Packages/b/",
            "bluez-5.50-3.fc29.x86_64.rpm",

[2020-01-23 01:48] terriko commented on #237
Okay, let's debug.  You want to see if 5.50 exists, so let's make a little file that checks only that (and skips the binary scanning).

[code]

If you run that against csv2cve, what do you get?  The command looks like this

[code]
(where blueztest.csv is whatever you called that little file)

You can also look directly into the database with sqlite3 and see what the records look like to see if the

[2020-01-23 01:59] terriko commented on #237
So next steps: *why* is it not finding 5.50?  Take a look at `checkers/bluez.py` and see what it's doing, then maybe run strings against that rpm to see if you can find the version string yourself  (`strings ~/tmp/bluez-5.50-3.fc29.x86_64.rpm | grep 5.50` might be a good place to start.)

[2020-01-23 14:03] masterashu commented on #271
@terriko Will try to do it.

[2020-01-23 18:11] ntkomata commented on #274
i'll work on this!

[2020-01-23 18:56] k-udupa2000 commented on #237
Thanks for the explanation!
I ran the command

for versionNo = 5.42, 5.46 and found that it returned some matches.

For the following code,
               self._file_test(
               "http://mirrors.kernel.org/fedora/releases/29/Workstation/x86_64/os/Packages/b/",
               "bluez-5.50-3.fc29.x86_64.rpm",
               "bluetoothctl",
               "",
               )

![](https://user

[2020-01-23 22:35] terriko opened #301 "test_kerberos_1_15_1 is broken (and we may need to fix the kerberos checker rather than the test)"
Kerberos's data seems to have changed and it's affecting `test_kerberos_1_15_1`

Previously, you would get
vendor: mit
product: kerberos
version: 1.15.1

But it seems like now we get
product: kerberos_5

I think we probably want the checker to return kerberos5 to match the database.

[2020-01-23 23:18] terriko commented on #301
It's so much worse than I thought. both kerberos and kerberos_5 exist.

[code]

[2020-01-23 23:20] terriko commented on #301
And *some* of them are the same and some of them are not.  augh.

[2020-01-24 00:30] terriko commented on #301
I've disabled the test in CI while we figure out the best way to handle this.  It looks to me like we probably would need to do two searches in getcve in this case.  It would be something like

get_cves("mit", "kerberos", "5-1.15.1")
get_cves("mit", "kerberos_5", "1.15.1")

But there's currently no easy way to do that.

[2020-01-24 00:33] pdxjohnny commented on #301
Oi vey

[2020-01-24 01:38] #297 closed

[2020-01-24 04:09] k-udupa2000 opened #305 "test_icu_rpm_4_2_1 throws error"
package : icu
version : 4.2.1

[2020-01-24 05:29] #1 closed

[2020-01-24 23:06] terriko commented on #71
The new code now has a visible freak-out about mismatched sha and updates accordingly:

[code]

It looks like this solves the issue on my setup, so I'm closing this, but it's possible you'd still get some similarly weird behaviour if the disk is full.

[2020-01-24 23:06] #71 closed

[2020-01-24 23:13] terriko opened #306 "nvd data mismatch results in critical error -- maybe switch to something less?"
[code]
When the sha doesn't match for any of the nvd data files, cve_bin_tool throws a critical error.  The more I think about this, th emore I think this might be excessive, as it's going to happen every single time the data updates (possibly multiple times a day) for multiple files.  This could probably be a warning at the very least.

Currently every time the data is updated it could print arou

[2020-01-24 23:18] terriko opened #307 "NVD cache updates even when database does not"
Right now, the NVD cache updates every single time there is new data available, but the database that we actually use only updates once per 24h. That's... probably confusing.

I'd suggest two things should happen here:

1. Make nvd cache only check once per day on the same schedule as the db update
2. Make a `-u` option that updates the db when the cache updates in case people actually want the la

[2020-01-24 23:21] terriko commented on #112
No opinions, apparently.  Let's go with checking for errno.ENOSPC during the nvd download, since that should be the easiest option.  I've changed the title so it's more clear what needs to happen to resolve this issue.

[2020-01-24 23:23] terriko commented on #195
If the hashes don't match it now prints an error and refreshes the cache with a new file.  That's good enough to close this one!

[2020-01-24 23:23] #195 closed

[2020-01-24 23:24] terriko commented on #196
These test sare now obsolete.  We might want some new tests in this area, but we can open a new bug when we figure out what's needed with the new code.

[2020-01-24 23:24] #196 closed

[2020-01-24 23:25] terriko commented on #210
Fixed in #285

[2020-01-24 23:25] #210 closed

[2020-01-24 23:26] terriko commented on #231
Fixed in #285

[2020-01-24 23:26] #231 closed

[2020-01-24 23:27] terriko commented on #280
These tests got removed in #285.  We may want to replace them eventually, but the intermittent failures make it pretty annoying to debug them.

[2020-01-24 23:27] #280 closed

[2020-01-24 23:36] terriko commented on #305
Looks like this maybe needs the test changed to look for `international_components_for_unicode` instead of `icu`(the way it's set in `test_icu_3_8_1`).  This may be an easy fix if you want to do it yourself, @k-udupa2000!

[2020-01-25 01:09] terriko commented on #305
Alas, I did a bit more debugging on this while I was adding LONG_TESTS to the CI, and it does not appear to be that simple to fix.  Not sure what's going wrong; may be a bug in the checker rather than a bad test.

[2020-01-25 01:10] terriko commented on #233
Closing unfixed as we're not longer using Travis.

[2020-01-25 01:10] #233 closed

[2020-01-25 01:14] terriko commented on #254
Since we haven't heard back, I'm going to assume this answered the question.  Let us know if there's anything else!

[2020-01-25 01:14] #254 closed

[2020-01-25 01:16] terriko commented on #267
Two more output related bugs, and the first one should be pretty easy to fix for beginners looking for their first issue: #306 #307

[2020-01-25 01:21] terriko commented on #237
I'd say it's a bug in the bluez checker if it's returning an empty string

[2020-01-25 01:23] terriko commented on #237
And, bug aside, I'm not entirely sure what it does with the empty string.  it depends on whether the function we're using for version comparison thinks that "" is greater than, less than, or equal to stuff in the database.  You can check that on the command line if you're curious!

[2020-01-25 01:25] terriko commented on #237
oh, and we could also make that behaviour more intentional if we want to, so that the tool throws an error or something.  There's a bit of a thought about that in #263 that we haven't quite fleshed out.

[2020-01-26 07:48] SinghHrmn commented on #237
Hi @terriko, I tried adding some CVE mapping test for bluez. But I guess there is some error can you help me ?

[code]
When I tried running this code I got the following error
[code]
Can you tell me why it is unable to find bluez.

[2020-01-26 07:52] SinghHrmn commented on #237
I've got the list of CVE from cached CVE data base.
[code]

[2020-01-26 16:36] SinghHrmn commented on #271
@terriko I tried running LongTests but everything failed
[code]
help me out

[2020-01-26 18:16] SinghHrmn commented on #271
@terriko for the below code
[code]
It shows following error. Is there some error in the download link or some error in the checker?
[code]

[2020-01-27 17:53] #307 closed

[2020-01-27 19:43] SinghHrmn commented on #271
for the following code when I executed **LongTests** it said **"ok"** after scanning all the files in extracted **gnutls-2.3.11.tar.bz2**
[code]
Does that mean my code worked perfectly fine?

[2020-01-27 21:56] pdxjohnny commented on #271
@SinghHrmn Yes. Please submit a PR

[2020-01-28 04:07] SinghHrmn commented on #271
![Screenshot (9)](https://user-images.githubusercontent.com/29910324/73234783-a1ee7e80-41b1-11ea-8fea-a6f46c7ac206.png)

submitting a PR

[2020-01-28 19:13] terriko commented on #237
A result of [] likely means no checkers matched `test-bluez-5.42.out`, so you should take a look at the checker and your file to make sure the signature matches.

There's not much in the way of signature in bluez.py, so the thing it's looking for will match this regex:

    `regex = [r"bluetoothctl: ([5]+\.[0-9]+\.[0-9]+)"]`

At a guess, it's not finding it because `bluetoothctl: 5.42` won't match

[2020-01-28 19:33] terriko commented on #301
Thinking on this: Most of the get_cves stuff is designed to work on multiple results, so if we just make kerberos.py return *both* kerberos and kerberos_5 (when it is indeed 5), then this might be easier to fix than I thought.  Might need to modify one or two functions that are expecting single results from single checkers, but I think that's doable.

[2020-01-28 23:22] terriko commented on #301
Fix in #313 -- it turns out it wasn't too hard to fix in practice, although it does make test_kerberos_1_15_1 kind of weird because it now has two binary tests instead of one.

[2020-01-29 06:35] SinghHrmn opened #314 "gnutls checker is not working properly --bug"
I tried cve-bin-tool on gnutls-2.3.11.tar.bz2 which can be downloaded from **https://alpha.gnu.org/gnu/gnutls/gnutls-2.3.11.tar.bz2**. Though there are CVE numbers for version 2.3.11 the cve-bin-tool outputs no matches were found.
[code]

For more reference see #311

[2020-01-29 22:40] terriko commented on #305
More debugging: there's really not a lot of files with the string 4.2.1 in them in that rpm...

[code]

I've taken the man pages and docs out of those results since we don't scan those (although maybe we could for hints in the future).  But it looks like genrb and uconv are probably the only files we can get meaningful results out of, so that's what I'm doing.

[2020-01-29 22:46] terriko commented on #305
Fix for test_icu_rpm_4_2_1 in #315, but there's still work to be done on the icu checker.

[2020-01-29 22:58] terriko commented on #314
Ah!  I've found the problem: this is the source tarball, but the cve-bin-tool, true to its name, is only looking for binaries, and while there are some test binaries in there, there isn't a binary that contains gnutls.  So not a bug -- it really didn't find 2.3.11 because it's not looking for the source!

Which does raise the question as to whether it'd be useful to extend the cve-bin-tool to look

[2020-01-29 22:58] #314 closed

[2020-01-29 23:01] terriko commented on #306
For beginners who might want to work on this:

The offending line is here:
https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/cvedb.py#L111

rather than using the critical message function, you'll want to change it to warning.  If you want to change it to a summary message, it'll probably go around the same spot.

[2020-01-30 00:30] terriko commented on #258
Since this to read what we get out of `file`, it looks like we should be using o.decode(sys.stout.encoding) which will use the appropriate encoding for sys.stout instead of assuming utf-8.  I'll put up a PR in a sec.

[2020-01-30 00:41] terriko commented on #258
Fix in #316 . I haven't put a test in for it, but everything I've found seems to indicate this should do the trick pretty consistently.

[2020-01-30 00:46] #258 closed

[2020-01-30 01:59] terriko opened #317 "Checkers are printing twice"
The checkers are printing twice when you run cve-bin-tool against a file:

[code]

We only need one of those.  Probably the one that prints after the skiplist has been removed.

[2020-01-30 13:35] SinghHrmn commented on #314
@terriko Thanks for the explanation it really helped me to learn the working of the tool even better.
So reading your response made me curious so I tried running cve-bin-tool against a deb binary file. But the checker output was not what I expected. It falsely found two more versions which were empty strings.
[code]

[2020-01-30 14:17] SinghHrmn commented on #237
@terriko thanks for the great explanation. I'll try updating regex and see if I can find solution to the above problem

[2020-01-30 17:38] terriko commented on #314
If you take a look at the checker, you can see how it works.  Here's the relevant line for the gnutls-serv entry:

https://github.com/intel/cve-bin-tool/blob/d1ee148503345fb80541705e84cabe6736dbf9ea/cve_bin_tool/checkers/gnutls.py#L24

It's got a set of filenames that it thinks will be gnutls.  That's totally fine -- we tend to err on the side of telling people that gnutls is there so they can the

[2020-01-30 17:53] #317 closed

[2020-01-30 18:37] SinghHrmn commented on #314
@terriko I'll surely try my best if I can find some patterns. But I tried something else and I propose these changes.

change in the **cli.py** under scanfile function.
[code]
this will enable us to check for cves only if we found a pattern in the lines --else will not do anything.
the following output shows that it worked.
![Screenshot (15)](https://user-images.githubusercontent.com/29910324/7347

[2020-01-30 18:44] SinghHrmn commented on #314
@terriko I'd also like to bring in your notice that I've mailed you my GSoC2020 idea. Please review so that I can improve my idea and other things that need to be improved.

[2020-01-30 19:10] #301 closed

[2020-01-30 19:11] #305 closed

[2020-01-30 19:28] SinghHrmn commented on #237
@terriko I tried to fix the previous issue. Updated the regex and also the name of the binary file.
[code]
According to the checker if was finding libbluetooth.so in the filename or bluetoothctl as the last filename. So adding libbluetooth.so in the filename worked perfectly.

[code]

But when I tried running on a deb file the checker failed to recognise the version of bluez package

[code]
I gues

[2020-01-31 00:12] terriko commented on #314
It shows more than 1 result because we're actually using a new table (and new db) that handles ranges, and you're looking at the old table.  (which, hm, maybe we should have a thing to auto delete for people when they upgrade?)  So you can't search by version number and have that work any more.  Take a look at the way get_cves() works in cvedb.py if you want to understand that better.

As for emai

[2020-01-31 00:23] terriko opened #320 "How should we handle the old nvd.vulnerabilities.db?"
In solving #1, @pdxjohnny and I made some pretty big changes to the way we load the NVD data, removing the old NVDAutoUpdate.py in favour of the new cvedb.py.  One of the things I did was change the default location from

`.cache/cve-bin-tool/` which included nvd.vulnerabilities.db and a bunch of zip files
to
`.cache/cvedb/` which included nvd.vulnerabilities.db and a bunch of json files

That's b

[2020-01-31 00:26] terriko commented on #320
Oh, another option:
- investigate if removing old files is something we could do in setup.py as a once-off during upgrade.

[2020-01-31 00:39] terriko opened #321 "ICU checker could maybe detect more versions?"
The ICU checker currently can only detect versions in a couple of components (see #305 , #315 ), and while I was looking for 4.2.1 I noticed that there were an awful lot of strings that could maybe be used to at least get you the idea that you're using ICU after 4.2.

This issue is a reminder that we should investigate whether any of these strings is actually specific enough to be used as a versio

[2020-01-31 00:46] terriko commented on #288
Update: There is indeed https://github.com/marketplace/actions/codecov

I have got the token set up as secrets.CODECOV_TOKEN (as described there)  but ran into some other issues when I was testing it and haven't gone to debug yet.

[2020-01-31 03:34] SinghHrmn commented on #314
@terriko Thank you! I'll open an issue for the same. But what's you thought on improving the cli.py file. Will updating it would be fine ??. As of now it is working fine at my end. Please do share your thoughts in this.

[2020-01-31 11:18] SinghHrmn opened #324 "GSoC 2020 Project Idea : Adding GUI for CVE Binary Tool"
I would love to work on developing a GUI for CVE Binary Tool. Currently, the tool uses a command-line interface which most developers don't love working with. My goal will be to add a GUI so that more developers and users start using our tool. The GUI interface will take input from the user which directory path/location they want to test. The cve-bin-tool will work in the background to see if the

[2020-01-31 12:47] SinghHrmn commented on #269
@terriko will you be selecting only a single project for GSoC? or more than 1 project will be selected?

[2020-01-31 12:49] PrajwalM2212 commented on #324
The GUI is for human-friendly output and https://github.com/intel/cve-bin-tool/issues/267 is about supporting different machine-readable output formats. So a GUI will not solve https://github.com/intel/cve-bin-tool/issues/267.

There are many benefits to having machine-parsable output formats like CSV, JSON. as scripts can be developed to perform some automation based on the result of the scan. Al

[2020-01-31 13:46] SinghHrmn commented on #324
@PrajwalM2212 I completely agree with your point that GUI will use the machine-readable output like CSV or JSON and that is why I said it will probably solve #267.  Moreover, I will be using visualization tools that can show data in hierarchical or some other form. Moving to the concept of cve-bin-tool being a command-line tool we can give users a GUI so that cve-bin-tool can also be used as a sta

[2020-01-31 13:56] PrajwalM2212 commented on #324
@SinghHrmn When I meant a separate project, I meant that we would have to create a new repo because adding GUI code to a command-line tool would mean that cve-bin-tool is no more a light weight tool. If I remember correctly cve-bin-tool wanted to be a light-weight and not use external dependencies in the main project.
Also, glad that my opinion was helpful.

[2020-01-31 15:12] pdxjohnny commented on #324
If you want to add a GUI and have dependencies that are not applicable to the CLI tool you could add them within the `extras_require` section of `setup.py`. That way we'd keep everything within one repo.

[code]

Then users wishing to install the GUI as well as the CLI tool can do

[code]

I don't think that https://github.com/intel/cve-bin-tool/issues/267 is required to be done first to complete

[2020-01-31 15:20] pdxjohnny commented on #324
Let me know if that makes sense. I haven't had any coffee yet so it may very well be a pile of confusion.

[2020-01-31 16:05] SinghHrmn commented on #324
@pdxjohnny I've got some idea about what you are trying to say. Although a detailed explanation for option 2 will be beneficial.

[2020-01-31 16:06] PrajwalM2212 commented on #324
@pdxjohnny I had thought of proposing a plugin-based architecture for the different output formats. Did not have a clue that GUI can be supported this way as well.
Thinking GUI as a plugin changes perspective.

[2020-01-31 16:14] SinghHrmn commented on #324
@PrajwalM2212 what I think @pdxjohnny is trying to say that we can have a unified output that can be used in different ways. Like my GUI will be using cve-bin-tool in the backend will also generate output in the same folder as by command-line user. We both can access that data and use however we want.

[2020-01-31 16:16] PrajwalM2212 commented on #324
@SinghHrmn option 2 is more like having a file like `OutputEngine.py` which could act as the main entry point for different outputs. The class will then load the different output functionalities like `JSONOutput.py`, `CSVOutput.py`, `GUI`among others.

[2020-01-31 16:20] SinghHrmn commented on #324
or maybe we can output the result in a single format and then convert it into a different one.
You can take a look at my own repo https://github.com/SinghHrmn/ConvertMaster

[2020-01-31 16:24] PrajwalM2212 commented on #324
@SinghHrmn Yes, a ouput like csv by the tool. This can then be converted to different types.

[2020-01-31 16:31] SinghHrmn commented on #324
@PrajwalM2212 if both #267 and #324 are selected for GSoC then I guess we need a unified output. And we must discuss on the topic what will be that unified output. Will it be a CSV or JSON. And how can we achieve that.

[2020-01-31 16:35] PrajwalM2212 commented on #324
@SinghHrmn You are right. Even if only #267 or #324 is selected, the right approach would be to have a common output format. This will make extending it to other formats easy.

[2020-01-31 16:51] PrajwalM2212 opened #325 "GSoC 2020 Project Idea: Config File for cve-bin-tool"
**Why it is needed ?**
1. Currently, the user has to type all the commands on the terminal every time they want to run the tool. It may happen that the same args have to be typed every time the user wants to use the tool.
2. The number of args supported over time increases and it may not be feasible to type all of them.
3. It would be convenient to be able to just run the tool as `cve-bin-tool `

[2020-01-31 17:13] SinghHrmn commented on #325
@PrajwalM2212 Nice idea. But how will you handle **output_types**? I mean will you add OutputEngine.py and other related files like jsonoutput.py csvoutput.py or will you be using a unified output and then converting them to the ones specified in output_types.

[2020-01-31 17:26] PrajwalM2212 commented on #325
@SinghHrmn `output_types` was just an example to illustrate the use of a config file.
`output_types` is just a hypothetical option that would allow a user to be able to save the output in different formats.
I thought this option could be useful once output formats are supported.  It has nothing to do specifically with this project idea.

If you implemented different output formats then you have th

[2020-01-31 17:30] pdxjohnny commented on #324
My opinion on this is that a single common output format is *not* the way to go. That requires third party tools to do conversion (even if it's a third party tool you wrote, which is cool by the way nice work).

Python has built in support for JSON, CSV, XML, and GUI via TK (although this is usually a pretty basic not flashy choice that people don't use too much).

The plugin architechure also mea

[2020-01-31 22:31] terriko commented on #324
I'm really enjoying this discussion and the thoughts on architectural changes to better support it, but I do want to point out that this is something no existing *user* has asked for.  As far as I know from the things we have been asked for, such as machine readable output, and only a pass/fail output (that's what the quiet flag is for) I'm *guessing* most of our users actually do want to run this

[2020-01-31 22:34] terriko commented on #325
this is an interestnig one.  It might be really nice to pair this together with a github actions plugin or travis setup so people could configure and run as part of continuous integration.

[2020-01-31 22:39] terriko commented on #269
@SinghHrmn We've currently got enough mentors for 2 students, but if we have a bunch of really good applications that aren't all for the same project, it's not a problem to find more mentors and take on a few more people.  It's more dependent on the number of applications we get than anything else.

[2020-01-31 22:41] terriko commented on #237
In some cases, you won't replace the regex so much as add to it -- you can have as many regexes as you want to support different distros if they're different.  (and experience says yes, sometimes they are.)

[2020-02-01 00:33] terriko commented on #314
If you want to update the cli file, go ahead and put another PR in.  it's easier to code review that way, thanks!

[2020-02-01 04:05] SinghHrmn commented on #324
@terriko @pdxjohnny thanks for such a valuable response. I'll review my idea and see if either I can come up with a different one or how can I improve more on the #267 if it's in your priority list.

[2020-02-03 16:29] PrajwalM2212 commented on #320
@terriko It seems that we can add custom functionality to commands like install, develop.
Assuming that upgrading a package calls install command, we may be able to remove old files.

[2020-02-03 19:27] k-udupa2000 commented on #266
@terriko Is there a possibility that this project is not selected for gsoc this year in a situation where proposals with other ideas are submitted?

[2020-02-03 19:55] terriko commented on #266
@k-udupa2000 All of GSoC decision making is based on the distribution of our best applicants.  If one of our best applicants wants to do this project, it'll get selected.

[2020-02-03 21:20] #199 closed

[2020-02-03 23:42] terriko commented on #325
Given your skill level, there's a good chance you could complete this whole project before the full GSoC period is up.  (We definitely had that happen with last year's windows port!)  Do you have anything you'd want to do as "stretch goals" if this project were to be completed early?

[2020-02-04 01:25] terriko commented on #266
In more detail:

What happens behind the scenes is that after applications close, we read all of the submissions and decide how many slots to request based on which proposals and students we want to work with.  Since we're a sub-org of Python, our numbers get compiled together with numbers from other sub-orgs, and then Google gives Python a number to distrubute as the Python org admins see fit.

B

[2020-02-04 16:33] PrajwalM2212 commented on #325
1. Github actions plugin
2. Get the test coverage to 100% or closer to 100%
3. Support some new options that make the tool easier to use in a CI like `fail-if-found`
which could exit with a non zero code if a cve is found so that the CI will fail.
4. Solving some important issues like https://github.com/intel/cve-bin-tool/issues/253,  https://github.com/intel/cve-bin-tool/issues/203, https://githu

[2020-02-04 18:15] PrajwalM2212 commented on #325
@terriko @pdxjohnny
We could use a number of formats for config file but in https://www.python.org/dev/peps/pep-0518/#overview-of-file-formats-considered  PSF finds TOML as the best config format. They chose TOML for specifying Build System Requirements but provide some compelling reasons as to why TOML is better.
Other popular choice would we YAML which lot of projects use. We can use INI as well

[2020-02-05 14:01] PrajwalM2212 commented on #325
@terriko  https://setuptools.readthedocs.io/en/latest/setuptools.html#test has deprecated the `test` command.  We could expect it to be removed anytime.
They recommend shifting to `tox`.  So this could be a nice stretch goal idea.

[2020-02-05 18:16] twentyse7en commented on #266
@terriko That was a excellent explanation. It really helped me to get a overall picture about the selection process. I was really struggling to get started.

[2020-02-05 19:27] terriko commented on #325
@PrajwalM2212 I've been experimenting with pytest in CI (since that seemed the easiest one to get working with codecov) but it's not working.  This is almost certainly due to some nvd initialization not going right in the test suite but I haven't tracked it down -- it works fine locally just not in github actions unless I run setup.py tests first.  Tox might be the next thing to try on that front.

[2020-02-05 19:53] k-udupa2000 commented on #267
I tried printing output to csv file by passing CSV = 1 argument.

Code (cli.py):
[code]
This prints it out into a CSV file
19,CVE-2019-3844,HIGH
219,CVE-2017-1000082,CRITICAL
219,CVE-2017-18078,HIGH
219,CVE-2017-9217,HIGH
219,CVE-2017-9445,HIGH
219,CVE-2018-1049,MEDIUM....

Is this the right step towards improvizing Binary Output?

[2020-02-05 19:55] terriko opened #332 "Generate more extensive CVE reports (e.g. for managers)"
I put this originally in #267 but it occurs to me that it's worth filing as a separate issue so it can be discussed outside of GSoC's context:

* Generate full reports with CVE descriptions, etc. We don't currently store these in the database and probably don't want to for speed/space reasons, so you'd have to grab from the json. This was a feature that used to exist in cve-bin-tool before it was

[2020-02-05 19:56] terriko commented on #332
It would also be awesome if whatever we do here could also be used by csv2cve!

[2020-02-05 22:31] terriko opened #334 "Add --checkers command line (the opposite of --skips)"
We have the ability to specify a list of checkers that should be skipped on the command line, but it would be nice if we could also do the inverse: specify a list of only the checkers we want.  Mostly I want this for testing single checkers while I'm debugging things, but I suspect it'll be useful for more normal use cases as well.   (You can look at #90 and #139 for the original `-s` flag)

We ma

[2020-02-06 10:12] ssd71 commented on #306
I would like to work on this.

[2020-02-06 19:04] #202 closed

[2020-02-07 18:58] AbhinavMir commented on #269
Hi, I'd love to work with implementing checkers for CVE. Where do I contact someone for this?

[2020-02-07 18:58] #334 closed

[2020-02-07 19:21] terriko commented on #269
You contact someone right here in the issues!  We also have a gitter setup here if you prefer: https://gitter.im/cve-bin-tool/community -- our mentors are mostly online during US Pacific working hours, but we'll chat asynchronously too if you don't mind waiting a bit for an answer.  I will warn you that I'm speaking at pyCascades this weekend (Feb 8-9), so I'm not sure how much I'll be online for

[2020-02-07 19:24] terriko commented on #306
yay!  Go ahead, and ask here if you have any questions while preparing your code!

[2020-02-10 05:33] param211 commented on #271
Is the issue closed now?

[2020-02-10 18:35] terriko commented on #271
Usually these close automatically when a PR that says it "fixes #bugnumber" is merged, but I guess we didn't have that in there or something.  I'll close it now.  Thanks for pointing it out!

[2020-02-10 18:35] #271 closed

[2020-02-10 18:45] terriko commented on #267
I think we want an actual command line flag for this rather than an environment variable (as a rule of thumb: environment variables are for developers and test integration, command line flags are for anything a user is likely to want to do) but other than that, yes this is the right direction!

I notice that the first column there is just the version -- you're going to want the product name as wel

[2020-02-10 19:01] terriko opened #340 "Improve testing with pytest parameterization"
I was speaking at PyCascades this weekend and I attended this great talk on pytest parameterization:

https://2020.pycascades.com/talks/multiplying-your-testing-effectiveness-with-parameterized-testing/

(The final talk videos aren't up yet, but I'll link it when I can.)

I haven't dug deep yet, but it sounds to me like we could really streamline the way we're handling the file and mapping tests i

[2020-02-10 19:06] k-udupa2000 commented on #267
Thanks for the explanation!
I will work on it!

[2020-02-10 19:08] terriko opened #342 "Fix assertEquals in test_csv2cve.py"
**This is a *very* beginner-friendly bug suitable for someone who doesn't have any commits yet.  Please don't bother to fix this one if you've already got commits -- it's really not urgent.**

I basically made a typo in test_csv2cve that generates a warning in pytest:

[code]

If you look at that warning, it pretty much tells you exactly what to do and where to find the issue!   It should be a one

[2020-02-10 19:17] PrajwalM2212 commented on #325
@terriko I think that the `csv2cve ` is a powerful tool and that we could develop some cool applications out of it.
I was thinking that we could add a new mode to tern called `system scan` similar to the directory scan we currently have.
1. We will determine the OS and the package manager
2. Run the package manager command to get the list of all packages installed along with all their info.
3. Con

[2020-02-10 19:27] terriko commented on #112
More notes: `cache_update` is probably the function to change.  Look under the line that says `Updating CVE cache for %s`

[2020-02-10 21:40] terriko commented on #325
This would be awesome and lots of people would love it!  The big problem here is in mapping packages to the actual vendor-package pairs in nvd, which I don't think is embedded in the package data.  We're talking probably over 20,000 packages in a full distro, and we're looking at over 200,000 for something like pyPI.  And a lot of things won't have anything to map to, so you'll have to deal with t

[2020-02-10 21:58] terriko commented on #112
This is going to be a pain to test, but we might be able to do something with Mock (https://docs.python.org/3/library/unittest.mock.html) for the test suite.

[2020-02-11 19:32] #342 closed

[2020-02-11 20:27] PrajwalM2212 commented on #325
@terriko

dpkg gives me this much info
<img width="1614" alt="Screen Shot 2020-02-12 at 1 11 37 AM" src="https://user-images.githubusercontent.com/30733262/74272788-44237000-4d35-11ea-8f6d-e88cb8677770.png">
It does not give vendor info.
Some package managers display vendors also but that may not correctly map with the names nvd data uses.

If we can get the package name and version number from pa

[2020-02-11 21:41] terriko commented on #325
Yes, it's possible for two packages to have the same product name yet be actually different products.  I don't know how often it happens, since it seems a lot of vendors use longer names as needed, but here's two http servers that are likely not hte same product:
https://www.cvedetails.com/vulnerability-list/vendor_id-14/product_id-813/IBM-Http-Server.html
https://www.cvedetails.com/vulnerability-

[2020-02-11 21:58] terriko commented on #325
Trying to imagine what the data should look like:

* package manager name (e.g. pypi, ubuntu)  -- maybe not needed but this way everything can be in one db if we want later, or not.  I think for files you'd want them per-package manager just for easier updating.
* name in package manager
* vendor for nvd
* product for nvd
* version
* this db last updated?
* is this an automatically generated entry

[2020-02-11 23:15] terriko commented on #171
Poking at this again in #344 but I can't replicate the error right now.  The patch is just a reversed sort and an extra tests.  I'm building poky to see if I can see what @rossburton was seeing earlier, but that'll take a wihle, so in the meantime I'm adding some file tests from other distro to see if I can replicate without a build.

[2020-02-11 23:45] terriko opened #345 "Output filename when warning about version UNKNOWN"
Noticed while debugging for #171

When we find something that may have a CVE, we output a filename.  When we print an UNKNOWN, we don't print the filename.  Here's the truncated output from a test I'm working on:

[code]

It would be really useful if we printed the filename in the unknown case.

[2020-02-11 23:49] terriko commented on #345
The warning is printed here in cli.py:
https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/cli.py#L199

And if you look at the line where the filename is printed, it's here:
https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/cli.py#L213

So you just need to add "filename" into that first one.   Probably something like
"%r was detected with version UNKOWN in file %r" would be

[2020-02-12 01:40] terriko commented on #171
I found OpenMandriva's systemd242 and Fedora's systemd243 and had to tweak the signatures to work with those two, so the signatures are improved now.  I'm not seeing the thing with the giant list of all previous strings in either of those, though.  If anyone can find me a test case that has those, it would be much appreciated.

[2020-02-12 02:45] milindgupta commented on #345
Hi!
 Where to start and how to test it?

[2020-02-12 04:12] SinghHrmn commented on #345
@milindgupta you can start by first running the tool once in your local machine.
[code]
It will help you understand the output. But you might not see the mentioned Issue.

The issue happens when cve-bin-tool tried to find a package and found it but was unable to find the version.

So what the issue is stating you need to mention the file name which cve-bin-tool was scanning and which returned vers

[2020-02-12 14:08] PrajwalM2212 commented on #325
@terriko
## Core Engine
1. We can have classes like `Packages`, `PackageData`. The `Packages` will contain a list of `PackageData` objects. The `PackageData` has information about a individual package.
2. We will run commands like `apt show sudo`,  parse all the info and store it in `PackageData` object.
3. The `PackageData` class will have all the fields you specified in the above comment.  We ca

[2020-02-12 14:59] milindgupta commented on #345
@SinghHrmn Thanks for the explanation. I think it's already solved now.

[2020-02-12 17:25] PrajwalM2212 opened #349 "Add --version option"
Add `--version` option with a short name `-v`

[2020-02-12 17:43] milindgupta commented on #306
How to generate the test case for this situation.
Thanks

[2020-02-12 18:24] terriko commented on #325
This sounds pretty reasonable.  We'll likely wind up tweaking a few fields once we see how we use them and how we want to update things, but I think this is a good basis to start with!

[2020-02-12 18:30] terriko commented on #306
@milindgupta We probably don't *need* a test case for this one, but if you look at how we test `--skips` in `test_cli.py` (the function is called [test_skips](https://github.com/intel/cve-bin-tool/blob/master/test/test_cli.py#L124)) that should give you an idea of how to check the log output in a test.

[2020-02-12 19:08] #171 closed

[2020-02-12 19:22] milindgupta commented on #306
I should just change critical to a warning at https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/cvedb.py#L111, but here we might even have to add some conditions too, like if the current date is more then last updated.

[2020-02-12 22:52] terriko commented on #345
Fixed in #348

[2020-02-12 22:52] #345 closed

[2020-02-13 13:32] param211 commented on #134
Are you looking for travis.yml file  (like this: https://github.com/intel/cve-bin-tool/blob/master/build/old.travis.yml) ?
Or a readme file containing written instructions to run CVE binary tool in travis?

[2020-02-13 14:09] param211 commented on #272
@terriko there exists a .yml file for github actions workflow in https://github.com/intel/cve-bin-tool/blob/master/.github/workflows/pythonapp.yml . Is the issue about documenting this file's code in something like a readme file for users to setup these actions locally? (I might be misunderstanding the issue!)

[2020-02-14 18:30] terriko commented on #134
I'm looking for written instructions for _other_ people to run CVE Binary Tool.  The travis.yml file you linked is the one we used to use for CI on our codebase, so it's not really designed for running cve-bin-tool on someone else's code base!  I don't know if writing a github actions plugin makes sense here, but that's worth looking at too.

[2020-02-14 18:33] terriko commented on #272
Like #134, this is about writing instructions for other people to run cve-bin-tool on their own packages.  (Or equally, setting up csv2cve to work with their list of dependencies.)

[2020-02-14 18:41] #349 closed

[2020-02-15 11:51] PrajwalM2212 commented on #340
I recently had a chance to use pytest `parameterization`. I will work on this issue.

[2020-02-16 09:34] FReeshabh commented on #269
Hello @terriko I added #241 and #232 for Gnutls and Bluez some time back. And recently found out about GSoC 2020. And I'd be interested in continuing to contribute to this project for now and the summer!

[2020-02-16 11:28] SinghHrmn commented on #267
@terriko apart from #262 #332 what can be some other issues related to this idea.

[2020-02-17 03:14] FReeshabh commented on #332
Sounds interesting, I'll look into it

[2020-02-18 17:54] terriko commented on #269
@FReeshabh Glad to have you!

[2020-02-18 18:59] terriko commented on #267
@SinghHrmn Those are the two big ones since a lot of the smaller issues have been closed.  But there's almost certainly other things to be done in this space and this is a great issue to do some brainstorming in.

Here's a few off the top of my head:

* Unifying the ways in which output strings are prepared.  Right now we've got a mix of .format() and + and other options -- we could definitely do

[2020-02-18 21:22] #224 closed

[2020-02-18 21:25] terriko opened #357 "Add python file test"
In #353, @SinghHrmn has added a new python checker.  It is currently missing a file test.  It's been tried against http://mirrors.kernel.org/ubuntu/pool/main/p/python3-defaults/python3_3.6.5-3_amd64.deb but does not work, so it's likely that fixing this will also require (hopefully minor) modifications to the checker before it'll behave.  There's more debugging information available in #353 if you

[2020-02-18 21:26] terriko commented on #357
Note that I have intentionally *not* marked this test as "good first issue" because it's probably going to require more work than just adding the test.

[2020-02-19 00:48] #28 closed

[2020-02-19 18:28] terriko commented on #263
I believe this was resolved in #275 and the subsequent work on handling UNKNOWN more correctly, so I'm going to close.

[2020-02-19 18:28] #263 closed

[2020-02-19 18:34] SinghHrmn commented on #267
Oh! those were some really great ideas @terriko. I'll try to implement the easy ones before the GSoC period and rest can be added as the stretch goals for the GSoC period. Thank You!

[2020-02-19 18:34] terriko commented on #6
This is now going to spit out an UNKNOWN and be handled correctly as a warning that also gives the filename so a user could tell at a glance if it was a file in .debug.  I think that's probably reasonable enough behaviour to close this issue.

[2020-02-19 18:34] #6 closed

[2020-02-19 19:31] #249 closed

[2020-02-19 22:44] terriko commented on #357
Debugging:

I tried this with
http://mirrors.kernel.org/ubuntu/pool/main/p/python3-defaults/python3_3.6.5-3_amd64.deb

But it doesn't contain the python binaries, so that explains why it wasn't working for @SinghHrmn.  So I did a quick check to see what was providing the binaries...

[code]

Okay, so then this test should work...

[code]

But actually, in practice, when I open up the deb I don't g

[2020-02-19 23:02] terriko opened #361 "Update documentation in preparation for 1.0 release"
More specifically:
- [x] List of checkers in README.md needs to be updated (Fixed in #367!)
- [X]  List of options needs to be updated in README.md
    * Check the current option list using --help if you're not sure what's been added.
- [ ] All of MANUAL.md needs to be updated with the same stuff (and checked to make sure it hasn't gone out of date)
- [ X CSV2CVE.md documentation needs to be proof

[2020-02-20 00:38] terriko opened #364 "Add test for quiet mode"
We'd broken --quiet with a leftover debug statement in icu.py and a missing check in cli.py, and it didn't get noticed for quite some time.  I've fixed it in #363 but we need a regression test so that this doesn't happen again.

[2020-02-20 00:41] #357 closed

[2020-02-20 00:44] terriko commented on #364
This is a bit harder than most things I mark as good first issues, but if you use test_unknown_warning as a guide, it shouldn't be too hard to check that there is no output.

https://github.com/intel/cve-bin-tool/blob/f1342f930c8db44b5f832fbb2c5d652355f0c838/test/test_cli.py#L203

Be aware that you actually need to scan a real file intsead of an empty directory, to make sure that there is some out

[2020-02-20 01:34] terriko commented on #253
Debugging further. here's the log starting at where the tests are run. (warning, long)

[code]

And it repeats with the `running test` section over and over.  It looks like maybe extraction is going haywire?  I'm going to see if we can run maybe part of the test suite and narrow it down.

[2020-02-20 18:39] ananthan-123 commented on #361
Can I put together a PR for this?

[2020-02-20 21:32] terriko commented on #272
@ananthan-123 asked on gitter where this should go, and in case anyone else is wondering, I think these instructions should be part of the manual, which is here:

https://github.com/intel/cve-bin-tool/blob/master/MANUAL.md

(Note that it is a little out of date, and I've opened #367 to remind us to update it with the new options before release.)

[2020-02-20 23:00] terriko commented on #253
Further debugging from my experiments in #365
- test/test_cli.py :-1:
- test/test_csv2cve.py :heavy_check_mark:
- test/test_cvedb.py :heavy_check_mark:
- test/test_definitions.py ::heavy_check_mark:
  - but 0 tests running
- test/test_extract.py :stop_sign:
  - disabled because this is where the loop happens
- test/test_file.py :heavy_check_mark:
- test/test_json.py :heavy_check_mark:
  - technica

[2020-02-20 23:25] terriko opened #369 "test_strings.py is failing on windows"
I've enabled the windows CI!  Unfortunately, since @wzao1515 's hard work on windows last summer, we've had a few regressions and the port is currently not working as expected.

- test/test_cli.py :-1:
- test/test_csv2cve.py :heavy_check_mark:
- test/test_cvedb.py :heavy_check_mark:
- test/test_definitions.py ::heavy_check_mark:
  - but 0 tests running
- test/test_extract.py :stop_sign:
  - disabl

[2020-02-20 23:26] terriko commented on #369
Note for students: I don't regularly work on Windows, so if you *do* use Windows primarily, this is a great chance to show the benefits of operating system diversity!

[2020-02-20 23:37] terriko opened #370 "test_skips, test_runs and test_unknown in test_cli.py are not working on windows"
I've enabled the windows CI! Test_cli.py has a few tests that didn't exist when @wzao1515 did the windows porting work, and it's possible they just need alternate versions on windows because of output differences.

Here's the output:
[code]

The other failing test in test_cli is an extraction test, and since there's something broken with all the extraction code on windows right now I'm assuming it

[2020-02-21 10:48] ankan17 commented on #364
I'd like to work on this.

[2020-02-21 12:49] SinghHrmn commented on #267
(that's probably only a few days work, though)

@terriko I researched on this topic and found out that [String Interpolation / f-Strings (Python 3.6+)]
is the best practice if are on python 3.6+.( as we are ) So we can start implementing this in practice.

More Information: https://realpython.com/python-string-formatting/

[2020-02-21 16:25] SinghHrmn opened #374 "unification of string formatting styling"
Unifying how output strings are prepared. Right now we've got a mix of .format() and + and other options -- we could do some reading on best practices, choose one, and make this more consistent, then document in some sort of style guide so we stay consistent.

Two major issues
 - [x] Formatting the tool
 - [x] Adding Documentation/ Style guide.

We will be using f-string formatting as most of the

[2020-02-21 18:06] terriko commented on #374
Ooh, I hadn't thought about how now that we've dropped support for some older versions of python we could go right on to fstrings.  I like this plan.

[2020-02-21 18:32] SinghHrmn commented on #374
@terriko what will the style guide contain ? Will the documentation only contain guiding related to strings. Or It will cover all the styling methods which we are currently using?

Example:
- use of black as the formatter
- use of f-string as the string formatter

[2020-02-21 18:38] terriko commented on #267
I did some quick double-checking to make sure centos 7 handled python 3.6, and it does.  I checked Poky and it's on 3.8 (although the yocto build tools still support 3.4+, I think that's not enough reason for us to support the same).

So I think we're good with the fstrings plan, now with some relevant data and not just my gut feeling that fstrings would be awesome. Hurrah!

[2020-02-21 18:46] terriko commented on #267
Went through this issue and marked the completed bugs.  So that leaves us with 3 output related issues still open
#262 - machine readable ouptut
#332 - more extensive CVE reports
#306 - improve the nvd output when sha256 mismatch (i.e. files need updating)

(Plus the new one that @SinghHrmn made and is already working on #374, which will likely be merged today)

[2020-02-21 18:46] terriko commented on #364
@ankan17 yay!  Let us know if you need any help.  This one *sounds* straightforwards to me, but it's possible that it's more complicated than I realize.

[2020-02-21 19:06] terriko commented on #374
I only meant a style guide with some links to f-strings, but you're right that we could use something about black in there.  We could probably think of more, but usually you want a style guide to be pretty short, so let's just start with that.

[2020-02-21 19:38] #340 closed

[2020-02-21 19:46] terriko opened #377 "Update requirements.txt with pytest"
In #366 @PrajwalM2212 updated our tests to use pytest parameterize. I wanted to get the PR in before the weekend since it changes our test setup and thus will likely affect people working GSoC this weekend. But if you read through the issue, you'll see that I'd like one tiny improvement.

So... this is a really easy issue: add pytest to requirements.txt and remove all the `pip install pytest` in h

[2020-02-21 22:58] #377 closed

[2020-02-21 23:12] #374 closed

[2020-02-21 23:16] terriko opened #380 "Fix usage of subprocess in extractor.py"
in #375 I noted that the extractor code is using subprocess with one long string as an argument, and that the preferred method is usually to use an array as shown in the latest subprocess docs:

[code]

This bug is to fix those cases where it's not done that way.  Be aware, testing all of the cases where this happen may require windows since that's when the 7zip one gets triggered.  The extractor

[2020-02-22 00:15] terriko opened #382 "Fix regex deprecation warning"
pytest tossed the following warning at me:

[code]

We should probably fix that.   I believe you just need to correct the string to add an r at the front so it's treated as a "raw" string.

So on line 153 above, change it to be `r"https` instaed of `"https`

[2020-02-22 00:23] terriko opened #383 "remove [::-1] and fix filename detection in python checker"
In the python checker, we have a strange construction that appears on a couple of lines:

https://github.com/intel/cve-bin-tool/blob/e4cca5234bf9dc47ac939ccd5dbeefc3efa47a10/cve_bin_tool/checkers/python.py#L66

I should have caught this during code review but I missed it.  This won't work as expected:

[code]

Although it does work if the filenames are exact matches -- but if that's what you wante

[2020-02-22 00:26] terriko commented on #383
If you're feeling especially fancy, you could also add a test for this!

[2020-02-22 00:31] terriko opened #384 "Fix filename detection in bluez"
Like with bug #383 , bluez has broken filename detection that I should have caught in code review but missed:

https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/bluez.py#L18

This won't work in practice:

[code]

It will work if the string is an exact match, but if that's all we want we might as well not do `startswith`

Removing `[::-1]` in both places in that line should do

[2020-02-22 00:35] terriko opened #385 "Fix filename detection in curl"
Like with bug #383 , curl has broken filename detection and it's probably what inspired the other two:

https://github.com/intel/cve-bin-tool/blob/e4cca5234bf9dc47ac939ccd5dbeefc3efa47a10/cve_bin_tool/checkers/curl.py#L30

This won't work in practice.  The example below is with bluetooth but the same idea applies:

[code]

Removing `[::-1]` in both places in that line should do the trick:

[code]

[2020-02-22 10:50] bigbird555 commented on #385
?
you mean the bug will be fixed only by removing [::-1] from the source code ?

[2020-02-22 11:02] bigbird555 commented on #385
If so, I would like to be assigned to fix this bug.

[2020-02-22 11:10] bigbird555 commented on #385
I just thought the code below would perform but what do you think of it ?
`if filename.find("curl") >= 0`

[2020-02-22 16:26] bigbird555 commented on #385
When you apply the above change, you will get the result below.
https://github.com/intel/cve-bin-tool/runs/462069846

[2020-02-23 08:06] Shrawan907 commented on #385
`if filename[::-1].startswith(("curl")[::-1]):`
in place of it we can use
`if filename.endswith(("curl")):`

[2020-02-23 18:03] ananthan-123 opened #400 "Update "curl" with "icu" in icu.py."
def get_version(lines, filename):
    """returns version information for curl as found in a given file.
    The version info is returned as a tuple:
        [modulename, is_or_contains, version]
    modulename will be international_components_for_unicode if icu is found (and blank otherwise)
    is_or_contains idicates if the file is a copy of curl or contains one
    version gives the actual vers

[2020-02-23 18:30] ananthan-123 opened #402 "Long tests are failing."
response = meth(req, response)
/opt/hostedtoolcache/Python/3.8.1/x64/lib/python3.8/urllib/request.py:640: in http_response
    response = self.parent.error(
/opt/hostedtoolcache/Python/3.8.1/x64/lib/python3.8/urllib/request.py:569: in error
    return self._call_chain(*args)
/opt/hostedtoolcache/Python/3.8.1/x64/lib/python3.8/urllib/request.py:502: in _call_chain
    result = func(*args)
_ _ _ _ _

[2020-02-23 20:26] ankan17 commented on #364
Hey @terriko. I am not sure if I should be doing it this way but so far I have come up with this (I have used `test_unknown_warning` as reference) :

[code]
But this leads to the following error: `AssertionError: no logs of level INFO or higher triggered on root`.

[2020-02-24 13:21] PrajwalM2212 commented on #402
Solved in https://github.com/intel/cve-bin-tool/pull/378

[2020-02-25 01:35] terriko commented on #402
#378 is now merged, so this can be closed.

[2020-02-25 01:35] #402 closed

[2020-02-25 01:45] terriko commented on #288
Being worked on in #322.  I forgot to assign myself to this task.

[2020-02-25 01:53] #382 closed

[2020-02-25 01:57] #385 closed

[2020-02-25 22:24] #400 closed

[2020-02-25 23:09] terriko commented on #384
Fixed in #406

[2020-02-25 23:09] #384 closed

[2020-02-26 01:28] terriko commented on #364
That's from the first line: you're asserting that there should be logs, when you kind of want to do the opposite and assert that there are none.

[2020-02-26 01:47] terriko commented on #112
The new code gives a very different (and hopefully more clear) message now thanks to the way @pdxjohnny wrote the cache update function to read in chunks.  I think it's sufficient to close this issue.

[2020-02-26 01:47] #112 closed

[2020-02-26 01:49] terriko commented on #361
Updated task description to show that 1 of the 4 items has been addressed.  As far as I know, no one is working on the others right now.

[2020-02-26 17:31] SinghHrmn opened #409 "Unification Of Output Generation. Output types like CSV, JSON, etc."
Currently, we generate the list of cve's through a function called ```output_cves``` which generates List with the help of CSV writer and the output file is ```sys.stdout```. What we want is a unified system that can generate all the output formats like CSV, JSON etc.

We want some argument parser like:
[code]
where ```-o``` will specify that we want to specify an output type, the default will be

[2020-02-26 17:49] #383 closed

[2020-02-26 17:58] terriko opened #411 "Add filename checker tests for each checker"
**This bug is reserved for new contributors only.  If you already have a commit merged in cve-bin-tool, please leave this for people who don't!**

In #387 I added a test_checkers.py file that contains a parametrized test for feeding filenames to the checkers to test the recognition, but only provided a couple of tests for python and one for bluez.  You can [read about how to add this type of test

[2020-02-26 23:11] terriko opened #412 "csv2cve uses "package" instead of "product""
The `csv2cve` utility uses the term "package" where NVD uses the term "product."  There's no particularly good reason for them to be different (It was almost certainly me just not thinking of the right word when I wrote the utility) so let's switch to using "product" everywhere.

You'll need to fix `csv2cve.py` as well as the associated tests and test files in `test_csv2cve.py` and `tests/csv`

[2020-02-26 23:16] terriko opened #413 "csv2cve does not output CVE severity"
The csv2cve utility currently outputs a bare list of CVE numbers, while the main cve-bin-tool outputs `product, version, cve_number, severity`.  I think it would be nice if csv2cve did the same or perhaps even better, use `vendor, product, version, cve_number, severity` since the vendor information is easily available.

[2020-02-26 23:16] terriko commented on #413
This is an output-related issue and could be handled as part of #267

[2020-02-26 23:19] terriko commented on #267
Added a new issue #413 (csv2cve does not output CVE severity) that could potentially be part of an output-related project.

[2020-02-27 13:22] ananthan-123 opened #414 "Update manual.md."
This tool gives a list of CVE numbers. For those not familiar with the process, these can be looked up using a number of different tools, such as the vulnerability search on the CVE Details website. Each CVE filed contains a short summary of the issue **(also printed when you use the -v flag in this tool)**, a set of severity scores that are combined to make a CVSS score, a list of products known

[2020-02-27 13:31] ananthan-123 commented on #414
update checkers in manual.md

[2020-02-27 22:31] #414 closed

[2020-02-27 22:51] #412 closed

[2020-02-28 00:58] terriko opened #417 "New checker experiment: BoringSSL"
I'm not sure if this new checker idea would work.  BoringSSL is a fork of OpenSSL and I have no idea if the strings are sufficiently different to distinguish them.  But it might be a fun thing to try if someone's feeling like an experiment, so I'm putting it out there as a curiousity thing.

New checker: *BoringSSL*

**Source code**: https://boringssl.googlesource.com/boringssl

**CVEs**: https://

[2020-02-28 15:27] hur commented on #411
I took a shot at doing this for openssh.

I'd like to verify if my approach was correct and if I've understood the code correctly.

My changes can be seen here: b8cf64b1ba92037ff8f4f2d258a39ec4f39e7a48

I ran `pytest test/test_checkers.py`. All the tests passed, except for one:
[code]

It looks like files with `sshd` in the filename get caught in the `ssh` check that is ran before the `sshd` one.

[2020-02-29 00:09] #409 closed

[2020-02-29 00:10] terriko opened #419 "Add tests for csv output"
#410 has added a csv output to cve-bin-tool.  It's going to need some tests.

[2020-02-29 00:23] terriko commented on #411
That looks correct.  I think you're right that the checks are in the wrong order and resulting in undesired behaviour, so that probably needs to be fixed in the checker.  You can probably fix it in the same PR if you want, or file a bug if you don't want to or it proves to be more annoying than just changing the order.

[2020-02-29 00:52] terriko commented on #274
Still looking for a good test here.  Feel free to work on this even if someone else is already working on it -- there is no harm in havnig more than one file test for openssh and unless people happen to choose absolutely identical files, we can merge multiple solutions here.

[2020-02-29 00:53] terriko commented on #237
Still looking for a good test here.  Feel free to work on this even if someone else is already working on it -- there is no harm in havnig more than one file test for openssh and unless people happen to choose absolutely identical files, we can merge multiple solutions here.

[2020-02-29 00:55] terriko commented on #306
Bump.  I'm still looking for at least the one-line fix where we go from log.critical() to log.warning()

[2020-02-29 14:36] hur commented on #274
I started working on this. I have a question regarding the version detection.

I ran the tests with some files and noticed that some files of version `7.9p1` is detected as `7.9` instead of `7.9p1`. It seems to be based on whichever version is detected first in the binaries - the for loop determining the version breaks on the first match.

Is this the desired functionality? Should I write the test

[2020-02-29 17:43] pdxjohnny opened #423 "New checker: wget (hard/blocked)"
**WARNING: wget has proven to have no 'easy' signature.  See thread below. Fixing this checker may require deeper changes to how cve-bin-tool does signature matching.  Working on this bug at this time is not recommended.**

New checker request: **wget**

**Source code**: Please add links in the comments so this issue can be updated

**CVE data**: https://www.cvedetails.com/vulnerability-list/vendo

[2020-02-29 21:25] SaurabhK122 commented on #423
I would like to work on this.

[2020-03-01 08:48] PrajwalM2212 opened #428 "Plugin System for output formats"
We have a plugin system for checkers. We would also like to have a plugin system for different output formats.

They provide for better organisation and are extensible.  They provide a uniform way to add new functionalities.

They allow a user to add his own functionality easily when we don't provide one.  It is possible that a user wants a new output format we don't support. In that case, the use

[2020-03-01 10:19] SaurabhK122 commented on #423
Source code- https://www.gnu.org/software/wget/

[2020-03-02 18:59] SaurabhK122 commented on #36
I would like to work on this.
Source Code-https://github.com/eclipse/jetty.project

[2020-03-02 19:32] terriko opened #438 "Bluez checker does not have a way to check if something "contains" bluez"
One of the reasons the bluez tests are failing: the bluez checker is incomplete and does not have any `guess_contains*` method or equivalent code.  This needs to be added. Curl.py has a similar flaw, but other checkers should be able to show you what is missing.

[2020-03-02 19:49] terriko commented on #361
I think at this point MANUAL.md just needs the new output options described and examples with more detail shown.

[2020-03-02 19:50] #306 closed

[2020-03-02 22:37] terriko opened #439 "Move VERSION file"
#431 fixed our `VERSION not found` issue by explicitly adding VERSION in setup.py so it would get copied correctly.   It wasn't getting included because it wasn't inside the `cve_bin_tool` directory.

There is absolutely nothing wrong with the curent solution technically, but I think if the "norm" is to have everything in the one directory and we don't have any particular need to have it not in th

[2020-03-02 23:26] terriko commented on #428
We could potentially have hundreds or thousands of checkers, but I think probably only 3-5 output formats in the near future.  As such, this is a lovely architectural idea but (as I said in #426) is probably overkill in practice.

[2020-03-02 23:26] #428 closed

[2020-03-03 01:34] #439 closed

[2020-03-03 01:40] #237 closed

[2020-03-03 01:53] terriko opened #443 "gnutls checker cannot detect if something `contains` gnutls"
As with #438 and bluez, the gnutls detects filenames but does not work if a library has been statically linked into a larger executable.  This needs a fix.  You can look at the existing checkers' guess_contains* functions or my patch in #442 to a few different ways to fix this issue.

[2020-03-03 01:55] terriko opened #444 "openssh cannot detect if something 'contains' openssh"
As with #438 and bluez, the openssh detects filenames but does not work if a library has been statically linked into a larger executable.  This needs a fix.  You can look at the existing checkers' guess_contains* functions or my patch in #442 to a few different ways to fix this issue.

[2020-03-03 01:57] terriko opened #445 "Python checker says something 'is' python when calling guess_contains"
There's a bug on line 69:

https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/python.py#L69

It's guessing if it contains python, but then returns that it "is" python.  it should be setting that value to "contains". This is maybe not going to come up much (I suspect people don't compile python directly into things much) but we should still fix it beacuse I don't want someone t

[2020-03-03 12:41] SaurabhK122 commented on #444
I would like to work on this.

[2020-03-03 20:56] #438 closed

[2020-03-03 20:58] #445 closed

[2020-03-03 21:31] terriko commented on #274
The first is unintended but sort of expected.  It's a side effect of the way that python treats versions as bigger-than, and you can see how we worked around it in the openssl-specific code in cvedb.py.  A fix would be good.  For systemd (one of the others that has multiple version strings in a regular file) we actually just did a sort on the lines before doing matching, but maybe it's time to bui

[2020-03-03 21:38] terriko opened #449 "Broken checkers cause CI to hang indefinitely"
I've seen this on a couple of PRs:

If you make a change that includes a broken checker (e.g. if you forget to include a VPkg string, screw up the regexes, etc.) GitHub Actions, which we're using for continuous integration, hangs and eventually kills the process after 5h.  We should probably make sure that broken checkers cause a test failure instead of a hang.

In the meantime, if you notice that

[2020-03-04 00:28] terriko opened #451 "test_scanner is accidentally storing cves found in previous tests"
See the debugging in #435

Basically, the list of all cves is being stored between tests, and as a result sometimes tests will pass when they shouldn't, because the same version occurred in another test.  This needs to be fixed by making sure that we clear the cve list between tests.

[2020-03-04 00:29] terriko commented on #451
Note that this fix may break tests.  If it does, feel free to disable them with a note and we'll try to get them fixed later.

[2020-03-04 10:06] hur commented on #274
Thank you, I'll take a look at how it's done currently.

[2020-03-05 08:45] SaurabhK122 commented on #423
Since we were unable to fix the issue for signature test of wget, can I submit a PR only for the checker and CVE mapping test?

[2020-03-05 16:14] pdxjohnny commented on #423
@SaurabhK122 I'm not sure what you mean. If your talking about `cve_bin_tool/checkers/wget.py`, `test/binaries/test-wget-1.11.2.c`, and https://github.com/intel/cve-bin-tool/pull/427/files#diff-7afc62d544ce450fe16dcd0a3ae9f0c8R603-R617. Then no :( since it while that test passes, it doesn't result in a usable checker.

[2020-03-05 16:21] SaurabhK122 commented on #423
I meant everything in my old pull request minus the test added in "def test_binaries(self, binary, package, version, are_in, not_in):" method, because that is the test that is passing due to #451.

[2020-03-05 16:39] pdxjohnny commented on #423
@SaurabhK122 No. `_file_test` only passes because the `test/binaries/test-wget-1.11.2.c` is written so that it will pass.

I'd suggest you try something like #223 instead. Your same regex of `[0-9]+\.[0-9]+\.[0-9]+` and looking for the filename containing `vmlinuz` (which usually also has the version string) seems promising.

*Ubuntu*

[code]

*Fedora*

[code]

[2020-03-05 16:50] SaurabhK122 commented on #423
Oh. Sure I will start working on #223

[2020-03-05 18:53] ananthan-123 commented on #451
In binary_test function:
`cves = self.scan_file(binary)`
I think we should clear `cves` after each test @terriko .

[2020-03-08 13:21] ananthan-123 opened #465 "Prepare cve-bin-tool to accept translations/internationalization."

[2020-03-11 18:02] #419 closed

[2020-03-11 22:48] terriko opened #475 "Output option: list of components/versions"
This isn't a fully formed idea yet, but I wanted to note it down for further thought:

What if we had an output mode where we gave the vendor/product/version output even if there were no CVEs known in that version?  I *think* this would be useful for people but I haven't talked to any actual users yet.  It would definitely be handy for comparing with output for licensing tools.

Possiby something

[2020-03-11 22:59] terriko commented on #267
Added a new thought in #475

[2020-03-12 01:20] yashu2001 commented on #179
Hey I would like to know if this issue is still pending to be fixed and if you could give me any pointers

[2020-03-12 01:21] yashu2001 commented on #179
Btw I'm looking forward to working in gsoc

[2020-03-12 01:57] wzao1515 commented on #179
I think this is fixed since I previously used Python to handle this case if a compiler nor a share library is not found

[2020-03-12 01:58] yashu2001 opened #476 "GSoC 2020 Project Idea-Compiled/software version of cve-bin-tool"
# packaged version of cve-bin-tool

## Why I feel this is necessary?
- Once a packaged version of the cli tool is ready non-programmers would find it easy to just run a command to find out vulnerabilities in the applications they use without the hassle of setup
- We could add minimalistic gui interfaces for ease of non-progranmers
## Benefits
- this adds a wide user base for our tool
- Programmers

[2020-03-12 01:59] yashu2001 commented on #179
Okay great

[2020-03-12 03:25] param211 commented on #476
https://pypi.org/project/cve-bin-tool/
I think this is what you're referring to?

[2020-03-12 07:09] yashu2001 commented on #476
No this installs it as a package I mean to have it as a software without dependencies

[2020-03-12 21:34] #444 closed

[2020-03-12 21:44] terriko commented on #476
Two issues:
1. This isn't a viable GSoC project because it's about packaging (GSoC projects are required to involve mostly writing *code* and this would have very little new code generated to support it.).
2. We already have the pypi package.  It's currently got only a couple of dependencies so it's not a huge load to install.   Ideal python packaging is a topic that's still in debate, and I don't

[2020-03-12 21:44] #476 closed

[2020-03-12 21:47] #449 closed

[2020-03-14 17:09] SinghHrmn commented on #332
@terriko I want to know if you are talking about CSV and JSON as the machine-readable logs?

If yes.
As we are now able to generate both of them do we need to generate a detailed descriptive report only from those outputs? I want to know if we can add descriptive reports as an output type. So, the user can specify before scanning the files to generate a detailed report. Also, I can't figure out ho

[2020-03-16 07:13] FReeshabh commented on #475
Hi Terriko this sounds interesting to me. Can you provide a bit more detail on how the output should look like. I might like to take this up

[2020-03-16 18:39] terriko commented on #475
I honestly haven't thought that deeply about it yet, but here's some brainstorming notes:

- There's already something that outputs what's found in debug mode, i think?
- It would probably be most useful if this outputted in a form that you could then import later into csv2cve, so you'd want to output the NVD vendor,product pair as well as a version number.  That means if you scanned a bunch of bi

[2020-03-17 01:46] jiajiuan opened #481 "some cpe version are '-' not '*', like busybox"
I found version range check failed while scanning busybox, because it's cpe version is '-' not  '*'.

 "configurations" : {
      "CVE_data_version" : "4.0",
      "nodes" : [ {
        "operator" : "OR",
        "cpe_match" : [ {
          "vulnerable" : true,
          "cpe23Uri" : "cpe:2.3:a:busybox:busybox:-:*:*:*:*:*:*:*"
        } ]
      } ]
    },

Thus, I try to modify SQL query  in  cved

[2020-03-17 11:59] mukul-mehta commented on #364
Could I work on this issue?

[2020-03-17 13:36] ankan17 commented on #364
@mukul-mehta Sure, please go ahead.

[2020-03-17 22:12] terriko commented on #33
Closed in #468

[2020-03-17 22:12] #33 closed

[2020-03-17 22:32] terriko commented on #481
- has a different meaning than *, actually.  Can you look up in the nvd documentation what that is?  I seem to recall that we were treating it like match-all when it turned out to be match-none and was often used for cves that were disupted or invalid.

[2020-03-18 06:47] Niraj-Kamdar commented on #413
@terriko i have fixed this issue please checkout my pr [#477 ](https://github.com/intel/cve-bin-tool/pull/477)

[2020-03-18 07:02] Niraj-Kamdar commented on #320
@terriko The way i understand the problem, people who is using this tool for a long time could have _2 directories_ one containing old data and one for new data and we should **remove old data** so that it _won't waste user's space_.
For this I like both option 3 and 4. We can implement one of this option as part of **next release** and make sure that all user _only have new directory_ for storing

[2020-03-19 01:31] terriko opened #486 "Allowing for triage of cve-bin-tool results"
This is another half-formed idea related loosely to #267 (Improve CVE-bin-tool output).

One of the big things that people often have to do with lists of known CVEs is figure out which of them *really* apply to their product (and ignore any false positives), as well as just decide which ones they'll fix and which ones they may ignore.  I would expect people to, say, export to CSV and then open tha

[2020-03-19 06:06] Niraj-Kamdar commented on #486
sounds nice to me.
We can process this user defined columns into `csv2cve.py` and display confirmed cves on top. not yet investigate in middle and ignored cves is bottom.
What i am thinking is why don't we provide interactive console. so, that user can do this changes without leaving our program.

[2020-03-19 09:22] Niraj-Kamdar commented on #288
@terriko I have integrated codecov in my project using GitHub actions. So, I would like to try this issue.

[2020-03-19 09:44] Anirudhxx commented on #411
I'm have a doubt, what file-name and expected result we have to use while adding a test. i mean how can i know about that?

[2020-03-19 13:06] Anirudhxx commented on #411
![Screenshot from 2020-03-19 18-35-13](https://user-images.githubusercontent.com/60311284/77070555-74cf8700-6a10-11ea-9572-4ef922806952.png)
when i'm running pytest it is showing 14 errors

[2020-03-19 13:08] Anirudhxx commented on #411
![Screenshot from 2020-03-19 18-37-57](https://user-images.githubusercontent.com/60311284/77070731-c5df7b00-6a10-11ea-86d3-cedb891022f6.png)
it is showing 14 errors when i'm running pytest.

[2020-03-20 16:44] Niraj-Kamdar commented on #369
one of the error in test_scanner.py is  in `test_does_not_scan_symlinks` function because in windows `os.symlink` is privilege operation.

[2020-03-20 16:50] Niraj-Kamdar commented on #272
If I understood correctly, you are talking about using cve-bin-tool to scan CVEs inside CI pipeline of other projects. If this is the case We can create github actions for our users which they can integrate directly just like we have integrated black in our CI pipeline.

[2020-03-20 17:17] ableabhinav commented on #269
Hello. I too am interested in contributing to this tool in general as well as for GSoC 2020. Are you still open for additional students for the two project ideas?
Thanks

[2020-03-20 19:52] #274 closed

[2020-03-20 22:37] terriko commented on #369
@Niraj-Kamdar Good find. We can probably have that test disabled when on windows, then.

[2020-03-20 22:40] terriko commented on #272
That's the idea!  It doesn't seem like it should be too hard to do even without an action, but there's something nice about having it pre-canned for people.

[2020-03-20 22:47] terriko commented on #411
@Anirudhxx cve-bin-tool no longer supports python 2.7, so you'll have to switch to running it in python3.

As for file names, that depends on the package.  Most of them you can infer from reading the code in the checkers, but you can also do a little bit of research to see what the typical filename for a given library is.  The package search for linux distros like fedora and ubuntu is pretty good

[2020-03-20 22:50] terriko commented on #413
Fixed in #477

[2020-03-20 22:50] #413 closed

[2020-03-20 22:57] terriko commented on #332
- yes, the CSV and JSON will be our machine readable logs.  (And no other formats are planned at this time)
- this report generator will likely be another command line program (like csv2cve) that you run with a filename to specify the log you want to generate from
- for this report-only mode, you likely want to generate an entirely new report and never edit the original.
- But if we combine this w

[2020-03-21 11:29] Niraj-Kamdar commented on #369
one other error in test_scanner.py is while asserting `package in list(cves.keys())` here package `ffmpeg` isn't in `cve.keys()`

[2020-03-21 11:50] Niraj-Kamdar commented on #369
What is pstring here? I didn't find pstring.py in cve_bin_tool
[code]

[2020-03-21 11:55] Niraj-Kamdar commented on #369
In test_cli why are we asserting not equal here.
[code]
It should be assertEqual zero case successful function call returns 0

[2020-03-21 17:44] Anirudhxx commented on #411
@terriko  Ma'am
I've added `("libtiff", "libtiff.so." , "tiff"),`in the checkers.py file but i don't know how to check if my code is correct or not.

[2020-03-21 18:17] ableabhinav opened #488 "Argument to check installed version of cve-bin-tool"
We can check the installed version through `pip show cve-bin-tool`, but it would be ideal if there is an optional argument to do this (something like: `cve-bin-tool --version`)

[2020-03-21 18:18] ableabhinav commented on #488
Can I try solving this issue myself?

[2020-03-22 00:20] mariuszskon commented on #269
@terriko Hi, I submitted a draft proposal "Python CVE Binary Tool: Enhancing Quality of Output" and was wondering if these are getting reviewed? Thanks!

[2020-03-22 02:16] terriko commented on #269
I'm hoping to get started on proposal feedback on Monday. (I prioritized pull requests last week because a few people haven't had first merged code yet.).

Everyone: please make sure there's a way to contact you if you want feedback (eg comments turned on in your doc, an email you actually check in the doc). We can't leave comments in the Google system itself.

[2020-03-22 02:17] terriko commented on #488
I think this one has already been resolved.  Try --version

[2020-03-22 02:17] #488 closed

[2020-03-22 02:21] terriko commented on #369
Cve-bin-tool returns work like this:
- 0 means it ran and found no cves
- positive numbers indicate a number of cves (this was a specific request from a user so that CI systems would fail when cves were found)
- negative numbers indicate errors that caused the tool not to run

So yes, scanning on that old version of curl should find cves and return a positive non-zero number.

[2020-03-22 02:22] terriko commented on #369
Pstring is the strings implementation for Windows. It's in the .c file, because it was converted to c to improve performance (considerably).

[2020-03-22 02:23] terriko commented on #369
Don't know what's up with the ffmpeg error though.

[2020-03-22 05:57] Niraj-Kamdar commented on #369
`test_extract_curl_7_20_0` in `test_cli` is failing because of the same problem of "\r" in the end. Here's truncated output of scanner `['/lib64/ld-linux-x86-64.so.2\r', 's{^^\r']`

[2020-03-22 06:07] Niraj-Kamdar commented on #369
Why output from `strings` command and  our `Strings` library is different
[code]
debug output looks like this....
[code]

[2020-03-22 06:56] ableabhinav commented on #488
I tried but it does not show the version. Using version 0.3.1 installed from pip. Says `unrecognized argument`

[2020-03-22 15:47] terriko commented on #488
It's not in the 0.3.1, it's in the development tree.

[2020-03-23 19:03] terriko opened #490 "Change -v shortcut for --version to be -V instead (note upper-case)"
-v used to mean --verbose and is probably in use in people's scripts, even though we swapped it out for making everything part of --log.

We then added --version and re-used -v.  I think this is going to break people's existing scripts, and we should probably not have done that.

I can't decide if just removing the -v shortcut is the right solution, or if we should just integrate the version into

[2020-03-23 20:15] SinghHrmn commented on #380
@terriko this issue can be closed now.

[2020-03-24 18:43] terriko commented on #423
We've now had two people work on this without success because it doesn't have any easy strings.  I'm marking this checker as "blocked" after the research done in #489.   I'll put a note at the top of the thread here so people know this one is likely a dead end with our current signature methods.

[2020-03-25 13:22] Niraj-Kamdar opened #496 "CI is failing due to OSError: [Errno 101] during longtest sometimes."
Here, for longtest we have to download data from server and sometime CI crashes with URLError.
errno 101 or 104.
Examples:
- https://github.com/intel/cve-bin-tool/pull/494/checks?check_run_id=533308297#step:6:1395
- https://github.com/intel/cve-bin-tool/pull/495/checks?sha=64e6c1073548b1f8ec84cdedc1ee857543cede10#step:6:1239
Why don't we restart actions whenever this error throws or we handle this

[2020-03-25 16:00] #380 closed

[2020-03-25 16:04] pdxjohnny commented on #490
I've seen tools like netcat use uppercase `V` as the version so as to avoid this scenario.

[code]

[2020-03-26 01:43] terriko commented on #490
Okay, let's go with -V!

So this issue is now:

- Replace -v with -V.  Should be a one-line code change in cli.py
- Update the docs to reflect this change anywhere -v was documented previously.

That's simple enough for a new contributor, so I'm going to put the appopriate tag on this.

[2020-03-26 01:56] terriko commented on #496
I'm pretty sure this is happening due to transient network errors in the containers used for GitHub actions.   Which means regardless of whether we make the container restart or we set a retry in Python, it's probably going to fail again unless we put a pretty significant delay in there.  I've seen the network error last for anything from a few minutes to maybe an hour or more.

We *could* do a re

[2020-03-26 02:13] #116 closed

[2020-03-26 05:49] ableabhinav commented on #490
I would like to give it a try

[2020-03-26 17:36] terriko commented on #288
Fixed in #487, I hope.

[2020-03-26 17:36] #288 closed

[2020-03-26 18:15] terriko commented on #117
We've now had a few people take a stab at this without success.  I'm going to mark this as "signature needs work" and "blocked" on the assumption that there's something hard here.  Don't bother working on this issue unless you're looking for a challenge!

[2020-03-26 18:18] terriko commented on #369
It shouldn't be different.  This is likely a bug.  We should probably strip all \r from output in both cases.

[2020-03-26 21:55] terriko commented on #370
Fixed in #480

[2020-03-26 21:55] #370 closed

[2020-03-27 05:39] chenchampion opened #509 "an issue in test_scanner.py"
Dear Sir,

I found an error in cve-bin-tool/test/test_scanner.py. the  test-icu-3.8.1.out is duplicated.  beside it, CVE-2019-3823 is an issue for libcurl, why do you match it to  international_components_for_unicode?
 (
                "test-icu-3.8.1.out",
                "international_components_for_unicode",
                "3.8.1",
                ["CVE-2007-4770", "CVE-2007-4771"],

[2020-03-27 08:53] Niraj-Kamdar commented on #369
@terriko Why don't we use compiled strings binary from GNU mingw? Its size is only 1MB and results are similar to linux GNU strings.

[2020-03-27 17:20] wzao1515 commented on #369
Because previously we were thinking about using a single method to support all platforms, so that we could get rid of both linux strings and mingw strings. But for now I think it is fine to use packages from third party.

[2020-03-27 19:27] param211 commented on #509
Hi @chenchampion
This might help: https://github.com/intel/cve-bin-tool/pull/337
(Basically they are not duplicates but instead it is a different test that is checking for a very long version string)

You are right, CVE-2019-3823 is not for icu, but there's no listed CVE for version < 3.8.1 . This means we have to use some other CVE for the test, one that does not effect icu 3.8.1 . For this purpo

[2020-03-27 23:11] SaurabhK122 commented on #266
@terriko, could you like give an idea as to how many checkers have to be added as part of the project?

[2020-03-28 03:58] chenchampion commented on #509
please refer to this report. it may help.https://www.securityfocus.com/bid/94520/info

[2020-03-28 07:26] Niraj-Kamdar opened #526 "change json output format of output engine."
Currently json output of output engine looks like this,
[code]
which is aggregated on package name which would be good if person want to analyse package vise cves but it would be less optimize for the query like sorting cves by severity for that person has to apply 3 loops. So, Aggregation is only good if we know application of data. In my opinion we should keep our output as following...
[code]
A

[2020-03-29 07:32] SaurabhK122 opened #534 "Real binary used for testing syslog-ng checker is causing problems."
![image](https://user-images.githubusercontent.com/50541438/77843695-52323080-71bd-11ea-8e1c-d396676a6486.png)
![Screenshot from 2020-03-29 01-47-02](https://user-images.githubusercontent.com/50541438/77843712-7ee64800-71bd-11ea-8345-be113a9e56ea.png)

[2020-03-29 07:33] SaurabhK122 commented on #534
The real binary used for testing syslog-ng checker is failing quite a lot of times. Could we pehaps change it ?

[2020-03-29 07:41] SinghHrmn commented on #490
@terriko @pdxjohnny this issue needs to be closed

[2020-03-29 10:03] Niraj-Kamdar commented on #534
It's probably problem with the CI itself. Just make sure when you enter that URL in browser it downloads the file.

[2020-03-29 12:05] Niraj-Kamdar commented on #369
@wzao1515 Nice to hear that cause using strings from GNU, we can avoid some problems.

[2020-03-29 12:08] Niraj-Kamdar commented on #369
@terriko I have open PR which fixes test_checker, test_strings and test_extract but there is still problem with test_scanner and test_cli . As my thinking extractor isn't extracting cpio file in Windows and there is also problem of "\r\n" in cli module and fixing it the way I fixed test_string breaking bunch of things.

[2020-03-29 20:43] AkechiShiro commented on #534
Is is normal that the url is like this: https://download-ib01.fedoraproject.org/pub/epel/7/x86_64/Packages/s/-syslog-ng-3.5.6-3.el7.x86_64.rpm-syslog-ng-3.5.6

Whilst the working url is : https://download-ib01.fedoraproject.org/pub/epel/7/x86_64/Packages/s/syslog-ng-3.5.6-3.el7.x86_64.rpm

I don't really understand where the `-` before syslog-ng... is coming from nor the part at the end `-syslog-n

[2020-03-29 20:47] AkechiShiro commented on #411
Hi all, I am a second year undergraduate student in Computer Science looking forward to participate in GsoC 2020 to help implement more tests, I've added a curl filename-checker test, I'm also working on adding a mapping test and a signature test for curl 7.65.0.
However I don't understand why the test fails, it seems related to a syslog-ng archive that fails to get downloaded, it is discussed in

[2020-03-30 05:28] param211 commented on #534
Hi @AkechiShiro,
The "normal" url that you mentioned isn't a url, rather it tells you:
 url of the page -> then name of file you're looking for -> package name
This is the way how the script downloads the file

[2020-03-30 06:06] param211 commented on #534
Hi @SaurabhK122 ,
Yes the real file URL for syslog-ng seems to be failing sometimes, I also noticed that the node.js real test also failed in one of the recent PRs. This is probably some network issue, although I'll soon add a PR to change the URL to a different package provider.

[2020-03-30 06:12] SaurabhK122 commented on #534
@param211 , that would be great!

[2020-03-30 06:18] param211 commented on #534
@SaurabhK122  : )
This wouldn't fix the issue until its merged. Till then you can [re-run the tests](https://help.github.com/en/actions/configuring-and-managing-workflows/managing-a-workflow-run#viewing-your-workflow-history), which usually makes them pass.
![Screenshot from 2020-03-30 11-48-08](https://user-images.githubusercontent.com/20379896/77881333-638e4200-727c-11ea-8abf-f8e4289edf89.png)

[2020-03-30 16:06] AkechiShiro commented on #534
To have this re-run checks option available it is stated in the link you gave that:

Meaning that new contributors who do not have this level of access cannot re-run their checks unless they commit something I guess.

[2020-03-30 16:15] param211 commented on #534
That's weird. I'm pretty sure I don't have write level access but I still was able to re run failed tests.

[2020-03-30 16:23] param211 commented on #534
Or...maybe I re-ran the tests in my forked repo, that seems possible. Anyway you could always  make a blank commit to re-run the tests : )

[2020-03-30 18:13] Niraj-Kamdar commented on #534
@param211 You can only rerun test in your forked repo. I recommend adding some comment to rerun test in your PR.

[2020-03-31 00:03] terriko commented on #490
@SinghHrmn Thanks for catching that.  I thought it was set to close automatically and didn't double-check it.

[2020-03-31 00:03] #490 closed

[2020-03-31 00:15] terriko commented on #509
Neither of these is an error.

- For each of these tests, the first list of CVEs is ones that should appear, and the second list is ones that should NOT apear.  CVE-3823 is indeed an issue in curl.  We're using it as a test to make sure that we haven't garbled the data on output.
- the second test is a test of the version regex for icu.  We're re-using a similar test with an incredibly ridiculous

[2020-03-31 00:15] #509 closed

[2020-03-31 00:19] terriko commented on #526
Please talk to @pdxjohnny about this -- so far, his project dffml is the only one intending to use the JSON data, so let's make sure their use case is covered well before we settle on an appropriate jsonschema.

[2020-03-31 00:30] #534 closed

[2020-03-31 01:19] terriko opened #546 "Clearer grouping of tests in test_scanner.py?"
test_scanner is getting pretty unwieldly with that giant array in it, and it's sometimes causing  problems in merges, (possibly because I haven't been paying close attention to whether people are alphabetizing or whatnot).

I'd like to see if we could maybe turn that one giant array into a set of arrays-per-checker or do something like put comments in so that we can keep tests grouped appropriatel

[2020-03-31 05:40] Niraj-Kamdar commented on #546
Why don't we use unittest and divide tests according to package name? It will increase readability and one can run test for specific package without re-runing all tests.

[2020-03-31 06:11] terriko commented on #546
You can already do that with pytest!  I use stuff like `pytest -k openssl` a lot to run all the tests associated with a given checker, which is part of why the file has gotten unruly because I no longer search through it all the time to find out what tests to run. :)

[2020-03-31 19:13] pdxjohnny commented on #526
I'm not opposed to a flat structure, and nothings been implemented yet, so you have an Okay from me.

[2020-04-02 15:10] PrajwalM2212 commented on #546
@terriko As you said we can break up the giant array into a number of arrays per checker. Then
we can chain them using `itertools.chain` in `@pytest.mark.parametrize`.
That way we would have readability, better organisation and still work the same as before.

If you are okay with this, I will implement it.

[2020-04-02 15:29] PrajwalM2212 commented on #486
@terriko This is a nice idea.  I am guessing this would involve building a separate tool in itself. And would also involve considerable changes in our core code if we were to do all the above points.

This will nicely pair up with the log diff tool specified in https://github.com/intel/cve-bin-tool/issues/332
They both aim at improving the experience of the developer fixing the security issues.

[2020-04-02 16:03] terriko commented on #486
Yes, the triage tool could be a separate tool, potentially with an interactive console.  But honestly, I *do* think we should assume people will use their regular spreadsheet application for the editing -- business users, for example, typically have easy ways to share and collaborate on spreadsheets.  So making it easy to update .csv files so they can keep data in sync is probably more important t

[2020-04-02 16:12] terriko opened #552 "zlib-bin_1.2.8.dfsg-1ubuntu1.1_amd64.deb test was failing and has been disabled"
In #545 I disabled a zlib test that was breaking CI:

https://github.com/intel/cve-bin-tool/pull/545/files

This issue is so we don't forget to figure out why it was broken and actually fix it or replace it rather than leaving it commented out.

[2020-04-02 16:19] terriko commented on #546
That would probably work.  Definitely don't start on it until we get more of the existing PRs merged, or dealing with the fallout will be a mess.

[2020-04-02 16:43] Niraj-Kamdar opened #553 "replace assert statement in test with unittest assert methods"

[2020-04-02 21:08] SinghHrmn opened #554 "Binutils is showing false positives -- needs Fixing"
Today while fixing some other issue I came to know that ```Binutils``` checker is showing false positives. Possible Reason is checker doesn't return ```"UNKNOWN"``` If it can't find a version. It will be just a few lines to fix the issue.

You can look for **hint** in the ```icu``` checker. And the possible line is
https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/icu.py#L31

[2020-04-02 21:10] SinghHrmn commented on #554
@terriko I guess we can mark this as ```good first issue``.

[2020-04-03 23:40] pdxjohnny opened #556 "Make csv2cve use OutputEngine"
That way it can output in all the formats we usually can

[2020-04-05 06:41] SinghHrmn commented on #556
@pdxjohnny  I have included that as part of my GSoC proposal. I hope we don't finish it before GSoC. You might want to close this for right now. Or let it be here but I guess someone will start solving this problem which will possibly disturb my timeline.

[2020-04-05 21:17] pdxjohnny commented on #556
I'm sorry I haven't read your proposal yet. I did not know that. I just had this thought and made and issue. If you are selected you can always do something else during that time period. There's never a shortage of things to do. :)

[2020-04-06 07:38] pdxjohnny opened #558 "test: node: Issue with node filetest"
https://github.com/intel/cve-bin-tool/blob/110c7298b0aaacd107bfeb0d7906d8b85c60015a/test/test_scanner.py#L1127-L1132

[code]

[2020-04-06 08:09] SinghHrmn commented on #556
@pdxjohnny I thought we have to stick to our timeline but I guess you are right I may find some other better contribution ideas. Thanks, I'll start working on this one.

[2020-04-06 09:00] pdxjohnny commented on #556
Sweet! No it's not necessary to stick to the timeline. Which is why we have stretch goals. But don't worry about it, we can just leave this issue up so that when you get to it you can have the PR close this issue. :+1:

[2020-04-06 10:04] SaurabhK122 opened #562 "test: varnish: Issue with varnish filetest"
![varnish](https://user-images.githubusercontent.com/50541438/78547004-fc443500-781b-11ea-8c85-4c72c3229f54.png)

[2020-04-06 10:05] SaurabhK122 commented on #562
There is a network issue with the url of the real binary used in filetest for varnish.

[2020-04-06 13:39] #562 closed

[2020-04-07 09:03] Niraj-Kamdar commented on #556
@pdxjohnny I have this isssue in mind and I have written for this in my GSoC proposal. In my opinion we should make a separate InputEngine module for supporting various format like csv and json to convert it in CVE.

[2020-04-07 18:16] SaurabhK122 commented on #546
@terriko, I have submitted a PR for this issue, now that @pdxjohnny has merged  a lot of existing PRs. Please review it.

[2020-04-07 18:30] #554 closed

[2020-04-07 23:45] #558 closed

[2020-04-07 23:52] terriko opened #567 "Make cve-bin-tool console output more friendly to people doing presentations"
Love the new output and the giant banner cracks me up, but it's also made it really annoying to cut/paste output into slides for my pycon presentation.

I'm torn between reducing the banner size or just accepting that cutting and pasting into slides isn't a real use case.  But I think I've come up with an interim solution.  If we change the "Report Generated:" line to instead read "CVE Binary Tool

[2020-04-08 00:19] terriko commented on #546
@PrajwalM2212 Assigning this to you in the github interface.  I think we're ready for a proper solution now, where tests are in separate arrays per checker so that they don't get so messy.  Feel free to work on it when you have time available!

I recommend you start by pulling *one* checker's tests out and putting it into a separate array first, as that'll cause fewer merge conflicts and be easier

[2020-04-08 00:23] terriko commented on #567
And yes, PyCon *is* cancelled but they're making it possible for anyone who wishes to upload video presentations, so I'm hoping to get that done soon.

[2020-04-08 03:52] SinghHrmn commented on #567
@terriko If we break the giant banner into two sub banner 1) BIG CVE Bin tool 2) Report Generated
 that way during presentations you can Comment out the line used for printing Big CVE bin tool.

[2020-04-08 07:43] lcytxw opened #568 "setup.py missing VERSION"
- error
[code]
- fix
[code]

[2020-04-09 20:37] SaurabhK122 commented on #546
@terriko, could you please review #566 one more time, i had grouped tests per checker into sub arrays and also annotated the file.