[2021-03-05 01:30] #953 closed

[2021-03-07 09:24] BreadGenie commented on #1090
Here are some go packages with vulnerabilities that I've found through a quick search

- Docker
  [website](https://docs.docker.com/engine/install/)
[CVE](https://www.cvedetails.com/product/31456/?q=Docker)

- Kubernetes

[website](https://kubernetes.io/docs/tasks/tools/)
[CVE](https://www.cvedetails.com/product/33261/?q=Kubernetes)

- etcd

[website](https://etcd.io/)
[CVE](https://www.cvedetails

[2021-03-08 13:08] param211 commented on #1081
* Tried finding out NVD's rate limit using a github action that repeatedly fetches a json.gz file for a particular year ([logs](https://github.com/param211/testing-github-actions-for-nvd-download/actions)). We start getting the `not a gzip file` error after around 80 requests.

* The CI tests seem to be failing because Github Actions' download speeds are faster than our local machines, hitting the

[2021-03-08 13:22] Aman-Godara opened #1092 "Broken link to this GitHub repo, on cve-bin-tool.readthedocs.io page"
Please visit this link first to understand the issue: https://cve-bin-tool.readthedocs.io/en/latest/CONTRIBUTORS.html#imposter-syndrome-disclaimer

Under Imposter Syndrome disclaimer title, the link behind the text **GitHub issues** (3rd last paragraph) is broken.

[2021-03-08 18:43] anthonyharrison commented on #1090
Just scanned the docker binary (version 20.10.3), a program written in Go. It ijust appears as a normal Linux binary with the inevitable link to Glibc :-) and found 94 CVEs with the linked version of GlibC

Not sure if that helps but one of the advanatges of cve-bin-tool is that it is agnostic to the programming language used to create the binary. If cve-bin-tool starts looking at Go imports, shou

[2021-03-09 10:26] #1092 closed

[2021-03-09 10:28] Aman-Godara commented on #1092
#1094 fixes the issue. Thank You!

[2021-03-09 22:46] terriko commented on #1090
Yeah, java has the same problem: lots of folk embedding .jar files to avoid api changes.  It's definitely a good target.

In theory we can read jar files already (they're just zip files with some metadata, basically) but just like go, I don't think we have any checkers for specific java libraries yet.  I believe the one that was attempted (apache-commons, i think?) turned out to be a bust in the s

[2021-03-10 13:18] peb-peb commented on #1039
@terriko I think there is no good `VERSION_PATTERNS` for tomcat

There were no good patterns when running `strings tomcat-7.0.82-1.mga5.noarch.rpm | grep -i tomcat`

![tomcat5](https://user-images.githubusercontent.com/77539004/110635147-cb5d4480-81d0-11eb-975d-be79a4756fcb.JPG)

Also, it doesn't return anything when running `find . -exec file {} \; | grep -E 'executable,|shared object,' | tee >(s

[2021-03-10 18:52] terriko commented on #1063
Adding a link for clarity: this script would likely start by reproducing what we describe in detail in [the checkers README](https://github.com/intel/cve-bin-tool/blob/main/cve_bin_tool/checkers/README.md).  This is the part that I think should only take a week or two, since it's already pretty well-documented.  From there, finessing it to improve the quality of checkers you build from it, testing

[2021-03-12 00:33] terriko commented on #1061
Quick warning on this: "shipping" a dockerfile means I'll have to do some additional validation and security testing on my end, and I don't think I've got the bandwidth for that with my current pandemic schedule.  It's still useful to try this out so we can learn how well it works on some common images, and I encourage folk to share dockerfiles from their own repos for others to use, but I probabl

[2021-03-12 08:45] rajpratyush commented on #1062
Hi @terriko can you guide me on how to get started with this work?

[2021-03-12 18:11] Pratikrocks commented on #1038
@terriko just wanted to be sure of this , when we are running the `checkers test` then internally the `rpm` files are downloaded right?
if its the case then we might have issues downloading the `oracle jre` without logging, and the rpm might not be loaded , Actually I was facing this issue in my PR for a long time , So just wanted to confirm about it.

[2021-03-15 17:57] param211 commented on #1081
Got this response in an email exchange with NVD regarding the rate limits:

It seems that instead of limiting concurrent connections or rate-limiting the requests, it's the number of new connections per minute that is rate-limited!

[2021-03-17 13:51] samonfire-adm commented on #997
What are the requirements for developer as if the requisite for the developer

[2021-03-18 23:42] terriko commented on #1081
I do think that hosting a copy of NVD in the repo the same way we do condensed downloads is a potentially good idea for improving test stability.  Need to clear it with licensing and think it through some to figure out the right update cadence, and maybe make a separate GitHub Actions thing for live tests, since we *do* want a heads up if it's not working, but it would be nice if it was just "netw

[2021-03-18 23:50] terriko opened #1099 "Keep copy of NVD data to improve test stability"
@param211 suggested in #1081 that one way we could side-step our issues with NVD would be to keep a copy in the repo for testing purposes, so I'm opening this issue to discuss that separately from "fix our immediate problem with 403 errors"

- This would be similar to what we do with condensed downloads.  I'd suggest we probably actually save cve.db and copy it in to ~/.cache/cve-bin-tool for usag

[2021-03-18 23:52] terriko commented on #1062
@rajpratyush I'm not sure there's anything else that needs to be done here, but it would be very helpful if you could follow the instructions on windows and let us know if you encounter anything that does need additional documentation!

[2021-03-18 23:55] terriko commented on #1039
Wouldn't that first string be a basis for a reasonable signature?

`tomcat-0:7.0.82-1.mga5` looks like it's got the expected version of 7.0.82 in it.

You should also try grepping for 7.0.82 instead of tomcat just to see if there's anything else that might be usable.

[2021-03-18 23:57] terriko commented on #1038
Yes, the rpms will be downloaded.  if the download files the test will fail (at least until you get a download and create a condensed file, at which point the test will use the condensed file instead of re-downloading)

[2021-03-19 00:03] terriko commented on #997
@samonfire-adm General requirements: knowledge of python, github, ability to learn some command line tools, and good communication skills so you can read documentation and ask questions if you get stuck.  Additional "ideal student" lists are available in the ideas list: https://github.com/intel/cve-bin-tool/wiki/CVE-Binary-Tool-Ideas-Page-for-GSoC-2021

[2021-03-19 01:32] peb-peb commented on #1039
Ok, I'll be working on it!

[2021-03-22 09:08] anthonyharrison commented on #1081
I have also had the error when my internet connection had dropped (the check to see if I was running the latest version of the cve-bin-tool also failed). I wonder if there is some improved error handling required to look at how the tool is handling failures with external connections.

@terriko keeping a local copy of the NVD data to  support testing is a good idea. However, we could just save a lo

[2021-03-22 17:09] terriko opened #1104 "Revert temporary fix in #1103"
This issue is a reminder that we have a temporary fix in #1103 because of an expired SSL cert, and that change will eventually need to be reverted when the certificate is fixed by the pdx.edu folk.

I'm going to put this in the 2.2 milestone so we don't forget, but hopefully it will be fixed long before that.  This is a beginner-friendly issue (it's just a one line fix) but it's blocked until the

[2021-03-22 18:53] #990 closed

[2021-03-23 03:32] CabTheProgrammer commented on #1063
Hey everyone, is this issue still available? I'd like to attempt to tackle it, so I have been following the instructions on the gsoc page

[2021-03-23 04:10] CabTheProgrammer opened #1105 "Instructions on how to add a new checker is unavailable in documentation"
When I click on the link [instructions on how to add a new checker](https://cve-bin-tool.readthedocs.io/en/latest/cve_bin_tool/checkers/README)  on the documentation [site](https://cve-bin-tool.readthedocs.io/en/latest/README.html), I am directed to this filler page:
![image](https://user-images.githubusercontent.com/55765253/112091413-ae7b2680-8b6b-11eb-819b-2a5d5004d096.png)
###

[2021-03-23 04:57] param211 commented on #1105
Hi @CabTheProgrammer!
Probably the base URL is wrong in the docs. This is the correct link: https://github.com/intel/cve-bin-tool/blob/main/cve_bin_tool/checkers/README.md

You can make a PR fixing the link in the docs if you want :)

[2021-03-23 05:32] CabTheProgrammer commented on #1105
Sure, I'll make the adjustment

[2021-03-23 06:36] CabTheProgrammer commented on #1105
@param211 I've created a PR on the issue, please review

[2021-03-23 12:19] param211 commented on #1105
Thanks @CabTheProgrammer! One of the maintainers will review the PR soon.

(I noticed that you modified the URL in the base README.md too. That link is already working fine so we probably don't need to change that)

[2021-03-23 13:34] BreadGenie opened #1107 "New Checker: pspp"
New Checker: pspp

Website: https://www.gnu.org/software/pspp/
CVEs: https://www.cvedetails.com/product/38732/GNU-Pspp.html?vendor_id=72

[2021-03-23 14:04] #1075 closed

[2021-03-23 20:51] terriko commented on #1081
@anthonyharrison yeah, I looked in to making sure we raised the error in #1084 and I think we need to do that in a few more places so it correctly tells the user they had a 40X on $url.  It's not what I consider a perfect error message (since users may or may not know what urls are involved under the hood) but it's a lot more useful than the gzip error.

Obviously I haven't gotten back to #1084 so

[2021-03-23 21:02] terriko opened #1109 "Raise better errors when URLs fail to load"
In #1084, I started working on raising errors using `response.raise_for_status()` to help us get better error messages when we have a problem with a file download.  I think there's a few other places where we're downloading data but maybe not explicitly erroring on certain types of status -- probably just searching for "response" or "request" or finding any time we've used urllib would help you fi

[2021-03-23 21:10] terriko opened #1110 "Integrate Bandit into CI"
Not 100% sure if this is a brilliant idea, but it would probably be helpful for us to integrate [Bandit](https://github.com/PyCQA/bandit) into our CI and potentially pre-commit rules to get early warning on potential security flaws.

Bandit has a number of rules that aren't "don't do this" but "make sure you do secure code review on this component" so I definitely don't want CI to fail unless we g

[2021-03-23 21:37] terriko opened #1111 "Convert our requirements.txt to cve-bin-tool compatible csv file"
This is related to the gsoc idea #1018 "building known checker lists" and #809 "Add checks for cve-bin-tool's dependencies into regular CI checks"

We have a reasonably large requirements.txt for both the main tool and a separate one for building documentation.  It would be awfully nice if we could use cve-bin-tool to give us some sort of warning if those aren't up to date as part of CI

To do thi

[2021-03-23 21:50] #1107 closed

[2021-03-23 21:55] #1105 closed

[2021-03-23 21:57] terriko opened #1112 "Add SDPX header on new files"
I merged a few pull requests that didn't have SPDX headers on the new files (checker files and test files) because I forgot that I should be asking for that during code review now.  This bug is mostly a reminder to me to go find those, but if anyone else wants a super easy bug, look at .py files added in the last couple of commits and add the three lines from https://github.com/intel/cve-bin-tool/

[2021-03-23 22:26] terriko commented on #1112
For anyone not familiar with this type of license notice, here's a link for more info https://spdx.org/licenses/

[2021-03-24 03:13] BreadGenie commented on #1111
I'll work on it to get a grasp on how to work on the GSoC project idea

[2021-03-24 11:37] anthonyharrison opened #1114 "[ENHANCEMENT] Add pdf as an output option"
Add pdf as an additional output format.

Example format attached, producing using ReportLab module
[aph.pdf](https://github.com/intel/cve-bin-tool/files/6196789/aph.pdf)

[2021-03-24 14:54] CabTheProgrammer commented on #1105
No problem!

[2021-03-24 18:45] terriko commented on #1063
@CabTheProgrammer Yes, it's still available.  Since this is a GSoC project idea and not a regular issue, it's "available" up until we choose a candidate for the project and we likely won't merge contributions related to it before the project announcements go out on May 17th.

If you're looking for a bugs to fix as part of a GSoC application, this is not good for that, and you'd likely want to take

[2021-03-28 16:37] Adley-Nastri opened #1116 "Failing to download CVEs"
When running cve-bin-tool, a SHAMismatch error occurs , leading to the whole rest of the process to completely halt.

[code]

This screen persists and yields nothing.
The tool was working well last week .
I have tried the tool on both Windows and Ubuntu under WSL.

[2021-03-29 07:05] imsahil007 commented on #1116
After doing a little bit of research I find out there is something wrong with NVD. After refreshing the meta information with a one-second interval I found this output:
[code]
[code]
Clearly, the first one is right and it is showing meta information for older data. This is the same reason we have been getting SHA mismatch warnings for quite some time.

[2021-03-29 07:16] CabTheProgrammer commented on #1109
So its just to adjust the code to return an error message of some sort when a download has failed?

[2021-03-29 07:57] param211 commented on #1116
Yes. The meta and actual files on the [data feed](https://nvd.nist.gov/vuln/data-feeds#JSON_FEED) aren't in sync.
@Adley-Nastri while NVD fixes the issue, you can use the tool with the `-u never` flag to skip the database update.

[2021-03-29 13:54] keesj-exset commented on #1116
Is the tool also not using outdated calls?

https://nvd.nist.gov/General/News/New-NVD-CVE-CPE-API-and-SOAP-Retirement

[2021-03-29 14:48] param211 commented on #1116
Whoa! An NVD API definitely changes things!

[2021-03-30 12:51] param211 commented on #1116
NVD data feed is back to normal. SHAMismatch errors aren't showing up now.

[2021-03-30 13:18] param211 commented on #1116
@terriko we should probably explore switching to the API.
From [here](https://nvd.nist.gov/General/News/New-NVD-CVE-CPE-API-and-SOAP-Retirement)

I'm not sure if this covers the json files on the data feeds webpage (SOAP == XML?). But in the [API docs](https://csrc.nist.gov/CSRC/media/Projects/National-Vulnerability-Database/documents/web%20service%20documentation/Automation%20Support%20for%20CVE%

[2021-03-30 13:33] param211 commented on #1116
I explored the API a bit, the way it's structured we could download all the CVEs at the initial run of the tool and for subsequent runs update only the updated/new CVEs.

Presently NVD contains more than 120,000 vulnerabilities relating to thousands of vendor products. If
your goal is to fetch all records, then multiple consecutive requests are required. For example, 120+
requests for 1,000 result

[2021-03-31 00:25] terriko commented on #1116
Switching to the new setup sounds like a good plan.  @param211 do you mind opening a separate github issue with your research on that?  Does this look like a few days of work or a whole GSoC project worth of work to you?

[2021-03-31 00:28] #1104 closed

[2021-03-31 00:39] #1068 closed

[2021-03-31 00:50] terriko opened #1123 "Remove shebang line (#!/usr/bin/python3) from checkers"
Many of our checkers have a shebang line that looks like `#!/usr/bin/python3` in them just below the copyright/licensing info.  Normally, this line occurs at the top of python files as helpers for when they're used as shell scripts.  Since checkers are generally not used as shell scripts (they can't even run by themselves) there's no reason to keep this line there.  It doesn't hurt anything and it

[2021-03-31 05:15] param211 commented on #1116
@terriko sure I'll open a new issue. At first glance, it looks like only some parts of `cvedb.py` will need to be rewritten. And the JSON structure is unchanged. Probably can get it done within this week.

[2021-03-31 05:36] param211 opened #1125 "Switch to NVD's new API to download and update CVEs"
As discussed in #1116, NVD has launched a new API and is recommending users migrate to this service.
The news update is [here](https://nvd.nist.gov/General/News/New-NVD-CVE-CPE-API-and-SOAP-Retirement) and the CVE API doc is [here](https://csrc.nist.gov/CSRC/media/Projects/National-Vulnerability-Database/documents/web%20service%20documentation/Automation%20Support%20for%20CVE%20Retrieval.pdf).

[2021-03-31 05:37] param211 commented on #1125
I'm working on this now, probably will have an update by this week's end.

[2021-03-31 08:34] alt-glitch commented on #1072
Just as an update for everyone for the `sudo` checker. The only common identifiable `sudo` version string is:
![image](https://user-images.githubusercontent.com/52913345/113115231-d896ad80-9229-11eb-8281-de43eef529d4.png)

This means that we need to be able to do pattern matching / regex over multiple lines to be able to match "Sudo version %s\n X.X.X"

[2021-04-01 10:41] bhargavh opened #1126 "Add a pure-python cab extractor"
As we talked on #1122 , we need to add a pure python cab-extractor as not all systems will come with it ,On a initial look [cabarchive](https://pypi.org/project/cabarchive/) seems good. This will act as a fallback when `cabextract` is not found

[2021-04-03 12:28] alt-glitch commented on #1038
@terriko @Pratikrocks: As the PR for this checker has not yet been merged should I go ahead and give this one a shot?

[2021-04-03 13:56] alt-glitch commented on #1039
@terriko @peb-peb: On downloading and going through Tomcat's Binary Package (like [this](https://fedora.pkgs.org/34/fedora-updates-testing-aarch64/tomcat-9.0.44-1.fc34.noarch.rpm.html) one for example), I found out that the package doesn't seem to have **any** executable at all.
If that is the case, then I guess we can close this issue as the tool only scans binary files if I'm not wrong.

[2021-04-03 17:26] anthonyharrison opened #1128 "New checker - GNUPG/Libgcrypt"
Create checker for GNU privacy guard and libgrypt library

[2021-04-04 14:33] alt-glitch commented on #1128
@anthonyharrison It seems that `libgcrypt` already has an existing checker [here](https://github.com/intel/cve-bin-tool/blob/main/cve_bin_tool/checkers/libgcrypt.py). I'll be making a PR for GNUPG

[2021-04-06 12:34] BreadGenie opened #1132 "Unknown CVEs while json or csv input"
Noticed that while running CVE Binary Tool against a json or csv with atleast one package with a CVE will result in other packages without CVEs to be reported in the console with unknown CVEs like below.

![Screenshot from 2021-04-06 18-02-04](https://user-images.githubusercontent.com/63963181/113711199-4b0ffd80-9702-11eb-85e1-1140eff3a731.png)

[2021-04-06 12:47] SinghHrmn commented on #1132
@BreadGenie this is done to ensure the user that, which packages have the CVE's associated with them and which don't. But I guess we can discuss what will our potential user would want.

My better guess was the user gets the whole details in the console so that there is not a single checker that he/she might miss Since the list of products can be huge.

[2021-04-06 13:07] BreadGenie commented on #1132
I think I understand the logic behind it.
I thought the heading `NewFound CVEs` along with the list of packages without CVEs would be false information for the users.
So maybe it's better to list out the packages that were scanned instead of listing it out as packages with CVEs.
Also I've seen Terri mentioning somewhere on avoiding a long list of unknown CVEs (not sure that applies here) and that

[2021-04-06 21:48] anthonyharrison commented on #1132
I have just looked at the cve database at all of the CVEs for the product "libvorbis" and there aren't any vulnerabilities reported against version 1.3.7 (the latest version with vulnerabilities identified is 1.3.6 with CVE-2020-20412). CVE-2007-3106 is reported against libvorbis but the version is in the range * to 1.2.0 inclusive (so therefore not in the range of a product version 1.3.7). I wond

[2021-04-06 21:53] Molkree commented on #910
I have tried to test on Ubuntu 20.04 with Python 3.9 in venv (in WSL :D) and encountered some problems. When doing `pip install -r requirements.txt` pycares fails to install. Dependency chain is cve-bin-tool -> aiohttp -> aiodns -> pycares.

<details>
  <summary>Error</summary>

[code]
</details>

There are other people facing this on Python 3.9 ([one](https://github.com/saghul/pycares/issues/133)

[2021-04-07 04:04] BreadGenie commented on #1132
![Screenshot from 2021-04-07 09-31-28](https://user-images.githubusercontent.com/63963181/113808645-12186d00-9784-11eb-83eb-d185543a8501.png)

It seems that even if the package doesn't exist in the db it'll still appear in the UNKNOWN CVEs list if any of the one packages get a hit.

Yup, this might be better than the current scenario

[2021-04-07 12:57] BreadGenie commented on #1132
This is true for file input and package scanning too.
Noticed it a bit late.

[2021-04-09 16:32] imsahil007 commented on #1061
Dockerfile
[code]
For build and run:
[code]
@anthonyharrison I tried working on the dockerfile after mounting a scan directory from my host machine to docker image.
Alternatively, we can run cve binary tool by default. What will be a better approach for this?
Also, we will have to think something about the cache directory in the later case

[2021-04-10 17:24] anthonyharrison commented on #1061
@imsahil007 It is good to see some progress. I wonder if we should run cve-bin-tool as part of the creation of the image to get a copy of the database updated into the docker image and then run the tool in the non updating mode.

I understand @terriko concerns regarding the extra validation that a dockerfile would entail, so I wonder if this should just become a 'cookbook' recipe detailing the ste

[2021-04-13 12:56] param211 commented on #1125
Sorry for the delay on this!

TLDR: API is unusable for updating the entire cache (and is very unstable).

* I made modifications to use the API on this [branch](https://github.com/param211/cve-bin-tool/tree/nvd-api). This is a hacked-together version, not PR-ready.
* Since there's no meta data, SHA checks were removed. The JSON structure is same but the results are one level deeper in the tree.
*

[2021-04-13 15:02] Molkree commented on #1125
This is how it looks when it doesn't work.
[code]

[2021-04-14 00:02] CabTheProgrammer commented on #1123
@terriko Can I attempt this issue? I have an idea for a script

[2021-04-14 06:59] keesj-exset commented on #1125
What is the way forward? Talk to nist?

[2021-04-14 16:17] terriko commented on #1123
@CabTheProgrammer Sure, go ahead.  it shouldn't be too hard to write a script to get it done.  Though I'm going to admit this is the sort of thing I use bash or perl for rather than python. ;)

[2021-04-14 16:24] terriko opened #1135 "Incorrect exit codes in normal operation"
Bug report I got by email:

 ![linux-exit](https://user-images.githubusercontent.com/1439189/114744567-af365100-9d02-11eb-9539-773b9486f4c0.png)

![windows-exit](https://user-images.githubusercontent.com/1439189/114744589-b3626e80-9d02-11eb-936b-83499308bb30.png)

For normal operation, the exit code should be 0.  We use negative exit codes for errors and positive error codes to indicate a number o

[2021-04-14 22:40] Molkree commented on #1135
Did some investigation, seems like it's because of the incorrect behaviour of [ErrorHandler](https://github.com/intel/cve-bin-tool/blob/c92b23034b09c7a50181a074b437c0d20c9227ab/cve_bin_tool/error_handler.py#L99).
I have changed mode here to `TruncTrace`
https://github.com/intel/cve-bin-tool/blob/c92b23034b09c7a50181a074b437c0d20c9227ab/cve_bin_tool/cli.py#L198-L200
And this is what I see when call

[2021-04-16 03:10] param211 commented on #1125
We could continue using the current system and approach NIST if it's deprecated (I think as of now they're continuing with the legacy data feeds). In the docs they've mentioned that they discourage making repeated calls to the API, the purpose of API being that many people just want to query specific stuff and not download the entire database, so I think the present behaviour of the API might be i

[2021-04-16 08:39] BreadGenie opened #1138 "Update JQuery"
While working on #1113 I noticed that the current JQuery version (3.4.1) we are using have couple CVEs related to it
![Screenshot from 2021-04-16 14-06-13](https://user-images.githubusercontent.com/63963181/114996974-06802100-9ebd-11eb-8a6c-0af24bec6e96.png)
CVEs : [CVE-2020-11022](https://nvd.nist.gov/vuln/detail/CVE-2020-11022) and [CVE-2020-11023](https://nvd.nist.gov/vuln/detail/CVE-2020-11023

[2021-04-19 08:07] KunaJan opened #1143 "Unable to update CVE data"
Hi,

I run into an issue when trying to use the CVE Binary Tool. When trying to extract downloaded files needed to update the CVE database, there is an error with the incorrect file format. This is the first tool's run. Is there any workaround for this?

[code]

Regards,
Jan

[2021-04-19 08:37] #1143 closed

[2021-04-19 08:41] KunaJan commented on #1143
Duplicates #1081

[2021-04-23 00:26] Molkree commented on #910
In a follow up to my previous message: installing `gcc` and `libpython3.9-dev` helped to build `pycares` properly and install cve-bin-tool. Note that I did not need them to install on Python 3.8 on the same machine.

All necessary bits are already present in GitHub-hosted runners so Python 3.9 should work in CI here. I've added it to the workflow (both Ubuntu and Windows) and it passed all tests (

[2021-04-26 17:10] #1059 closed

[2021-04-26 23:02] JasonKramer525 opened #1144 "Outputting the CVSS score?"
Is there any way to output the CVSS score of a binary? I think that would be a really useful feature if it doesn't already exist

[2021-04-26 23:07] BreadGenie commented on #1144
Yep, it would definitely be helpful.
There is some development in #1077 related to it.

[2021-04-26 23:09] JasonKramer525 commented on #1144
@BreadGenie I would be interested in helping contribute. Is the CVE database that gets imported currently only being used for the HTML output? If I am not mistaken, checkers are the only CVEs that are being checked, not from the database?

[2021-04-26 23:16] JasonKramer525 commented on #1144
Also, adding on to that update that is being worked on, I think a total CVSS score, not just the individual CVE score would be helpful

[2021-04-26 23:24] BreadGenie commented on #1144
Thanks for showing interest! We always welcome new contributors. Join our gitter chat too!

I didn't quite got you there. The database is used for all output methods.

Checkers are a way to find the version of a package from a binary that is being scanned along with the vendor-package pairs (already provided in the checker) for mapping with the database for CVEs. You can read the [README](https://

[2021-04-26 23:31] BreadGenie commented on #1144
You can share your opinions in the PR or the related issue!

[2021-04-27 02:28] Molkree opened #1145 "isort CI check is broken"
It seems like isort check in CI is useless right now because it does not error out on unsorted files. See example from the recent green [run](https://github.com/intel/cve-bin-tool/runs/2440643591?check_suite_focus=true#step:4:12).

![image](https://user-images.githubusercontent.com/12860284/116174670-8b6a0680-a717-11eb-8d86-6b553036fc51.png)

Notice that it fixed several files but still didn't fai

[2021-04-27 02:53] Molkree commented on #1145
Okay, that's interesting!

Maybe not? I'm getting different results when I run `isort .isort.cfg .` and `isort --profile black -c .` even though [.isort.cfg](https://github.com/Molkree/cve-bin-tool/blob/3e3efb645005baf7d8e95c1fcae4dbc5f5d03206/.isort.cfg) looks like this:

[code]

What's going on?!

[2021-04-27 03:57] Molkree commented on #1145
Alright, it looks like that config file was always broken xD
How I found out:

1. `isort . --show-config` didn't have "profile" specified reinforcing my suspicions that the file is being ignored.
2. `isort --settings-path .isort.cfg .` said `UserWarning: A custom settings file was specified: /home/molkree/cve-bin-tool/.isort.cfg but no configuration was found inside. This can happen when [settings

[2021-04-27 11:34] KunaJan opened #1148 "Report generation even if no products with known CVEs detected."
At the moment, if binary won't detect any products with known CVEs, it will only write this information to the console output.
I'd like to suggest considering adding report generating in that case. This report will prove that the product has been scanned.

[2021-04-28 01:56] #1123 closed

[2021-04-28 02:05] terriko commented on #1148
This is a great idea.  While I know people using other tools will use screenshots of the console for proof of no-issues-found, it is kind of annoying and would be nice to have an option for other outputs.

[2021-04-28 02:07] terriko commented on #1138
@pdxjohnny -- might affect some paperwork for you since I'm out.

[2021-04-28 02:12] terriko commented on #1125
We may also want to look into whether there are any reasonable trusted mirrors of the NVD we could add in as config flag options for folk who are having trouble with the rate limits.  Last I looked, the data license was such that this would be possible, but I don't know if anyone's doing it.

[2021-04-28 06:13] keesj-exset commented on #1125
Thinking of it, it would be great to have a repeatable command e.g. create mirror, update mirror. This is not very far away from the current behavior. From what I understand NVD can change/update past this can make it hard to do incremental updates.

[2021-04-28 17:05] #1145 closed

[2021-04-28 17:16] #1128 closed

[2021-04-30 08:19] mrybczyn opened #1149 "KeyError when downloading CVEs"
I've just installed cve-bin-tool from pip. When trying to download the database for the first time (cve-bin-tool -u now
), I get:

`
           INFO     cve_bin_tool.CVEDB - Downloading CVE data...                                                                                                                                                                cvedb.py:196
╭─────────────────────────────

[2021-05-04 18:11] #1138 closed

[2021-05-07 13:41] bdavis24 commented on #1149
i have the same issue

[2021-05-08 06:21] BreadGenie opened #1151 "PDF output is not created when the severity is UNKNOWN"
While trying to create a PDF report with binaries that have CVE severity UNKNOWN throws this error.

[code]

But the PDF report is created fine when there's only packages with known CVEs like we discussed in #1132.

[code]

[2021-05-08 10:58] BreadGenie opened #1153 "Minor issues in HTML report"
These are the issues I noticed on HTML reports

- On the bar graph the CVEs with UNKNOWN CVE are shown with 1 number of CVEs. The same goes for the table `Products With Known Vulnerability` and the Details table in print mode. Some discussions happened in #1132.
- Incorrect version in print mode.
- ~~Table overflow in print mode when the CVE description is big~~ (Seems like it's only present on jQ

[2021-05-08 21:30] anthonyharrison commented on #1149
This appears to be due to the NVD file containing incomplete entries as I am getting a keyerror 'Cpe23Uri' when updating the database. I have modified cvedb.py to put a try/except around the offending code but a more robust solution is required for processing the JSON entries and handling structual errors due to missing fields.

[2021-05-08 21:42] anthonyharrison commented on #1125
I have been looking at the API over tha past few days and I agree that it seems a bit flaky. I tried to ask for 5000 entries (the reported maximum permitted request) and it failed. with JSON errors. The biggest number of entries I have succesfully retrieved is 2000. I haven't tried to retrieve all of the entries yet but it seems relatively straightforward to do with a loop and a sleep between each

[2021-05-10 13:30] masto-pn opened #1155 "systemd checker reports wrong version string"
The checker for systemd reports a wrong version when applied on systemd library
```/usr/lib64/libsystemd.so.*``` (systemd v246.13-1 on Fedora 33).
This library contains a large list with versions strings:

[code]

Since the version pattern ```r"LIBSYSTEMD_([0-4]+[0-9]+[0-9]+)"``` matches with the
first one, version 209 is reported, whilst 246 would be correct.

This is essentially the same bug as

[2021-05-11 12:27] BreadGenie commented on #1155
I've put together a fix according to the last fix
The scan on the file mentioned provides the output
[code]
The version string is detected correctly now but the UNKNOWN values would pop like discussed in #1132 but this time the CVEs should be 0.
Tried scanning the files inside libsystemd.tar.gz individually and that gave 0 CVEs reported.

[2021-05-13 20:26] #1153 closed

[2021-05-13 20:31] #1155 closed

[2021-05-13 20:32] #1151 closed

[2021-05-14 15:11] ashok-arora commented on #1112
Can I work on this issue?

[2021-05-14 15:18] BreadGenie commented on #1112
@ashok-arora in #1098 we added the SDPX headers in all the files. This issue is a reminder for folks to add it in new files.
But you can still take a look through the last committed files in the repo to check if there's any missing if you want.

[2021-05-15 10:04] ashok-arora commented on #1112
@BreadGenie Is there something else that I can work on? A good-first-issue to get my feet wet?

[2021-05-15 12:39] BreadGenie commented on #1112
Try creating a checker. Try going through #709 and choose any of the not created checkers from the list (you can check if it's created or not by searching in the PRs, merged or open). Refer the [guide](https://github.com/intel/cve-bin-tool/blob/main/cve_bin_tool/checkers/README.md) on how to create a checker. Also join our gitter channel and you can ask doubts there. Happy Contributing! :D

[2021-05-15 17:50] Molkree opened #1158 "recommonmark is deprecated"
recommonmark, which is used to build docs, was [deprecated](https://github.com/readthedocs/recommonmark/issues/221) and they suggest moving to the [MyST-Parser](https://github.com/executablebooks/MyST-Parser/).
Currently, recommonmark is pinned
https://github.com/intel/cve-bin-tool/blob/967a03edcd0a938196cc04482f524909d0b3ab26/doc/requirements.txt#L1
and it will continue to work but as a future go

[2021-05-15 23:42] Molkree opened #1159 "Missing tests in CI"
`tests` are being run in CI with
[code]
Long tests
[code]
Windows tests
[code]

Not a single job uses `test_config.py`. This file has 4 tests, they are not long tests and only 2 of them pass on my local machines.

Why specify test files manually? `pytest` can discover them all just fine. Maybe omit file list in `tests` job as they all run synchronously anyway?

[2021-05-16 09:32] BreadGenie commented on #1148
I have created a PR where it will create a report for html and pdf output modes but I'm not sure what to do for the other modes.
An idea that came to my mind was to create pdf report for other modes too, but I'm not sure about that since pdf is not what the user requested to the tool.

[2021-05-17 16:32] Molkree commented on #1148
Empty csv and json are pretty self explanatory, it just means that tool didn't detect anything, right?

[2021-05-18 01:01] BreadGenie commented on #1148
Yup, but IMO producing no output is better than empty CSV or JSON files.

[2021-05-18 01:52] terriko commented on #1158
I've just started using myst-parser in a personal project and it's working well, but I seem to recall that some of cve-bin-tool's tables may cause problems so anyone converting us to myst-parser should double check that rendering.

[2021-05-18 09:23] Molkree commented on #1148
I think it can be used like that.
Another option would be to also add scanned products to csv/json? I just don't think it's good to combine them together with detected CVEs, so maybe generate second file?

[2021-05-19 20:08] Molkree commented on #1148
I think this should be reopened, there's still no output if one chooses csv or json.

[2021-05-20 09:33] BreadGenie commented on #1148
Here a report I guess is used as a proof of no-issues-found in an organisation or something similar. And I think CSV and JSON files can't be used as a report in this context unlike PDF and HTML files.

[2021-05-24 18:24] pdxjohnny commented on #1148
Let's make sure that all output formats end up with a blank listing, or what amounts to empty for that file format.

It could be good to modify the JSON format to include the list of identified products, let's discuss this in our next meeting: https://docs.google.com/document/d/16T2pHn8M6BpLZQtZOxnP-zQrKazamSrJ-BPw20J9kug/edit#heading=h.1hukhwgj4ir9

[2021-05-26 16:43] terriko commented on #1148
Discussion from today's meeting:
- It's still useful to report a bill of materials (BOM) saying what's in a scanned file because that list can then be re-used to see if any new CVEs have been filed.
- It might be useful to explicitly state "no cves were found" on the first row of a CSV file or possibly as a separate section of the json
- we may want to add versioning information for the json as th

[2021-05-26 17:35] #809 closed

[2021-05-26 17:35] #1111 closed

[2021-05-26 19:09] terriko commented on #1026
Handled in #1077 which has just been merged.

[2021-05-26 19:09] #1026 closed

[2021-05-27 12:56] ananthan-123 opened #1162 "tehtrh"

[2021-05-27 12:56] #1162 closed, assigned to nobody

[2021-05-27 13:44] BreadGenie commented on #1148
I've implemented a `--report` flag that will produce output of all scanned packages. I'll create a PR soon.

I'm a bit confused about this part. Should the CSV file when no CVEs are found have only the sentence `no cves were found` in it or the sentence will be appended with the rest of the rows? Since I'm not sure the data followed by the sentence may create issues while using.

should the versio

[2021-06-03 04:52] peb-peb opened #1164 "Checker list (to be added)"
This is a list of checkers, which would be tested against the "Helper Script" and added. The list from #709 would also be tested. If individual issues are opened for any checker in the list, they would be mentioned besides them.

- [ ] [gzip](https://www.cvedetails.com/product/1670/GNU-Gzip.html?vendor_id=72)
- [ ] [mailman](https://www.cvedetails.com/product/913/GNU-Mailman.html?vendor_id=72)
- [

[2021-06-03 04:57] peb-peb commented on #1164
I would be adding more in this list with time, and anyone else should feel free to do the same.

P.S. - This list is not strictly for the purpose of the helper script. If anyone feels to add any of these checkers and learn, they are welcome to do so :)

[2021-06-06 18:55] anthonyharrison opened #1167 "SBOM support (enhancement)"
Add support for a structured Software Bill of Materials (SBOM) as an input file type

My suggestion is to use SPDX as the first format which is a format initially developed by the Linux Foundation to provide a standard way of reporting license information but now is being used as a way of capturing SBOM. It satisfies the minimum viable requirements for an SBOM in accordance with President Biden's

[2021-06-06 18:57] anthonyharrison opened #1168 "Include CVSS Vector in database (enhancement)"
Although the score and severity is reported, this is not sufficient to determine what vectors were used to determine the score.

Suggestion is to add a CVSS Vector entry to the database and include the vector in the JSON output.

[2021-06-08 16:27] imsahil007 commented on #1063
Steps you can follow @peb-peb :
1. Extract the binary (in .deb,.rpm,.tar.gz or so) extensions recursively using existing code.
2. You can prompt the user to enter a filename if the user wants to search within a small subset of files within the binary.
3. Most common file names for possible files for string extraction may have a filename as the checker name. For example, avahi binary contains usr/b

[2021-06-08 17:46] peb-peb commented on #1063
@imsahil007 Thank you for the help! I'll remember all these points while making the script :)

[2021-06-14 11:21] keesj commented on #1125
Server appears down now https://downforeveryoneorjustme.com/nvd.nist.gov?proto=https

[2021-06-14 11:25] BreadGenie commented on #1125
@keesj it seems to be up now but was down for a long time for couple days

[2021-06-14 11:35] keesj commented on #1125
I go contact details for the NVD team over at NIST. If we need to discuss problems we have (or architecture) this is possible.

[2021-06-14 17:34] #642 closed

[2021-06-15 13:49] imsahil007 opened #1174 "Adding Intermediate reports to merge output and improve triage"
- [x] Add  -a --append flag in cli.py to save intermediate reports
- [x] Add -t --tag argument for intermediate reports metadata
- [x] Add --merge to merge all the intermediate reports.
- [x] FIlter reports being merged on the basis of tag and possibly timestamp
- [x] Update the HTML output based on intermediate reports
- [x] Update the PDF output based on intermediate reports
- [x] Create tests f

[2021-06-15 13:59] imsahil007 commented on #1174
Suggestion by @SinghHrmn
FIlter reports being merged on the basis of tag and timestamp
Saving a helper map file containing a list of dictionary with a structure like:
[code]
We can store this in `.cache/cve-bin-tool`.

Note: Users might want to share intermediate reports with other users most of the time. They might not be able to make use of this file in that case.
This will fail if the user move

[2021-06-16 16:24] pdxjohnny opened #1177 "async utils: aio_run_command() does not check return code"
`aio_run_command()` does not check the return code of the subprocess it ran and
does return the `Process` object so that the caller can check the return code.

We should check the return code or provide a way to.

[2021-06-16 16:47] terriko commented on #1135
the error codes were negative because we were returning the number of CVEs found otherwise (a reuqest from a user) but if we're going to get random behaviour with numbers not in the 0-256 range, we should rethink how the error codes work.

[2021-06-19 17:53] imsahil007 commented on #1167
We can possibly use this  https://github.com/spdx/tools-python
If we want to parse between Tag/Value, RDF, JSON and other SPDX formats

[2021-06-19 21:28] anthonyharrison commented on #1167
@imsahil007 I am aware of these and they would form a good start.

Beware that they weren't at the latest version of SPDX (v2.2) when I last looked. SPDX are part of the GSOC but I don't think there is any work on the python tools from what I can see.

My suggestion would be to add spdx as a supported input file type. SPDX has some filename conventions which could be useful e.g. .spdx for tag valu

[2021-06-22 23:35] terriko commented on #1158
Putting the "good first issue" on this because I think it'll likely be fairly easy to fix.

For beginners, here's what you'd have to do:
1. change the documents to use myst-parser.  This will include fixing the requirements file mentioned above and the configuration in [doc/conf.py](https://github.com/intel/cve-bin-tool/blob/main/doc/conf.py)
2. Build the docs (I think the command is `make html`)

[2021-06-23 18:13] terriko commented on #936
Fixed in #1122

[2021-06-23 18:13] #936 closed

[2021-06-23 18:16] terriko commented on #910
I think with the addition of pyupgrade in #1147 that it's safe to close this.  I expect to do another round of double checking before we start officially supporting 3.9 but that's not on the radar for the 2.1 release at this time.

[2021-06-23 18:16] #910 closed

[2021-06-23 18:20] terriko commented on #1058
I think #1129 is sufficient for the planned 2.1 release so I'm going to close this bug, but there's still opportunity for test improvements on the HTML output in the future.

[2021-06-23 18:20] #1058 closed

[2021-06-23 18:22] terriko commented on #1083
This is fixed in #1088 .  I expect we're going to do some refinement in date handling as we get further along on the merged reports and want graphs for change over time, but that's for future enhancements not for this bug!

[2021-06-23 18:22] #1083 closed

[2021-06-23 18:24] terriko commented on #1109
handled as part of #1117

[2021-06-23 18:24] #1109 closed

[2021-06-23 18:31] terriko commented on #1112
Current status:

[code]

So it looks like there's a couple of files that could be updated before the 2.1 release.

[2021-06-23 18:55] terriko commented on #481
Moving this to the 3.0 milestone because we've got a request for an early 2.2 release and this isn't already in progress.

[2021-06-23 18:56] terriko commented on #1007
Moving this to 3.0 milestone because we've got a request for an early 2.2 release and this isn't in progress.

[2021-06-24 04:08] peb-peb opened #1192 "Failure Extracting for .apk and .ipk files"
While finding strings with Helper Script for avahi, the extractor failed for the Helper Script for `.ipk` and `.apk` files. When tested with `cve-bin-tool -x`, I encountered the same problem. Here is what I was receiving and in the top is what is contained in derectory:

[code]

[2021-06-24 17:05] #1112 closed

[2021-06-24 20:04] terriko opened #1195 "pytest fails on Fedora because lsb_release doesn't exist"
Output:

[code]

The offending code is here:

[code]

I think the easiest short-term solution is to put this into a try/except, but we should maybe consider whether there's a better way to get release information across platforms.  `uname` might be the correct one for a wider range of platforms (`uname -a` gives a pretty reasonable list of information) but there could also be a more pythonic solut

[2021-06-24 21:04] terriko opened #1197 "Terri's local environment is not working -- May be fedora, may be a personal problem?"
For some reason, my personal environment has stopped matching anything with cve-bin-tool, leading to a bunch of failed tests.  It's quite likely that's it's been broken for a few weeks since I was out on vacation.

I'm running on Fedora 31 using python 3.8.

This is with a fresh venv and everything installed from `pip install -r requirements.txt`, a fresh checkout of cve-bin-tool, and I deleted `.

[2021-06-25 00:04] #1148 closed

[2021-06-25 00:10] terriko opened #1198 "Should cve-bin-tool default to generating "empty" reports?"
#1163 has introduced the "no cves found" reports requested in #1148

Before we do the 2.2 release, I want us to think about what default we want here:  Should we generate reports always or only when needed?

Also, the "generate empty reports" command line flag is currently --report which is a nice short flag but maybe could be more clear.  Anyone got any brilliant alternative suggestions?  --force

[2021-06-25 00:12] terriko commented on #1168
I think this is a duplicate of #1144

[2021-06-25 09:00] BreadGenie commented on #1195
I used a package called [distro](https://pypi.org/project/distro/) during the creation of package list parser.
But once I pushed the code I realised that this package is installed on my machine (probably along with python 3.9.5). This was the reason I switched to `lsb_release -sd`.
We could use `uname` instead if we don't want to add a dependency to our tool.

[2021-06-25 10:22] BreadGenie opened #1201 "False positives in python checker"
After merging #1171 the python checker is reporting CVEs but with versions from the python package. My guess is that it is due to https://github.com/intel/cve-bin-tool/blob/d55ade921384cc309870d583e60ed3eccbd6e500/cve_bin_tool/checkers/python.py#L52 and the python packages having the same pattern in `METADATA` and `PKG-INFO` files.

A quick fix would be removing that line since we have 2 other pat

[2021-06-25 13:27] BreadGenie commented on #1201
A sample scan where I ran the tool against a few python packages (with some other packages mixed among them)
[code]

[2021-06-26 13:16] BreadGenie commented on #1195
`uname` in CentOS gave me this
[code]
without any information that the system is CentOS.
Seems like we might have to go with the distro package.

[2021-06-27 05:02] BreadGenie commented on #1195
I have used  the distro package in #1203 since `uname` and `lsb_release` is not available in CentOS Stream 8 by default.

[2021-06-28 18:26] terriko commented on #1164
I'd be interested to see how strings for mailman work, since that's python and not compiled C code.  (also, just generally interested as I've been a developer on Mailman for years!)

[2021-06-29 21:20] terriko commented on #1195
@BreadGenie Okay, that makes sense. Should we close #1196 in favour of #1203, then?

[2021-06-29 23:56] #1201 closed

[2021-06-30 00:20] #988 closed

[2021-06-30 16:08] terriko commented on #1198
Talked about in 6/30 meeting
- generating (useless) empty files doesn't seem like it needs to be the default (though it may be for some formats)
- no one's got any clever ideas for what the flag should be
- problem right now: both "we found cves" and "there was an error" exit with error values, seeing the report is the only way to tell if it had any CVEs.  (could generate reports or fix exit codes

[2021-06-30 16:09] terriko commented on #1198
No strong opinions for now, leaving the default behaviour as is for 2.2.

[2021-06-30 16:09] #1198 closed

[2021-06-30 16:23] terriko commented on #1192
@terriko -- note to self to investigate the apk and ipk formats and see if they changed.

[2021-06-30 16:30] #1195 closed

[2021-06-30 18:40] imsahil007 opened #1207 "Column in pdf reports span outside their space"
![image](https://user-images.githubusercontent.com/35963992/124013394-dea25300-d9ff-11eb-84bd-ed0390468788.png)

The "Product" column is spanning outside its allocated space

Using frames with the page layout is the best option I guess

[2021-06-30 19:36] #1177 closed

[2021-06-30 19:51] terriko commented on #1007
@peb-peb -- if you get a chance, tihs the the checker I mentioned that needs some new signatures for new versions.  If you get any good results with your script for this one, please submit it as a separate PR so we can merge it faster.

[2021-07-01 20:22] terriko opened #1210 "Update to latest stable version of black"
We're currently frozen on black 20.8b1.  Stable is 21.6b0 as of 21 days ago, so it would be nice to upgrade.

To do this:
- get the stable version of black, run it on all of cve-bin-tool and fix any errors.
- update the pre-commit file to the new version https://github.com/intel/cve-bin-tool/blob/main/.pre-commit-config.yaml
- update https://github.com/intel/cve-bin-tool/blob/main/.github/workflow

[2021-07-01 21:43] terriko opened #1211 "Long tests on nodejs 12.16.1 and python 3.8.1 are failing in Github Actions"
[code]

At a glance, the issue may be related to the `aio_run_command`  change to handle errors better, since both of them seem to be throwing errors:

[code]

[2021-07-03 10:33] anthonyharrison opened #1213 "LGTM code quality alerts"
[3 minor alerts reported by LGTM analysis](https://lgtm.com/projects/g/intel/cve-bin-tool?mode=list)

[2021-07-03 11:17] anthonyharrison commented on #1207
@imsahil007 The column widths for the tables are fixed.This means that the problem would also occur with the vendor and potentially the version field as well.

I suggest that there is a routine added within the PDFBuilder class which checks the length of the string and if it is too long (may need to work out what this might be for a proportional font), then we replace it with a note which is added

[2021-07-06 13:11] imsahil007 commented on #1192
https://github.com/intel/cve-bin-tool/blob/94e37fdcf01d5eaea5815aa3c777707a6fe6a5d7/cve_bin_tool/extractor.py#L72

So, we need to pass the extension format=`tar` explicitly if we want to extract a compressed file with a different extension (.apk) here
`
 await aio_unpack_archive(filename, extraction_path, format='tar')
`
You can read more about this here @terriko

https://docs.python.org/3/library

[2021-07-06 21:02] #1211 closed

[2021-07-06 23:04] #1213 closed

[2021-07-06 23:43] terriko commented on #1192
Technically .apk is a .jar file which is a .zip file, which is NOT the same as a tar file.  But if `format='zip'` is a valid option then that should work.

[2021-07-06 23:44] terriko commented on #1192
Some links to support this:

https://en.wikipedia.org/wiki/Android_application_package
and
https://en.wikipedia.org/wiki/JAR_(file_format)

[2021-07-06 23:50] #1007 closed

[2021-07-07 00:07] terriko opened #1223 "De-duplicate cve_bin_tool/checkers/__init__.py and test/test_data/__init__.py"
When you add a new checker, you wind up adding the name in both  `cve_bin_tool/checkers/__init__.py ` and `test/test_data/__init__.py`

Is there any way we can make it so we only have one canonical list of checkers that is used in both places?  Do we even *need* lists of all the modules or are they now included by default?  (i.e. was this a thing we were doing for python 2.7 modules or something)

[2021-07-07 16:41] terriko opened #1229 "Improve SQL queries in version_signature.py to align with Bandit guidance"
A few of the queries use older syntax and can be updated.

[2021-07-07 16:50] #1207 closed

[2021-07-07 19:04] #1081 closed

[2021-07-07 20:19] terriko opened #1231 "Unsafe target="_blank""
An internal static analysis tool is reporting a large number of low-risk issues that look like this:

[code]

Many of them are indeed in the example report, but the actual code will produce similar reports. These aren't urgent to fix, but if anyone has time to fix the code so that it sets the correct rel attribute, that would be much appreciated.

[2021-07-09 17:32] peb-peb commented on #1164
@terriko as you can see, I've completed the above list (but did not found any proper version string in any of them T-T).
Do you have any packages in mind for whom you would like checkers for? (I am searching for packages from [cvedetails](https://www.cvedetails.com/))

[2021-07-09 17:39] peb-peb commented on #1164
Also, why don't we use `r"wireshark-2.6.2-12.el8.x86_64.debug",`? (since these type of strings are only found in redhat packages, but by using these, we would atleast be able to detect them for these distros)

[2021-07-10 05:02] BreadGenie commented on #1164
@peb-peb  This a txt file containing some packages that I found having CVEs in Manjaro. You can use it for creating checkers if you like :D

[manjaro_checkers.txt](https://github.com/intel/cve-bin-tool/files/6794689/manjaro_checkers.txt)

[2021-07-13 23:55] #1168 closed

[2021-07-14 00:31] #1231 closed

[2021-07-14 18:45] terriko opened #1247 "Remove vestigial/no longer needed pylint disable directives"
in #1244 we had a quick discussion about a pylint disable directive that occurs at the top of many checker files.  It's no longer needed, and can be removed.  it's entirely possible that there are other places where were we have similar directives.

We're currently using black but not pylint so this isn't urgent and they don't really matter, but it would be good to remove all pylint disable direct

[2021-07-15 16:40] #1223 closed

[2021-07-15 19:14] #1229 closed

[2021-07-15 19:17] terriko commented on #1192
Per discussion in our meeting: turns out some of these files aren't android apk files but another packaging format for alpine: https://wiki.alpinelinux.org/wiki/Alpine_Linux_package_management

[2021-07-15 19:35] terriko opened #1250 "Improve checker lists in documentation"
We list available checkers in https://github.com/intel/cve-bin-tool/blob/main/doc/README.md and https://github.com/intel/cve-bin-tool/blob/main/doc/MANUAL.md.  Because it's a manually formatted table and not something auto-generated, it tends to get out of sync over time.

I think we need to improve our systems so that they don't get out of sync.  Some potential options:

1. remove the checker lis

[2021-07-15 19:38] terriko commented on #1159
I believe we were running them that way during a period when tests were being re-written so some didn't run in all platforms, and we never normalized after they were fixed.   I'll go experiment with adjusting this in CI.  Thanks!

[2021-07-15 20:06] terriko commented on #1159
Looking more deeply: It looks like we might have been concerned about race conditions in the update tests in test_cli and test_cvedb.  I'm going to go through those now and mark them with a separate flag, I think.

[2021-07-15 20:36] terriko commented on #1144
Addressed in #1220

[2021-07-15 20:36] #1144 closed

[2021-07-15 20:40] terriko commented on #1116
I think the issue with NVD that caused this bug report is fixed, and we're tracking the plan to use NVD's new api in #1125 so I'm going to go ahead and close this particular issue.

[2021-07-15 20:40] #1116 closed

[2021-07-15 20:41] terriko commented on #1114
Added in #1115

[2021-07-15 20:41] #1114 closed

[2021-07-15 20:44] terriko commented on #1062
While there's *always* an opportunity to improve our documentation further, I think the concerns we had with windows that prompted this issue have been addressed.  I'm going to go ahead and close it, but please feel free to open additional issues if you find any specific gaps in our documentation.

[2021-07-15 20:44] #1062 closed

[2021-07-15 20:47] terriko commented on #1039
Taking the "good first issue" label off this because clearly tomcat is more challenging than expected.

[2021-07-15 20:48] terriko commented on #1038
Had some challenges with getting approrpriate binaries to test.  I'm going to take the "good first issue" flag off this as it may take more work.

[2021-07-15 20:49] terriko commented on #997
Closing this thread since GSoC 2021 is already underway.  I'll open a new one for 2022 if it's announced!

[2021-07-15 20:49] #997 closed

[2021-07-15 20:51] terriko commented on #979
This was addressed quite some time ago, and we've switched to using "main"

[2021-07-15 20:51] #979 closed

[2021-07-15 22:49] terriko commented on #1159
Okay, did some lazy "let's just run it while I do something else" level experimentation and we're getting a bunch of failures.  I'm *guessing* is has something to do with the fact that I'm running everything as parallel (previously some tests were synchronous) so I'm going table this as non-urgent for today.

But here's the list of short tests that failed when I just tried running `pytest -n 4 -v`

[2021-07-15 23:24] terriko commented on #1197
Forgot to mention that this problem was resolved.  Mostly I forgot to run `python setup.py egg_info` to accomodate the new checkers.

[2021-07-15 23:24] #1197 closed

[2021-07-15 23:56] terriko commented on #1159
Bit more digging: I opened #1253 to fix the config tests.  Locally I still get a few test failures in test_helper and test_merge both of which were not running correctly in CI, so they may never have worked:

[code]

It looks like some of the other tests may have failed due to rate limiting at the NVD side, so they probably *should* be run synchronously for safety in CI even if they don't seem to

[2021-07-16 00:45] terriko opened #1254 "Tests in test_helper_script.py are failing"
We apparently forgot to enable test_helper_script.py in CI, and I enabled it as part of #1251, and it's promptly started failing:

[code]

Pinging @peb-peb to take a look at this one!  I'm temporarily disabling test_helper_script entirely in #1251 just to make sure that everything else passes, but I'd like to have it enabled soon if we can.  I haven't looked into what's going wrong at all because

[2021-07-16 04:45] #708 closed

[2021-07-19 16:54] #1254 closed

[2021-07-19 19:34] #1159 closed

[2021-07-19 19:39] terriko opened #1264 "One test from test_helper_scripts.py is not working on windows"
As mentioned in #1251, the bash test from test_helper_scripts is failing on windows (and only on windows) with the following error:

[code]

When this gets fixed, don't forget to update CI to run these tests on windows by removing the line that currently excludes it:

https://github.com/intel/cve-bin-tool/blob/e0899760ac0d8586872b2648eb8f435e186062e2/.github/workflows/pythonapp.yml#L265

[2021-07-20 22:26] terriko opened #1265 "Rust package lists"
It would be nice if the new package list code could also handle rust packages.  I've only used cve-bin-tool on one small rust project and most of its dependencies had never had a vulnerability so the scan was kind of boring, but it's a potentially interesting problem in general.

[2021-07-21 16:38] #1192 closed

[2021-07-21 16:39] terriko opened #1267 "Add test for alpine and android apk formats"
#1258 added support for both the android and the alpine formats which both use .apk extensions.  It would be nice if we had a couple of very tiny files in each format to use with the tests, and tests to actually execute the code.

[2021-07-21 16:45] terriko opened #1268 "Github issue template for new checkers"
It would be nice if we have a checklist/template available for folks contributing a new checker so they don't miss any common steps.

[2021-07-21 18:14] imsahil007 opened #1269 "Difference in CVE records b/w CVE retreival and cve.mitre"
According to https://cve.mitre.org/index.html - We have around 157456 CVE-MITRE. The CVE ~~SOAP~~ Retrieval API contains around 157404 CVEs while the old retrieval method fetches around 166759
The figures mentioned above were noted on 2021-07-21T18:00:32Z UTC

157404 seems reasonable enough as NVD might be in the middle of adding these new CVEs.
We need to check the difference between https://nvd.

[2021-07-21 18:16] imsahil007 commented on #1269
NVD SOAP APi
https://csrc.nist.gov/CSRC/media/Projects/National-Vulnerability-Database/documents/web%20service%20documentation/Automation%20Support%20for%20CVE%20Retrieval.pdf

[2021-07-21 20:13] terriko opened #1270 "dev-recommended.txt -- should we be scanning dev requirements for known vulns?"
from a comment in #1212 : Currently I haven't made a dev-recommended.csv file to enable scanning using cve-bin-tool.  i believe it may already be covered by dependabot, but we should maybe do some research to see if that's true.  It's possible that it only scans things named as "requirements.txt"

this issue is just a reminder that we should figure that out or add it.

[2021-07-21 20:24] terriko commented on #1269
are we actually using the SOAP API?  My understanding was that it was related to an XML format that we had never used, and that the JSON one was separate, but I admit I'm a bit fuzzy on which name they use for which data format.

[2021-07-21 20:28] terriko commented on #1269
Did a quick search, and yes, SOAP was XML based: https://en.wikipedia.org/wiki/SOAP -- I believe that's a feed that no longer exists (as of last summer: https://nvd.nist.gov/General/News/New-NVD-CVE-CPE-API-and-SOAP-Retirement) but we never used it anyhow

[2021-07-21 20:33] imsahil007 commented on #1269
I have edited it. It was a mistake from my side.

[2021-07-21 21:46] anthonyharrison commented on #1269
@imsahil007 @terriko I think extra number of CVEs in our database is primarily due to the expansion of a single CVE to multiple database entries. There are also a number of CVEs marked 'DO NOT USE' (or similar) which we store in the database although the total CVE number may discount (that might be a future enhancement for cve-bin-tool to remove these entries as these can never be reported against

[2021-07-21 21:55] anthonyharrison opened #1271 "ENHANCEMENT - Support for scanning software installed on Windows platform?"
Given that there is now an option to scan a package list, it would be a useful enhancement to support the scanning of the list of software installed on a Windows platform although the scanning can be performed on a Linux platform.

[https://kencenerelli.wordpress.com/2017/11/25/list-installed-programs-on-windows-10/](url) provides guidance on how to generate a file of the installed products and ve

[2021-07-22 11:46] BreadGenie commented on #1270
It seems like depandabot only covers that when the version is pinned for a certain package (which applies for black here). And the other thing to note is that the 3 packages here doesn't have any CVEs at the moment.

[2021-07-22 18:59] terriko commented on #1270
Okay, so dependabot is probably not going to give us much help.  I did a bit of experimentation with snyk,and it looks like it would work but needs the filename to be in the following pattern:

[code]

https://support.snyk.io/hc/en-us/articles/360004699377-Snyk-for-Python

So, least amount work involves renaming the file to dev-requirements.txt and use snyk for automated warnings (I have it runnin

[2021-07-22 21:22] terriko commented on #1269
Took a minute to double check how we report our numbers: we're getting our number using `SELECT COUNT(*) FROM cve_severity` in cvedb. The cve_severity table lists `cve_number` as a primary key, so it should not have any duplicates based on expansions in the cve_range table.  it could definitely have entries with useless severity scores and no ranges defined, though.

So that leaves the "do not use

[2021-07-22 21:43] terriko commented on #1110
Update on this:
* I've added https://github.com/intel/cve-bin-tool/blob/main/bandit.conf that skips the subprocess and path related issues.  We could also mark these with `#nosec` to indicate that they had been reviewed.  I didn't do the ignore marks on these because we were refactoring so I figured it was best to review them after the refactor was done.
* I did mark a number of SQL issues as nose

[2021-07-22 21:46] terriko commented on #1110
Current output:

[code]

[2021-07-24 16:05] Molkree opened #1276 "Add flake8 to CI"
I propose to add flake8 to the CI. Seems like some [already](https://github.com/intel/cve-bin-tool/issues/881) use it (myself included).
Running `flake8 . --statistics` yields:
[code]

[2021-07-25 14:33] anthonyharrison opened #1278 "OperationalError: too many SQL variables"
While processing a large number of vendor,product,version items using the inout-file option, the processing failed with an SQL error.

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /Users/aph/Documents/cve/cve-bin-tool-R2.2/cve_bin_tool/cli.py:472 in <module>                   │
│

[2021-07-26 17:36] terriko commented on #1276
I like flake8, but I don't care about some of its nitpicks like "too many leading #" so we could also temporarily disable some of those "non-functional" rules (and leave them as easy bugs for folk to fix later).

Looking at this list, the ones we could ignore-for-now would probably be E265, E266 and W291.  The rest we should probably fix before adding anything to CI.

[2021-07-26 17:47] Molkree commented on #1276
W291 (trailing whitespace) can be easily fixed and maintained with .editorconfig + something like [this](https://github.com/pre-commit/pre-commit-hooks#trailing-whitespace).

[2021-07-26 17:47] terriko opened #1281 "cve-bin-tool halting during extract fails"
Got a bug report by email that cve-bin-tool 2.2 is halting with an exception during extraction in places where cve-bin-tool 2.1 issued a warning and moved on.  The logs they sent had it failing during zip extraction:

[code]

I'm assuming this is related to the changes we made in extractor to handle output codes better.  We probably want to change that `raise` in the last bit of quoted code to be

[2021-07-26 18:50] terriko commented on #1276
adding the "good first issue" label since all of these are very easy fixes.

For beginners working on this, here's the steps I'd want for a full solution.  You can submit a PR for any part of step 1 separately from steps 2-4, but I'd want 2-4 to be part of a single PR.

1. Fix all issues (or all the issues other than the ones I called out above as nonessential)
2. Update the CI files in .github to

[2021-07-26 21:40] anthonyharrison commented on #1281
Seems to be related to fix for #1181 - routine applies to all extractors not just zip.

[How to detect exe archive in Python](https://stackoverflow.com/questions/42551098/how-to-extract-contents-of-exe-archive-using-python) may be a useful addition at detecting if the exe is a self-extracting exe (which is more common on Windows than Linux) before calling the extractor

[2021-07-27 23:11] #1269 closed

[2021-07-27 23:23] #1125 closed

[2021-07-27 23:29] #1278 closed

[2021-07-28 00:41] terriko commented on #1281
Okay, so I made #1285 that will allow just zipfiles to fail, but that raises a good question: should we just allow everything to fail by default?  If I change the default value for `allowed_to_fail` in `async_utils.py` to `True` it does look like the "failed to extract" message will still be logged correctly in extractor.py.

[2021-07-28 01:09] terriko opened #1287 "test_api_cve_count needs to be fixed and re-enabled"
#1218 broke the build with one of the new tests.  I've disabled it for now so that it won't affect CI, but we'll need to get it fixed and re-enable it.  Pinging @imsahil007 for this one.

[2021-07-28 16:36] terriko opened #1291 "Refactoring wishlist (Meeting notes 2021-07-28)"
Refactoring/3.0 wishlist:
- README.md is a bit much to throw at beginners, some of it maybe should be moved to Manual.md (Terri) #1052
- Refactoring to use requests throughout -- possibly better handling (Anthony) #1311
- Should we refactor to put all sqlite calls in one spot in case we want to change the database (Anthony) (possibly done?)
- Console output can be a bit noisy -- should there be so

[2021-07-28 16:48] terriko commented on #1291
- use more RestructredText / Sphinx in the docs to allow doctests, etc.

[2021-07-28 16:50] terriko commented on #1291
- Could look at new themes for Sphinx -- curent one is basic.

[2021-07-28 21:30] anthonyharrison commented on #1281
The extractor works by looking at the file extension and not the content. @terriko I tried the latest 2.2 release with an rpm file and renamed extension to .exe, .deb, .cab, .apk and .tar. All failed with exception `Called ProcessError` except .tar which just reported no cves found.

[2021-07-29 19:19] terriko opened #1293 "Streamlining console output"
* Related to #1291

@anthonyharrison mentioned that our default output is still pretty verbose.  This issue is to talk through what might get moved into more verbose modes.  Currently we default to "info" log level, so we print "info" "warning" "error" levels, but do not print "debug" level stuff.

Going in order of what I see:
1. We indicate that we're updating the cve data 3 times: once at the s

[2021-07-29 22:35] terriko commented on #1281
Update on what's going on in #1285 :

- I swapped the default for aio_run_command to have process_can_fail=True by default (we were only using it in extractor anyhow), then updated the associated test so it would behave.
- I put in some logic so that it doesn't log a failure message if you're trying a .exe file as a zipfile.  We could probably argue about that, but I think mostly users found the m

[2021-08-01 15:00] BreadGenie commented on #1268
Something like in #1296 is what I had in mind.

[2021-08-01 19:38] peb-peb opened #1298 "feat(checker): libebml checker"
CVES: https://www.cvedetails.com/product/33126/Matroska-Libebml.html?vendor_id=7864

In redhat based distros, the potential version patterns is `libebml-1.4.2`, but this is not found in debian distros.
But, a multiline regex:
[code]
was mostly constant among various distros.

Since, we have recently added multiline support for checkers. So, this could be a good first issue for new contributors. :)

[2021-08-01 20:20] anthonyharrison commented on #1293
Other suggested improvements:

1. Reduce level of output when UNKNOWN version found for a product (currently WARNING)
2. Just report number of CVEs found per package rather than showing the actual CVEs
3. Look at all LOGGER output marked as INFO and see if it should be marked as DEBUG (I am expecting that some should still be retained at INFO)

[2021-08-01 21:39] anthonyharrison opened #1300 "Checker fails - AttributeError: 'NoneType' object has no attribute 'group'"
Checker fails during directory scan

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /usr/lib/python3.9/runpy.py:197 in _run_module_as_main                                           │
│                                                                                                  │
│   194 │   main_globals = sys.modules["__main__"].__dict__

[2021-08-02 19:02] terriko opened #1303 "Release-drafter"
@Molkree mentioned this in #1289 and I didn't want to forget:

https://github.com/release-drafter/release-drafter

This is potentially a nice way for us to keep a release draft up to date if we stick with using conventional commits syntax for commits.  I might want to try it for our next point release (probably shortly after #1285 is merged) or for 3.0 (likely October time-frame, after GSoC is don

[2021-08-02 19:08] terriko opened #1304 "https://goodfirstissue.dev/"
Up for discussion: How would people feel about adding ourselves to https://goodfirstissue.dev/ ?

This is a site to help users find a good first issue as a beginner open source contribution.  We already flag these as I notice them and make sure they've got enough information for a beginner, so it would just be a matter of adding ourselves to the site and being prepared for a few new contributors t

[2021-08-02 20:04] #1281 closed

[2021-08-02 20:11] terriko opened #1305 "Add additional bad archive file tests"
in #1285 I added explicit tests for .exe and .zip files which weren't valid archives (they're just empty files) but changed the code so we should fail-without-exception on all file extensions that are flagged as potentially archives that need to be extracted.  We should add explicit tests for the other archive file types.

The current `test_bad_zip` function starts here:
https://github.com/intel/c

[2021-08-02 21:04] anthonyharrison commented on #1304
Seems a good idea.

[2021-08-03 21:03] #1300 closed

[2021-08-03 21:16] #1276 closed

[2021-08-03 21:17] terriko commented on #1210
Fixed with #1260 and #1299

[2021-08-03 21:17] #1210 closed

[2021-08-03 23:00] terriko opened #1308 "Deal with libcurl.py"
We currently have both libcurl.py and curl.py.  I'm pretty sure these are left over from when we had separate checkers for the command line vs library version of curl, and I believe that when @Niraj-Kamdar refactored the checkers they were merged into the single curl.py file.

This issue is a reminder to do the following:
1. Check that anything we needed from libcurl.py is now in curl.py (and upda

[2021-08-03 23:15] Molkree opened #1309 "Split up `pythonapp.yml`"
From https://github.com/intel/cve-bin-tool/pull/1299#pullrequestreview-721653860

I suggest to split into at least ~2~3 files:
- `linting.yml`
Current [linting](https://github.com/intel/cve-bin-tool/blob/4ab3200ca07d94879b06ff5242fb68cf1f312029/.github/workflows/pythonapp.yml#L14) matrix.

- `testing.yml`
Everything else (docs, tests, long tests, Windows tests).

- `cve_scan.yml`
[CVE scan](https:

[2021-08-03 23:19] terriko opened #1310 "Alternate versions for libvncserver tests"
#1296 Added a libvncserver checker and tests for a number of different distros.  Currently they're all the same version, and it'd be nice if we could get a different version or two in there instead just to maximize what we're getting out of our long tests.

[2021-08-03 23:41] terriko opened #1311 "Refactor: requests library vs urlib*"
* related: #1273

We've added the requests library to our dependencies to facilitate using the "new" NVD API, but currently aren't using it anywhere else.  It used to be that we tried to use built-ins and keep requirements for cve-bin-tool as minimal as possible, but that ship sort of sailed last summer as we added output/input modes and needed good support libraries.  We always need to make sure

[2021-08-03 23:50] terriko commented on #1291
* related #1311

[2021-08-03 23:51] #1250 closed

[2021-08-04 00:00] terriko opened #1312 "Should pytest* be in dev-requirements.txt instead of requirements.txt?"
Should we be moving pytest* out of requirements.txt and into dev-requirements.txt?  My brain helpfully includes 90s python so I remember that one of the many packaging solutions used to run some tests, but I don't think that's required for a production install any more.  Should we move those dependencies?

[2021-08-04 00:11] terriko commented on #1287
Fixed as part of #1306

[2021-08-04 01:42] P0intMaN commented on #1158
Dear developers,

I am new to open source contribution and I am pretty excited and looking forward to it.
I have read about this issue and would love this to be my first contribution!

[2021-08-04 01:45] P0intMaN commented on #1158
I have done the changes as per the requirements above and it seems to be working. The html loads perfectly with MyST-Parser. Now, shall I make a Pull Request or would I have to take permission from moderators? ( I am really new to this ).

Thanks!

[2021-08-04 01:50] BreadGenie commented on #1158
Welcome to the community @P0intMaN
You can make pull requests without any permission here.

Don't forget to add `Fix #1158` in the description to link the PR.

[2021-08-04 01:51] P0intMaN commented on #1158
Ok sure. I am on it!

[2021-08-04 02:44] BreadGenie opened #1314 "Broken Tables in docs"
While reviewing #1313 I noticed that we have broken tables at
[README](https://cve-bin-tool.readthedocs.io/en/latest/README.html) and
[How do I create a custom theme for the HTML Report? (Adding and updating custom CSS and JavaScript files)](https://cve-bin-tool.readthedocs.io/en/latest/how_to_guides/customize_html_report.html#adding-and-updating-custom-css-and-javascript-files) section.

Tables r

[2021-08-04 03:40] P0intMaN commented on #1305
Dear Developer,

I am a beginner to open source contribution and I found this issue interesting to work with.
I would love to contribute and am pretty excited!

Before I start working on this, let me understand this issue.  So, in test_extractor.py, I need to add` test_bad_*` functions (where * stand for other archive file types: zip, tar, deb, rpm, cab) inside their **respective classes**. Not on

[2021-08-04 04:21] BreadGenie opened #1315 "Failing NVD API tests"
the log from CI
[code]

Run: https://github.com/intel/cve-bin-tool/runs/3237706256?check_suite_focus=true

[2021-08-04 13:21] BreadGenie commented on #1287
tests seems to be failing in my fork and PR

I've opened a separate issue #1315 (didn't notice this one since the tests were running fine and failed after #1306

[2021-08-04 16:21] terriko commented on #1291
- refactor requests & subprocess to happen in utils
- --offline flag?

[2021-08-04 16:22] terriko commented on #1291
- refactoring how arguments are grouped (current: input/output/other)

[2021-08-04 16:40] terriko opened #1316 "enable 3.9 in CI"
Mostly a reminder for me: we should enable 3.9 for at least the short tests.

[2021-08-04 16:44] #1293 closed

[2021-08-04 16:47] terriko opened #1317 "Update contributor docs to talk about conventional commits"
We've been trying out conventionalcommits.org -- it's going well, we should add it as a recommendation to the new contributor docs.

[2021-08-04 17:20] terriko commented on #1305
Yes, that sounds like a good way to do it.  Thanks for looking at this!

[2021-08-04 20:10] #1158 closed

[2021-08-04 20:10] #1314 closed

[2021-08-05 00:11] P0intMaN commented on #1158
And, one more question. As I am working on a new issue and since I messed up this fork (a lot of things went wrong on my fork :p), can I delete this fork and re-fork this? I hope it won't bring any problems to the above merged PRs.

Also, the reason for my re-fork is to follow the proper steps of contribution as mentioned in CONTRIBUTORS.md

[2021-08-05 00:54] Molkree commented on #1158
Yes, if you don't have any work you can lose by deleting your fork, it should be fine.

[2021-08-05 00:56] P0intMaN commented on #1158
alright

[2021-08-05 02:00] BreadGenie commented on #1315
This test is skipped now in 0343ec0fb0e9657709ac48dbf3325147a03fce24 due to NVD API being unstable.

[2021-08-05 02:00] #1315 closed

[2021-08-05 02:49] P0intMaN commented on #1305
Hello,

**A question:**  Do I have to include `self.extract_files(BAD_EXE_FILE)` inside every `test_bad_*` functions or is it **exclusive only** to `test_bad_zip` function?

[2021-08-05 02:55] P0intMaN commented on #1305
I believe it is exclusive to `test_bad_zip` because **TextExtractFileZip** also handles exe files.

[2021-08-05 16:03] Molkree opened #1323 "Entry point error with editable install"
I have initially encountered this back in May and we had some discussion on Gitter (May 17) but I haven't opened an issue. Revisiting it now.

The issue is: after editable install (`pip install --editable`) and after the first initial run of `cve-bin-tool`, it seems to "break". I have created an [example workflow](https://github.com/Molkree/cve-bin-tool/blob/dc64d2eb7741e506a12d9c6a2cf3046c4989134

[2021-08-05 16:51] Molkree opened #1324 "pre-commit hook for reformatting checkers doesn't work"
I've initially asked this in the PR https://github.com/intel/cve-bin-tool/pull/1290#pullrequestreview-716833254 and I can confirm it doesn't work in CI, see an example run [here](https://github.com/Molkree/cve-bin-tool/actions/runs/1102170721):
[code]

After fixing it should be added to Linting job. To do so just add `format_checkers` on this line:
https://github.com/intel/cve-bin-tool/blob/0343ec

[2021-08-05 18:37] terriko commented on #1323
I don't know the answer for why this happens, but I can confirm that this also happens in my current development setup.  I assume that it's something to do with the checker loads, which has caused problems in the past, but I don't know why.

If it is the checker loading system, I think there's probably a good opportunity for a refactor in there.  Checkers load in a somewhat strange way and I *thin

[2021-08-05 22:33] #1305 closed

[2021-08-05 22:38] terriko opened #1325 "Refactoring bad archive file tests"
#1322  included additional empty archive files to test our behaviour when dealing with files that have archive-like extensions but aren't actually valid archives.  Now that there's 6 files, the part at the top of the file where we set the path gets kind of repetitive.  It'd be nice to refactor it so that there was a list of filenames and a loop, maybe stick it all into a data structure so you coul

[2021-08-05 22:47] terriko commented on #1324
In your test CI you're missing the install step:

`python -m pip install -e .`

You can see where we do it in the tests where we do the single cli run here: https://github.com/intel/cve-bin-tool/blob/main/.github/workflows/pythonapp.yml#L98

I think you can alternately do `python setup.py egg_info` as described in #677

[2021-08-05 23:08] Molkree commented on #1324
Nope, here it is:

https://github.com/Molkree/cve-bin-tool/blob/a36ba29936ee594441b7b4187423141126b8f89c/.github/workflows/test-local-hook.yml#L19

And you can see cve-bin-tool-3.0.dev0 being installed [here](https://github.com/Molkree/cve-bin-tool/runs/3254334732?check_suite_focus=true#step:3:139).

[2021-08-06 02:06] firmianay opened #1326 "list index out of range error in pdf report generation"
[code]
[code]

[2021-08-06 02:34] P0intMaN commented on #1325
Hello @terriko,

I got an idea how to solve this. We can make use of **dictionary and a pre-populated list.**
So, initially, we would be having a **list** (say, `FILE_EXT`) which will be populated with all the 6 extensions. `BAD_FILE` will be a **dictionary** through which we would be able to access `os.path `operation via the **keys being the extensions** (like you mentioned above).

I think this

[2021-08-06 18:02] imsahil007 commented on #1324
@Molkree  You might need to omit `-a --all-files` while using format_checkers. Have you tried this?

[2021-08-06 19:44] Molkree commented on #1324
This is needed to run `pre-commit` check, otherwise it will be just skipped because no files were changed.

[2021-08-06 19:46] Molkree commented on #1324
I mean I can try to modify the list of checkers in the workflow and run `pre-commit` without `-a` flag but I doubt it will be any different.

[2021-08-06 19:56] Molkree commented on #1324
So I've [manually](https://github.com/Molkree/cve-bin-tool/commit/096bab7a55e546a83ddcfc75fae41db0a78d3d24) deleted one checker from the checker list and removed `-a` flag and it still [failed](https://github.com/Molkree/cve-bin-tool/runs/3265537311?check_suite_focus=true) as I expected.

[2021-08-09 17:15] terriko commented on #1324
Yeah, I don't think -a is likely to affect because it's not getting that far.  The problem here is that it thinks cve-bin-tool isn't installed (hence why it can't find the checkers).   What about PYTHONPATH?  I would have thought that pip install -e would handle fixing that (because it's adding an arbitrary path) but maybe pip isn't installing where python knows to look for some reason?

[2021-08-09 17:52] terriko commented on #1324
Ah, I see the PR listed above now.  I do wonder if system vs python changes the pythonpath settings, but i guess it doesn't really matter if we have a reasonable solution.

[2021-08-09 18:20] #1325 closed

[2021-08-09 18:40] Molkree commented on #1324
Yes, `pyupgrade` creates virtual environments for tools, but `system` hooks just use system stuff.

There's also `additional_dependecies` option to install more stuff in hook venv, but I haven't figured out how to install local repository using it and listing `additional_dependecies: [cve-bin-tool]` would just install latest PyPI version.

So what's in PR should be fine.

[2021-08-09 18:46] terriko opened #1331 "Further refactoring of bad archive file tests in test_extractor.py"
Discussion in #1328 suggested that as well as improving the path initialization of the bad archive files, we could also de-duplicate the code used to call them.  Anyone attempting this issue might want to read the full discussion there, but here's a few notes on things I'd prioritize:

1. Make a test_bad_files(extension_list) function that individual extractor types could inherit and call.  This c

[2021-08-09 18:50] Molkree commented on #1331
Urgh, I just posted a comment on that PR so repeating it here.

This is concerning your note about testing "if it fails to extract, it should still pass".

From https://github.com/intel/cve-bin-tool/pull/1328#pullrequestreview-724375004:

[2021-08-09 18:52] #1324 closed

[2021-08-10 07:39] BreadGenie commented on #1331
Testing bad files can be improved. When an exception happens the test will fail just because there's an _exception_. We should test that there is no exception while calling the extractor function (I know both works but latter seems to be better).

This might help: https://stackoverflow.com/a/68012715/13635789

[2021-08-10 21:10] AndrewJohnson150 opened #1332 "UnboundLocalError in version_scanner.py when running on Windows"
Hello, I am running into an error when attempting to analyze any ELF binary from a windows environment. I believe this is due to the logic of is_executable in version_scanner.py (seen below) not properly handling the case where the file passed to the function is a binary but "file" is not on the path. This leads to output not being assigned a value before being returned.

[code]

It looks like the

[2021-08-10 23:33] terriko commented on #1331
Technically, these tests are testing for a `raise subprocess.CalledProcessError()` not an assert.  I did these as test-oriented development: the tests were designed to fail with the 2.2 code, and then I changed things until they stopped failing with the code that went into 2.2.1.  So I know they definitely worked as intended for my purpose because I wrote them broken and then fixed the code so the

[2021-08-11 00:22] Molkree commented on #1331
@terriko, it's totally possible that I'm missing something here but can you explain why this does NOT fail?
1. I've added some junk input `self.extract_files("garbage")`, so it should fail on "making sure all test files are present"
2. Actually let's just raise an exception at the beginning of `extract_files`

[code]

From this not failing it just seems to me that `test_bad_tar` is not calling fil

[2021-08-11 00:36] P0intMaN commented on #1331
woah! that's quite interesting. But any idea why `test_bad_tar` is not calling the `extract_files` ? Possibly that's maybe because of the way **async functions** work or is there something that we keep completely missing out?

[2021-08-11 00:46] terriko commented on #1331
Ahh!  Okay, I can duplicate this now.  Not sure what's going on here, but duplicating the bug is the first step to figuring it out, right?

[2021-08-11 00:49] Molkree commented on #1331
Yes, I'm pretty sure. `extract_files` is an `AsyncGenerator` so to call it properly you'd need to do something like:
[code]

And after doing that I have discovered that we have actually been calling it wrong, `extract_files` accepts `filenames` and it has to be a list of filenames actually, you can't just pass one filename as it will just iterate over all characters in the string (I'm seeing an er

[2021-08-11 00:58] terriko commented on #1331
Now I'm utterly mystified as to how this ever worked for me (because it definitely did) but at least we're heading to a solution.

And yeah, types are definitely on the wishlist.

[2021-08-11 00:59] P0intMaN commented on #1331
Ok, now i got it. So, initially, we were calling it as `self.extract_files(BAD_FILE['tar'])`. Now that you've mentioned, we would have to pass a list of file extraction types inside extract_files.

[2021-08-11 01:04] Molkree commented on #1331
You'd still need to pass a list of filenames, just pass `self.extract_files([BAD_FILE["tar"]]).

[2021-08-11 01:05] P0intMaN commented on #1331
Cool. refactoring the code and opening a PR right away.

[2021-08-11 01:08] Molkree commented on #1331
Haha, after fixing all `test_bad_*` tests, `test_bad_rpm` fails because empty file is called `emtpy-file.rpm` instead of `empty-file.rpm` 😄
We didn't even notice before

[2021-08-11 01:10] P0intMaN commented on #1331
I read this line at least five times to find the difference xD

[2021-08-11 16:37] #1247 closed

[2021-08-11 19:20] #1316 closed

[2021-08-12 05:26] P0intMaN commented on #1317
Hello @terriko ,

Is anyone working on this? I would like to contribute to this issue. In fact, being a beginner myself, it would help me too as I would be able to learn more about conventionalcommits while creating the documentation.

Thanks!

[2021-08-12 06:20] daniejstriata opened #1335 "python setup.py bdist_rpm not including requirements"
I've built using `bdist_rpm` but the rpm does not run on the target hosts as the dependencies are not packaged with the rpm.

Is this normal behaviour or do the dependencies need to be included in the setup.py?

[2021-08-12 19:22] terriko opened #1336 "Update CI for windows to use python 3.9"
I recently updated the linux test matrix in Github Actions to include python 3.9, but didn't update the tests for windows.  @Molkree did a bit of research and concludes that we should change the windows tests to use 3.9.

New contributors: You'll need to update this file:
https://github.com/intel/cve-bin-tool/blob/main/.github/workflows/pythonapp.yml

Scroll down to the `  windows_tests: ` section

[2021-08-12 19:34] terriko commented on #1335
I actually don't know much about how the bdist_rpm build works.  We already include the python dependencies (including zstandard) in requirements.txt, and that's included in setup.py, and that seems to work as expected for `bdist_egg`.  I note that the requirements.txt entry for zstandard is a bit weird:

[code]

We don't actually support python 3.4 any more (it's 3.6+) so we could probably change

[2021-08-12 19:42] terriko commented on #1332
@peb-peb -- as the last person to do poking in version_scanner.py, do you want to take a look at this one?  (Feel free to say no if you're busy with GSoC wrap-up)

[2021-08-12 19:59] terriko opened #1337 "Group merged report related argumentsarguments in cli.py"
* Related to #1262

In #1262 @imsahil007 has added the ability to filer merged reports based on tag.  Since the merging options and the filtering options clearly go together (in fact you can't use --filter without --merge) we should put them in their own output grouping in cli.py to make that more clear to users.  it looks like there's a few other things currently in the "output" grouping that cou

[2021-08-12 19:59] terriko commented on #1337
Pinging @imsahil007 in case he'd like a first crack at this.

[2021-08-12 20:20] peb-peb commented on #1332
@terriko I looked into it and it seems that this problem arises because we do not handle the case when "what output should be returned when `file` is not present on `path`". Currently, if "`file` is not present on `path`", then we have function `is_binary()` which return us a `bool` value whether the file is binary (as apparent by the name 😅 ), but does not provide what would be the output.

A sol

[2021-08-13 01:28] P0intMaN commented on #1336
Hello @terriko,

In the windows_tests section, I found this:
[code]

So, do I need to change the name also (i.e. from py3.8 to py3.9)?  Or only the **python versions**? (there are two` python-versions: 3.8`)

[2021-08-13 13:51] BreadGenie opened #1339 "Backported fixes - explicit specifying distros"
Related: https://github.com/intel/cve-bin-tool/pull/1273#discussion_r683866316

Note: I'll be working on this issue

[2021-08-13 14:17] Molkree commented on #1331
Hey, @P0intMaN, just want to confirm you are working on this, otherwise I can.

[2021-08-13 14:51] P0intMaN commented on #1331
okay @Molkree, go ahead.

[2021-08-13 18:48] daniejstriata commented on #1335
I'm also new to this. I looked for a way to build this as a package. I'll investigate it some more and post back if I find anything. The fact that bdist_rpm does not include the requirements makes in kinda useless.

Can the setup.py not create a binary that includes everything? Then if I build an RPM it won't be an issue.

[2021-08-16 12:02] peb-peb opened #1342 "feat: add affected-versions to all output formats"
During the GSoC'21 period, I added `--affected-versions` feature to console output only. #1284

So, the remaining task would be to add affected-versions to remaining output modes, i.e,
- [ ] csv
- [ ] json
- [ ] html
- [ ] pdf

[2021-08-16 17:20] terriko commented on #1335
To be pedantic: Python is generally packaged as source and the .pyc binary files are created upon first run, and I am not currently building a manylinux wheel file, so it's quite likely that setup.py will never produce something that's meaningfully a binary.

But non-pedantically, currently we package as an egg that can be installed using pip.  Assuming by "binary" you actually mean "installable p

[2021-08-16 17:49] #1336 closed

[2021-08-16 19:01] daniejstriata commented on #1335
@terriko I completely agree about how python applications are generally packaged. Even if you mapped the requirements to dependencies, the versions might be too old. I don't see Python rich as a RPM on EPEL. Fedora and Debian both shipping python3-rich-9.10.0. That's why I meant a full-on Binary, so it can be run without the need to install and maintain all the extra requirements. Similar to how g

[2021-08-16 21:35] peb-peb opened #1343 "fix: `CONTAIN_PATTERNS` -> `CONTAINS_PATTERNS`"
As discussed in #1333, by @Molkree <https://github.com/intel/cve-bin-tool/pull/1333#discussion_r688993098>. So the task for new contributors would be to find and change `CONTAIN_PATTERNS` -> `CONTAINS_PATTERNS`.

**Hint:** With little research I found that the two of checkers (i.e., `cryptsetup` and `sudo`) use `CONTAIN_PATTERNS` instead of `CONTAINS_PATTERNS`.

[2021-08-17 23:39] #1339 closed

[2021-08-18 16:21] terriko commented on #1063
Finished as part of GSoC 2021

[2021-08-18 16:21] #1063 closed

[2021-08-18 16:21] terriko commented on #1018
Finished as part of GSoC 2021

[2021-08-18 16:21] #1018 closed

[2021-08-18 16:22] terriko commented on #1002
Finished as part of GSoC 2021

[2021-08-18 16:22] #1002 closed

[2021-08-18 16:31] BreadGenie opened #1346 "Fixed Versions"
Currently our tool has a backported CVE fix utility. We can extend the utility to output fixed versions that are not just backported.

[2021-08-19 14:10] Molkree opened #1348 "Spell checking"
From https://github.com/intel/cve-bin-tool/pull/1341#discussion_r690799954:

I'm not sure what is the best approach here, for example, one could add a spellchecker to CI through GitHub Actions. Maybe something like [check-spelling](https://github.com/check-spelling/check-spelling) could work (it is used in [Windows Terminal repo](https://github.com/microsoft/terminal/blob/main/.github/workflows/sp

[2021-08-19 16:29] peb-peb opened #1349 "add description for commented lines in checkers"
In #1189, we dicussed to add `# Alternate optional contains patterns, see <link to helper script docs> for more details` in checkers where we have commented out strings in `CONTAINS_PATTERNS`, but it was not merged with #1189. So, the task for anyone who wants to work on this would be:
- [ ] to add `# Alternate optional contains patterns, see <link to helper script docs> for more details` in check

[2021-08-19 17:58] #1331 closed

[2021-08-20 01:25] P0intMaN commented on #1348
Hi @Molkree, I would like to contribute.

I read through the check-spelling documentation and made some necessary changes in our cve-bin-tool repository.

(This is my first time working with Github Actions. Hopefully I didn't mess anything up 🤣 )

[2021-08-20 19:07] Molkree opened #1351 "Refactor: helper script `filename`"
As discussed in https://github.com/intel/cve-bin-tool/pull/1333#discussion_r688996001

`HelperScript` class has required argument `filename` in its `__init__`. `product_name` and `version_number` are then parsed from it and `filename` is being saved in `self.filename`. It is then only used in one place only:
https://github.com/intel/cve-bin-tool/blob/5f4b7955c59fca5da785643e435844191408b79c/cve_bi

[2021-08-20 19:21] Molkree opened #1352 "Refactor: `ArgumentParser` and defaults"
As mentioned in https://github.com/intel/cve-bin-tool/pull/1333#discussion_r688994743 and https://github.com/intel/cve-bin-tool/pull/1340#discussion_r688991382.

[cli.py](https://github.com/intel/cve-bin-tool/blob/5f4b7955c59fca5da785643e435844191408b79c/cve_bin_tool/cli.py#L61) and [helper_script.py](https://github.com/intel/cve-bin-tool/blob/5f4b7955c59fca5da785643e435844191408b79c/cve_bin_tool/

[2021-08-20 19:33] peb-peb opened #1353 "feat: find common strings in `CONTAINS_PATTERNS` across various packages obtained from helper-script"
Implement a method to compare and return the common strings for `CONTAINS_PATTERNS` in helper-script for various packages of same product.

It would work something like this:
[code]

Currently as you could see, running the helper-script on a single package returns us a very long list for `CONTAINS_PATTERNS` and it's very tedious to compare these manually. So, what we intend to do is to take these

[2021-08-20 19:35] Molkree opened #1354 "Docs: broken table of contents links in manual"
[Manual](https://github.com/intel/cve-bin-tool/blob/5f4b7955c59fca5da785643e435844191408b79c/doc/MANUAL.md) has lots of broken links in the table of contents at the top, most of them are lines with non letter symbols but there's also "CVE Data Download Arguments". You can see all non working lines if you open the file for editing and then look at the preview:
![image](https://user-images.githubuse

[2021-08-20 19:50] peb-peb commented on #1353
But, the problem with this approach would be that sometimes `CONTAINS_PATTERNS` becomes too large (this is the reason for `--string-length` argument) and despite not finding any valid **version-strings**, `CONTAINS_PATTERNS` would be printed. This would not be too helpful for the contributor while creating a **checker**.
[code]
P.S. we do get `CONTAINS_PATTERNS`, despite not finding a version-stri

[2021-08-20 20:08] peb-peb commented on #1351
As discussed in #1173, sometimes there are filenames such as `tomcat10-10.0.6-1.el8.harbottle.x86_64.rpm` which have numeric digits in them and they return `product_name = tomcat10`, which couldn't be found in the database. And then there are products such as `Openj9` (which despite having numeric digits is found in the database). So, to tackle this issue, we first check `tomcat10` in the database

[2021-08-20 20:38] peb-peb commented on #1351
We could refactor it and remove `filename` and separately call `parse_filename(filename)` (which would enable us to only call it when the user does not explicitly mentions the `--product` & `--version`). But, I would first recommend to see how #1353 turns out and maybe then refactor it (It could be maybe helpful in `logs`). Any suggestions on this would be welcome! :)

[2021-08-20 21:26] Molkree commented on #1351
Thanks for the explanation! Might be a good idea to add a test for this with current behavior.

But for the future refactor: if we do remove `filename` from the constructor and only use `parse_filename` then don't forget to add removing digits from the product name in this function and update `self.product_name`, `self.version_number` for the `HelperScript` instance.

Additionally, it's okay to te

[2021-08-30 18:25] #1174 closed

[2021-08-30 21:02] #1332 closed

[2021-09-01 20:30] anthonyharrison opened #1358 "Add PDF testing"
Add tests for PDF output to test output engine code.

[2021-09-02 21:47] terriko opened #1359 "How-to guide for running cve-bin-tool in github actions"
We've got a template for running cve-bin-tool in github actions here:
https://github.com/intel/cve-bin-tool/blob/main/doc/how_to_guides/cve_scanner_gh_action.yml

But currently it doesn't show up in the docs on https://cve-bin-tool.readthedocs.io/

It'd be nice to have a little document (probably also in the how_to_guides section) that included this file and had a quick intro about how to use it.

[2021-09-03 00:17] terriko commented on #1061
The answer to this one is now in a blog post thanks to @imsahil007 https://medium.com/@imsahil007/cve-binary-tool-docker-image-8853d2490323

I'm going to go ahead and close this as complete, since this is as much of a resolution as I'm able to support right now!

[2021-09-03 00:17] #1061 closed

[2021-09-03 08:33] BreadGenie opened #1360 "feat: Redhat support for backported fix utility"
Docs: https://access.redhat.com/documentation/en-us/red_hat_security_data_api/1.0/html/red_hat_security_data_api/index

[2021-09-03 08:33] BreadGenie commented on #1360
Note: I'll be working on this issue

[2021-09-09 04:33] BreadGenie commented on #1360
It may not be possible to implement backported fix utility for redhat distros.
There exist a [backported fix](https://access.redhat.com/security/updates/backporting/) for php 5.3 for CVE-2014-3670 but in the [api](https://access.redhat.com/hydra/rest/securitydata/cve/CVE-2014-3670.json) the fixed versions are `php 5.4.34, php 5.5.18, php 5.6.2`. It seems that unlike Debian CVE tracker redhat doesn

[2021-09-09 17:24] #1348 closed

[2021-09-10 07:52] BreadGenie commented on #1311
I'm more leaning towards using just requests since it's much more easier to read and use.  I'm not sure how we will be using requests in `cvedb.py` though. So we might need to implement the utility we talked about.

@pdxjohnny I looked through dffml and wasn't able to pinpoint how they implemented the utility.

[2021-10-05 16:03] Molkree commented on #1303
GitHub just announced [auto-generated release notes](https://github.blog/2021-10-04-beta-github-releases-improving-release-experience/#introducing-auto-generated-release-notes). This is _really_ similar to what I was suggesting.
Compared to the above mentioned [release-drafter](https://github.com/release-drafter/release-drafter):
- no draft release so people won't see quickly "what's coming" on Re

[2021-10-07 20:11] Cor-J opened #1368 "cve_bin_tool listed on CycloneDX tool center"
Hello,

Your tool is already listed by [CycloneDX tool center](https://cyclonedx.org/tool-center/), but json export doesn't seems to look like CycloneDX standard. Is it a mistake on cycloneDX?

Screenshot from cycloneDX tool center
![image](https://user-images.githubusercontent.com/52933655/136449506-d4eecdd8-8cfb-4d61-9b58-82ee14f368c5.png)

Thanks for your already great tool!

[2021-10-10 17:52] anthonyharrison opened #1369 "Add Python 3.10 Support"
Now that Python 3.10 has been officially released

[2021-10-10 18:57] anthonyharrison commented on #1291
- More noise reduction particularly when processing RPM archives which results in lots of archive contains output. Might be useful for debugging but not for normal operation.

- Ensure version of tool used and the set of checkers used is reported in the output for console and PDF (Useful for audit and historical analysis).

[2021-10-10 23:55] Molkree opened #1371 "Python 3.10 `DeprecationWarning`s"
Running tests on 3.10 [now raises](https://github.com/intel/cve-bin-tool/runs/3852831494#step:11:39) some `DeprecationWarning`s:
[code]
Not sure about the first one, it seems like it's not being called directly by cve-bin-tool?

`get_event_loop` and `ensure_future` warnings are about [this change](https://docs.python.org/3/whatsnew/3.10.html#:~:text=asyncio.get_event_loop()%20now%20emits%20a%20dep

[2021-10-11 09:05] Cor-J opened #1372 "Export scanned data as SBOM"
Hello,

As cve-bin-tool already list some of installed components, it would be great to output the detected ones in a SBOM complient format (ex: SPDX/CycloneDX).
This could be used into an analysis tool easing the  vulnerabiltiy triage/remediation process (ex: Dependency Track/DefectDojo).

[2021-10-11 09:09] #1368 closed, assigned to nobody

[2021-10-11 13:16] anthonyharrison opened #1373 "refactor: Reduce logged output during normal operation"
Reduce logging out from version_scanner.py during normal coperation. (see #1291)

Specific changes to make output only on DEBUG:

- Invalid files are reported as WARNING. This applies to any non-ELF file.

- Contents of archives are reported as INFO.

[2021-10-11 13:49] anthonyharrison opened #1375 "refactor: report version of tool in output"
The version of the tool used to create the output is currently only reported in PDF output and HTML print mode. Would be useful to add version number to console output (see #1291)

[2021-10-12 21:08] #1375 closed, assigned to nobody

[2021-10-12 21:13] #1369 closed, assigned to nobody

[2021-10-12 21:27] terriko opened #1377 "Update developer documentation to include pdftext"
As mentioned here: https://github.com/intel/cve-bin-tool/pull/1361#pullrequestreview-777878622

We should update the dev docs to recommend developers install pdftotext, and explain that this is best accomplished using conda on windows.  May need some links to conda in case the reader isn't familiar with it.

I haven't double checked what happens if you run the tests without installing it first, bu

[2021-10-12 21:29] #1358 closed

[2021-10-12 23:40] terriko commented on #1377
@marlonemmerich go ahead, and let us know if you get stuck!

[2021-10-13 00:00] terriko commented on #1372
If you're looking for a scanner that identifies compoenents, try something like [Tern](https://github.com/tern-tools/tern) ([related blog post](https://blogs.vmware.com/opensource/2020/06/23/tern-soaring-through-container-images/)) or [AboutCode](https://www.aboutcode.org/).  You're probably looking for a licensing-focused tool.

I agree with @anthonyharrison that ideally cve-bin-tool should be in

[2021-10-13 14:04] Cor-J commented on #1372
thanks for pointing these out, I take a look into them

[2021-10-13 14:04] #1372 closed, assigned to nobody

[2021-10-13 16:07] #1167 closed

[2021-10-13 16:21] terriko opened #1378 "Switch from "old" NVD download to new API as default mode of operation"

[2021-10-13 16:37] terriko commented on #1291
Added the 3.0 milestone so that I remember to file separate issues for any that aren't yet fixed.

[2021-10-13 16:46] terriko opened #1379 "GSoC 2022 Ideas / Brainstorming thread"
[GSoC 2022 has now been announced!](https://opensource.googleblog.com/2021/11/expanding-google-summer-of-code-in-2022.html)

This thread is open for brainstorming ideas for GSoC 2022 projects.  They can be either 175hr or 350hr ideas.  GSoC is open to anyone over 18 now, not only students,, and the timing is more flexible than it used to be.

Note that this is a _brainstorming_ thread so it's goin

[2021-10-13 16:47] terriko opened #1380 "Add LGTM to readme"

[2021-10-13 16:54] terriko commented on #1379
* improve type checking (and integrate automatic tools in CI for this)

[2021-10-13 16:56] terriko opened #1381 "Make something that prints the number of checkers"
@anthonyharrison has some prelim work on this already.  Hard to have it appear in JSON and CSV.

[2021-10-13 17:32] terriko opened #1382 "SBOM parsing library: https://github.com/spdx/tools-python"
There's an official SPDX parser that might yield more robust parsing if we need it: https://github.com/spdx/tools-python

This was feedback from someone on our licensing team who got interested in the content of @anthonyharrison 's PR when I asked to make sure that copyright lines didn't have to say "Intel" on them.  They weren't sure we'd need robust parsing for what we're doing, but I wanted to

[2021-10-13 17:41] terriko opened #1383 "SBOM dependency nuance"
More feedback from Intel's open source licensing folk relative to @anthonyharrison 's #1167

* Current patch will give you a list of all package names/versions mentioned in an SBOM.
* SBOMs can include things that aren't necessarily in the final package (e.g. build dependencies)
* SBOM will have information on these relationships

We might want to distinguish these in the cve binary tool output in

[2021-10-13 18:21] terriko opened #1384 "New checker: apache http server"
New checker request: Apache http  (In "celebration" of https://ubuntu.com/security/CVE-2021-41773 )

Website: https://httpd.apache.org/

CVEs:
* Just the 2.4 ones (others on separate pages) https://httpd.apache.org/security/vulnerabilities_24.html
* https://www.cvedetails.com/vulnerability-list/vendor_id-45/product_id-66/Apache-Http-Server.html

Instructions: [How to add a new checker to the CVE B

[2021-10-13 18:47] terriko opened #1385 "Update dev-requirements.txt to pin latest version of black"
Easy bug for hacktoberfest folk:

CVE-Binary-Tool uses pre-commit to do a bunch of linting checks on the code.  We [recently updated the pre-commit config to use the latest version of some tools](https://github.com/intel/cve-bin-tool/pull/1367/files)/

The [dev-requirements.txt](https://github.com/intel/cve-bin-tool/blob/main/dev-requirements.txt) file now has a pinned version of black which is no

[2021-10-13 18:56] terriko opened #1386 "Automate keeping dev-requirements.txt and .pre-commit-config in sync"
* Related: #1385

CVE-Binary-Tool uses pre-commit to do a bunch of linting checks on the code.  We have [a Github Actions workflow that helps keep the .pre-commit config up to date](https://github.com/intel/cve-bin-tool/blob/main/.github/workflows/update-pre-commit.yml)

We also maintain a [dev-requirements.txt file](https://github.com/intel/cve-bin-tool/blob/main/dev-requirements.txt).  This is i

[2021-10-13 19:31] terriko opened #1387 "New checker: FasterXML Jackson"
New checker request:
* FasterXML Jackson
* It looks like there are a bunch of sub-components.  The one with interesting CVEs is listed as "Jackson databind" in the NVD data, but may actually be called Jackson-dataformat-xml in github.

Website:
* https://github.com/FasterXML/jackson-dataformat-xml

CVEs:
* https://www.cvedetails.com/vulnerability-list/vendor_id-15866/product_id-42991/Fasterxml-Jac

[2021-10-13 21:22] anthonyharrison opened #1388 "feat: Create CVE Summary"
On Console and PDF output, the list of vulnerabilities are reported against each component together with the severity but the total number of vulnerabilities for each severity for the scan is not reported.

This new feature will report a summary of the number of reported vulnerabilities in the 4 categories (Critical, High, Medium, Low)

[2021-10-13 21:24] anthonyharrison commented on #1379
- Use additional or alternative vulnerability databases

[2021-10-13 23:28] itsmais commented on #1385
Could you please take a look? I changed it [here](https://github.com/intel/cve-bin-tool/pull/1389). Thanks!

[2021-10-14 09:21] BreadGenie commented on #1385
@pdesai878  this issue was already fixed in #1389 (not merged yet). You can take a look at other issues with "good first issue" or "hacktoberfest" labels to contribute if you are interested :D

[2021-10-14 19:38] #1373 closed, assigned to nobody

[2021-10-15 03:09] alt-glitch commented on #1359
Since I've been looking for a reason to understand GitHub Actions, I'd like to a look at this :)

[2021-10-17 01:14] marlonemmerich commented on #1377
Hello! I created a PR (https://github.com/intel/cve-bin-tool/pull/1395). Can you check please it was what you had in your mind?
If I did some mistake, please, tell me!

Thanks again!

[2021-10-19 22:21] terriko commented on #1388
I think #1388 just closed this and I forgot to make sure they were linked before hittin gthe merge button. Sorry!

[2021-10-19 22:39] Molkree commented on #1309
@terriko, any comments on this? If you don't object I'd like to take this.

[2021-10-19 23:31] terriko opened #1398 "Replace xml.etree.ElementTree"
I'm using Bandit to target some code review, and it raised some concerns about the xml parser we're using in the sbom section.  Having looked at these issues in the past: the xml attacks are largely denial of service style ones.  Since this is while parsing an sbom provided by the user, they can't really do more than inconvenience themselves in our current workflow, but it could potentially be an

[2021-10-19 23:31] terriko commented on #1398
pinging @anthonyharrison in case he's got opinions about this before I start looking at replacement.

[2021-10-19 23:39] terriko opened #1399 "Improve try except pass constructions"
Bandit is issuing a bunch of warnings about the try/except/pass construction.  They're flagged because "not properly handling error conditions" is often a way to introduce security bugs.  I haven't looked deeply into what exceptions can happen here so I'm not sure about the best solution: we probably do want things to fail silently in default mode, but we may want a debug message or we may want to

[2021-10-19 23:40] #1388 closed

[2021-10-19 23:41] #1378 closed

[2021-10-20 00:03] terriko opened #1400 "Improve the scanner limits to avoid bandit warning?"
Bandit is issuing the following warning about the query that limits the number of SQL results in cve_scanner.py:

[code]
Here's a bit more of that function:

[code]

Basically, it's binding in the list of cves to grab them in groups.  I'm not seeing any obvious way to "resolve" the issue -- we're getting groups of CVEs and we don't always know exactly how many there will be to put in the right num

[2021-10-20 00:24] terriko opened #1402 "Update js libraries"
We've got a number of javascript libraries that are used in our reports:

https://github.com/intel/cve-bin-tool/tree/main/cve_bin_tool/output_engine/html_reports/js

This is a reminder that we should see if any of them need updating before the 3.0 release goes out.

Also open for discussion: is there a better way to manage these?

[2021-10-20 00:43] terriko opened #1403 "Update requirements.csv with valid vendors"
We have a .csv file that we use for scanning our own depedencies:

https://github.com/intel/cve-bin-tool/blob/main/requirements.csv

Some things are marked as not_in_db to indicate that there currently isn't a vendor there, usually because no CVEs have been filed against that product.

It looks like py has got an entry now as {pytest, py}: https://www.cvedetails.com/cve/CVE-2020-29651/ and it's po

[2021-10-20 03:02] alt-glitch commented on #1384
Would like to work on this and try out the new Helper script!

[2021-10-20 17:48] terriko commented on #1399
Let's go with adding logging a debug saying that the document failed to parse, as well as any actual information from the exception, then.  I think that should be sufficient for Bandit.  Should be a pretty easy addition, possibly even new contributor friendly.

[2021-10-21 05:19] BreadGenie commented on #1402
bootstrap (v5.1.3) and plotly.js (2.4.2) have newer versions. We might need to check if there are breaking changes.

Also we can remove jQuery from the dependecies since bootstrap doesn't depend on jQuery from v5 onwards (We would need to rewrite the initial 16 lines of main.js in vanilla JavaScript though).

[2021-10-21 07:48] Shiv2708 commented on #1403
Thanks for this oppourtunity and also for your help
Please chexk my pr #1406

[2021-10-21 16:53] #1359 closed

[2021-10-21 18:56] #1386 closed, assigned to nobody

[2021-10-21 20:47] terriko commented on #1402
Updating manually is probably best for now: our tests don't currently test interaction on the html view very well so someone will indeed have to open up the results and make sure all the buttons still work.

Which doens't invalidate the value of having it generate a pull request, just noting that they're not a quick thing to merge until I'm more confident in our interaction tests.

Maybe extended

[2021-10-22 00:42] terriko opened #1407 "CoSWID support"
One of my colleagues at Intel expressed interest in having the SBOM reader handle SWID (XML) and CoSWID (CBOR) (https://datatracker.ietf.org/doc/draft-ietf-sacm-coswid/).   @anthonyharrison 's already got SWID happening, but here's some additional information on CoSWID from my inbox:

Looks like it might be interesting for a future release, so I'm filing this issue and tagging it appropriately.  M

[2021-10-22 04:44] BreadGenie commented on #1402
Took a look and seems like individual info after clicking on a product in the `Products Scanned` section doesn't open up. But the rest seems to be working fine. So it might be better to update manually for now (but we have to fix the issue there). Automatic updates would definitely be helpful in the future

+1

[2021-10-25 21:44] anthonyharrison opened #1411 "Package List processing improvements"
A few comments on the Package List processing which is performed by cve-bin-tool.

Pinging @BreadGenie for initial comment.

BUG If the distribution is not supported (e.g. Kali, Raspian) the error message is `"Invalid Package list"`. A more descriptive error message may be more appropriate e.g. 'Unsupported Distribution'. However it might be even better to do something earlier in checkfile before

[2021-10-26 06:26] BreadGenie opened #1412 "Improve package list parser error message for unsupported distros"
#1411

[2021-10-26 07:02] BreadGenie opened #1414 "Error when one of the packages is not valid should be a warning instead"
#1411

[2021-10-26 11:20] BreadGenie opened #1416 "Encapsulate VendorFetch to CVEDB"
#1411

[2021-10-26 23:01] terriko opened #1419 "Let tests fail more gracefully if pdftotext not installed?"
Currently tests fail if pdftotext is not installed, at the import stage.  That's actually kind of fine, but it might be nice to print out a message explaining to a new developer what package(s) are missing.

Also, note for docs so I don't forget: the poppler dev library on fedora is called poppler-cpp-devel

[2021-10-26 23:20] terriko opened #1422 "NVD API tests are timing out, breaking CI"
It looks like the NVD API tests are timing out and breaking CI as well as local tests at the moment.  @Molkree and I have got PRs to disable those tests in CI and locally to help get people's PRs unstuck for today (#1420 and #1421) but I'm filing this issue to remind us to fix the tests.

Two things I'd like to see in a solution to this issue:
1. I'd like all the nvd tests (and really, all tests r

[2021-10-26 23:41] #1377 closed, assigned to nobody

[2021-10-27 12:30] BreadGenie opened #1424 "Failing JSON tests"
JSON tests are failing now in long tests

From local machine:
[code]

from [GitHub Actions](https://github.com/intel/cve-bin-tool/runs/4021287433?check_suite_focus=true)

[2021-10-27 14:18] BreadGenie opened #1426 "`test_cli.py` long test failure"
there were 2 tests failing in [GitHub Actions](https://github.com/BreadGenie/cve-bin-tool/runs/4022549724?check_suite_focus=true) when running long tests while working on #1425
1. `test_cli.py::TestCLI::test_update`
[code]
2. `test_cli.py::TestCLI::test_update_flags`

[code]

[2021-10-27 15:53] imsahil007 opened #1428 "Inclusion of NVD API key in `nvd_api.py`"
NVD has announced API keys. Users making requests to it will have to include it as a parameter of their request’s URL string. We will also have to follow the new NVD API documentation and see what updates we require.
#1422 was due to one of those changes
More about this here: https://nvd.nist.gov/general/news/API-Key-Announcement

[2021-10-27 19:56] #1412 closed, assigned to nobody

[2021-10-28 17:24] #1424 closed, assigned to nobody

[2021-10-28 17:24] #1426 closed, assigned to nobody

[2021-10-28 21:53] #1398 closed, assigned to nobody

[2021-10-28 23:10] terriko opened #1431 "aiohttp fails seem to violate quiet mode"
* from #1427
[code]
When we have a network connection fail it looks like quiet mode breaks (at least, the test does).  In the case of the pull request where this occurred it was not a related error, but we should probably fix it properly.

[2021-10-29 00:29] #1422 closed, assigned to nobody

[2021-11-02 23:33] #1414 closed

[2021-11-03 16:33] BreadGenie opened #1433 "tests failing due to binutils"
while working on #1417 faced test failure
GitHub Action [Run](https://github.com/intel/cve-bin-tool/runs/4094242224?check_suite_focus=true)

[2021-11-03 16:42] BreadGenie commented on #1433
We might want to look for something that doesn't depend on the package's version.
Didn't think they would drop a version but that's to be expected when CVEs appear.
binutils [changelog](http://changelogs.ubuntu.com/changelogs/pool/main/b/binutils/binutils_2.34-6ubuntu1.3/changelog)

[2021-11-03 17:38] #1433 closed

[2021-11-03 21:28] anthonyharrison opened #1435 "fix: Ensure version numbering is canonical to ensure correct reporting"
If the version number is not a valid canonical version number, the parse_version function will not work and incorrect CVEs are reported.

For example if a version number is 1.20.1kali1 (an invalid canonical version number) is compared with 1.17.2 (a valid canonical number), a comparison of version numbers will report that 1.20.1kali1 is a lower version than 1.17.2

Invalid canonical numbers appear

[2021-11-03 21:40] anthonyharrison opened #1436 "fix: don't scan for vulnerabilities if vendor is UNKNOWN"
Within a package list, there are many packages for which a vendor cannot be found becuase there are no reported vulnerabilities against the package within the database.

Within the package list parser, packages with an unknown vendor are still added to the list of packages to be scanned with a vendor of UNKNOWN.  However, if the vendor is UNKNOWN, there will clearly be no vulnerabilities found so

[2021-11-04 21:44] terriko commented on #1436
That's a pretty significant time savings.

[2021-11-04 21:56] terriko opened #1438 "Replacing the jsonschema tests?"
We currently have a couple of tests that verify the NVD data in the yearly files against the published jsonschema.  This is a widely accepted best practice to help identify potential tampering in the data, although we *also* check the published hashes and signatures so it's not the only option we use.  In an ideal world, you'd run these checks inline and abort or log a warning to the user if the d

[2021-11-06 05:52] BreadGenie commented on #1438
Agreed on disabling these tests in CI. We should also revert the initial cve-bin-tool run to use NVD API which was changed in #1425

[2021-11-08 21:03] #1436 closed

[2021-11-11 12:06] yqbboy opened #1440 "When debugging the source code, you cannot get all the checkers"
I downloaded the v2.2.1 source code and want to debug the source code through vscode. I'm debugging to version_ scanner.print_ The console does not print out the set of plug-ins when the Checkers () code is. You can refer to my screenshot### _**
![vscode_1](https://user-images.githubusercontent.com/8455490/141295251-efedb257-0d48-48be-86c2-9baf070add36.png)

[2021-11-11 13:03] BreadGenie commented on #1440
try running `python3 setup.py egg_info` in terminal and try again

[2021-11-11 22:56] terriko commented on #1438
I've got a "mark as xfail" PR up to test behaviour in CI right now: #1441.

This should
1. Leave the tests running both in CI and locally
2. Give the user a message indicating that we know NVD data can be imperfect.

I think next step probably will be to disable the tests in CI (and yes, change the mode to -n api), but I'm going to leave that for a separate PR because I want to make sure the xfail

[2021-11-11 23:03] terriko commented on #1440
Quick explanation: the checkers are loaded from the installed egg info, so the solution above lets you generate the information without doing the install.  This only affects folk not running a version installed from pip.

That said, it comes up often enough for developers that I'd love if we had a workaround so this happens automatically.  I wonder if it would be safe to just put a setup.py call i

[2021-11-18 19:45] #1416 closed

[2021-11-18 19:56] #1402 closed

[2021-11-18 20:03] terriko opened #1444 "FAILED test/test_available_fix.py::TestAvailableFixReport::test_redhat_available_fix_output"
Looks like redhat has new fix information and the available fix test is failing on main now.  We need to update the test to take the new output into account, and we may want to adjust the scope of the assert so that it isn't as brittle to future changes.

Updating the test should be a pretty beginner-friendly task so I'm flagging it as such.

Making the test more stable may be harder: Pinging @Bre

[2021-11-20 01:42] Antsthebul commented on #1444
Mind if I give it a shot? I think I can use this tool on AWS linux servers since theyre based off Fedora.

[2021-11-21 09:26] BreadGenie commented on #1444
seems like Red Hat changed the affected status of those CVEs(CVE-2021-22918, CVE-2021-22931, CVE-2021-22939, CVE-2021-22940) for RHEL 8 as not affected. We most probably want to look for other CVEs that are backported by Red Hat to update the test.

[2021-11-21 09:55] BreadGenie commented on #1444
on further investigation the fixed data seems to be completely removed from `package_state` in https://access.redhat.com/hydra/rest/securitydata/cve/CVE-2021-22918.json but on comparing with https://access.redhat.com/security/cve/CVE-2021-22918 the packages in `affected_release` all have fixes. Which means they aren't being explicit in saying that a certain package is fixed in the API.

So we need

[2021-11-21 10:27] BreadGenie commented on #1444
Seems like I made a blunder while designing the utility. I assumed all packages in `package_state` with `Affected` status have fixes mentioned in `upstream_fix`. But it's not the case. All packages in `affected_release` have fixes.

[2021-11-23 22:58] #1444 closed

[2021-11-24 00:09] #1135 closed

[2021-11-24 00:39] terriko opened #1446 "Moving contributor guide to expected location"
Our contributor guide is currently found in https://github.com/intel/cve-bin-tool/blob/main/doc/CONTRIBUTORS.md

It looks like goodfirstissue.dev, Github, and others are starting to expect documentation for contributors to appear in `/CONTRIBUTING.md`

I can't really think of any reason to maintain a slightly different filename, so I propose renaming this guide to CONTRIBUTING.md and moving it to

[2021-11-24 15:24] terriko opened #1448 "Use more RestructredText / Sphinx in the docs to allow doctests, etc."
From our refactoring wishlist: #1291

While markdown has become very popular, the preferred documentation tool for Python projects is RestructuredText and there is support for better doctests through Sphinx if you use ReST. We already use sphinx to build for Read The Docs, so what we'd need to do here is:

1. Convert our documentation to ReST format (exception: we probably want to leave README.md

[2021-11-24 16:56] terriko opened #1449 "Change Sphinx/read the docs template?"
* From our refactoring wishlist: #1291

We're currently using the default theme for Sphinx/Read The Docs.  There's nothing wrong with that; it's used by lots of python projects.  But this issue is a reminder that we don't have to stay with the default if one of the others looks nice.

[2021-11-24 17:19] terriko opened #1450 "Tests for canonical version PR"
* See note in #1437

[2021-11-24 17:48] terriko opened #1451 "refactor requests & subprocess to happen in utils"
* From our refactoring wishlist #1291
* See also #1311

We currently have url requests and subprocess calls happening in a few different places. It'd be nice to group them together to facilitate cases like #1311 where we want to standardize what library/tools we're using or so we can make security/input validation improvements once.

[2021-11-24 17:56] terriko opened #1452 "--offline flag"
* From our refactoring wishlist #1291

We currently have an offline guide here: https://cve-bin-tool.readthedocs.io/en/latest/how_to_guides/offline.html

It might be nice to have an `--offline` flag that was shorthand for  `–update never and –disable-version-check` and have it change a few messages to be more applicable to offline users.  These might include:
1. If the DB doesn't exist, print a li

[2021-11-24 17:57] terriko commented on #1291
Okay, at this point I think all the issues have been filed separately so this issue can be closed.  Thanks all -- we had a lot of good changes come out of this brainstorming session!

[2021-11-24 17:57] #1291 closed

[2021-11-24 17:58] terriko commented on #1264
Moving this to 3.1.  I'd still like it fixed, but it probably isn't going to make it into this release.

[2021-11-24 17:59] anthonyharrison opened #1453 "Add support for scanning dependencies in package.json"
Add support for javascript dependencies included in package.json.

File format is described in [https://docs.npmjs.com/cli/v8/configuring-npm/package-json#dependencies]

[2021-11-24 18:00] terriko commented on #1264
Note also that the output remains readable enough to a human user of the helper tool even if it's not passing tests correctly.

[2021-11-24 18:06] anthonyharrison opened #1454 "Flag vulnerabilities which have been exploited"
CISA provides a list of CVEs which have vulnerabilities which been exploited (see [https://www.cisa.gov/known-exploited-vulnerabilities-catalog]. The list is regularly updated.

It would be useful if any reported vulnerabilities are highlighted if they are present on this list.

[2021-11-30 23:15] terriko commented on #1399
Bandit isn't reporting these any more, so I assume they were all fixed in #1409.

[2021-11-30 23:15] #1399 closed

[2021-12-05 12:30] ashok-arora commented on #1379
@terriko How about a website (written in Flask and HTML/CSS) where the user can upload the binary and then the report is displayed (with options to download in a specific format)?

[2021-12-05 12:33] ashok-arora commented on #1446
@terriko Can I work on this?

[2021-12-06 10:00] BreadGenie opened #1457 "Package List Parser test failure"
recent run: https://github.com/intel/cve-bin-tool/runs/4424333531?check_suite_focus=true

The Package List Parser test is failing due to wget being downgraded without `--allow-downgrade` flag while installing packages with specific versions in the CI. Adding the flag might fix the test for now but I think a long term solution would be much nicer.

[2021-12-09 22:10] terriko commented on #1446
@ashok-arora sure, have fun!

[2021-12-13 19:53] stealthrabbi opened #1459 "tool includes reportlab dependency which is flagged by Safety"
https://snyk.io/vuln/pip:reportlab

I'm currently using `safety`. I tried adding cve-bin-tool as a dev dependency. When I then ran `safety` again on my environment, it reports that reportLab is a vulnerability.

https://pypi.org/project/safety/

[code]

[2021-12-13 19:58] terriko opened #1460 "Improve XML validation"
Work recommended some additional XML tests for the 3.0 release.  I set them up and ran them as part of my internal documentation because it was easier to run them than justify not running them, but I haven't merged them because I feel like they're kind of low-value as is.  Here's the commit that includes them in my branch:

https://github.com/terriko/cve-bin-tool/commit/5ce19494fafee5441e65fb47c9b

[2021-12-14 21:58] terriko commented on #1459
Yes, there was an issue with reportlab.  You should make sure you have upgraded to the latest version of reportlab, which has a partial fix.  We implemented the recommended mitigations including validation of the data sent to reportlab and should not be affected, but it you feel that's not true please do feel free to recommend additional security measures.

[2021-12-14 22:05] terriko commented on #1459
Whoops, didn't mean to close that right away in case you want to add additional comments, but I'll probably close it in a week or so if you don't.

[2021-12-15 00:39] terriko commented on #1379
@ashok-arora I don't think that'll work for GSoC.  A service like that requires pretty extensive security validation, testing, and an ongoing maintenance commitment if I wanted to release it following Intel's security guidelines.  We're looking for more self-contained features that can be handled in a 10-week commitment!

[2021-12-15 00:47] terriko opened #1462 "GSoC 2022: Start Here"
[Google Summer of Code 2022 has been announced](https://opensource.googleblog.com/2021/11/expanding-google-summer-of-code-in-2022.html)!   CVE Binary Tool is hoping to participate in 2022 under the Python Software Foundation umbrella.

This year contributors can be anyone over 18 (you do not need to be enrolled in a post-secondary institution) and projects can be either 175hrs of work or 350hrs of

[2021-12-15 01:26] terriko opened #1463 "New checker request: log4j"
New checker request: Apache log4j  (In "celebration" of https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45046 )

Website: https://logging.apache.org/log4j/2.x/security.html

CVEs: https://www.cvedetails.com/vulnerability-list/vendor_id-45/product_id-37215/Apache-Log4j.html

Instructions: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve

[2021-12-15 13:11] stealthrabbi commented on #1459
Well, I have the latest from reportlab as it would have been installed as a dependency of this tool. I just find it in general very suspicious that a tool for finding CVEs itself is using a dependency that has an open CVE with no resolution.

Furthermore, how is it that cve-bin-tool is not flagging reportLab itself, as it is included in the CVE databases.

https://cve.mitre.org/cgi-bin/cvename.cgi

[2021-12-16 01:03] terriko commented on #1052
I improved this a little for 3.0, but I think we could do better again for 3.1 so I'm moving this to the new milestone.

[2021-12-16 01:06] terriko commented on #1400
No one's been able to find a way to address this one, and Bandit currently can't handle ignoring multi-line issues.  I'm going to go ahead and close this as currently unfixable (but we did do manual code review, which is the best we could do)

[2021-12-16 01:06] #1400 closed

[2021-12-16 20:06] terriko opened #1464 "Making it possible to use cve-bin-tool without Reportlab"
* Inspired by #1459

Reportlab has an open CVE.  It's a case where an intentional feature could be used to basically put a "web bug" into a pdf -- we avoid this with validation since embedding external resources isn't really a thing cve-bin-tool users are likely to want to do. (And I'm always open to suggestions on improving said validation!)

But since PDF reports are probably not a go-to feature

[2021-12-16 23:54] terriko opened #1465 "Update contributor docs to recommend tests & docs with each new feature"
We currently request documentation and tests as part of code review, but don't have that expectation documented as part of our new contributor documentation.  Typically, for shorter code we get the tests/docs added as part of the initial PR, for longer items sometimes a separate issue and a new PR are opened at a later date.

It would be nice to have these expectations documented more comprehensiv

[2021-12-21 21:49] #1450 closed

[2021-12-22 20:10] terriko opened #1470 "Spelling in github actions broken?"
The spell checker seems to be broken.  You can see it failing in https://github.com/intel/cve-bin-tool/pull/1467 and https://github.com/intel/cve-bin-tool/pull/1469

I did a little bit of experimenting and it looks like it might be related to the github api when it tries to submit comments.

[code]

I thought maybe getting the latest .yml from the spelling checker folk would address the issue (tha

[2021-12-23 13:55] Molkree commented on #1470
I think I know what might be the problem. When we were adding the spell-checking workflow [I wondered why](https://github.com/intel/cve-bin-tool/pull/1350#discussion_r693100070) we need the `pull_request_target` and not just the `pull_request` event. I didn't dive into it too much and it was changed to the `pull_request` as I suggested but turns out it was wrong because according to [GitHub docs](

[2021-12-23 16:09] pcouas opened #1472 "log4J Spring and Angular are checked ?"
Hi

Could i check Log4J, Spring, and Angular CVE with this tool ?
Regards
Phil

[2021-12-23 16:47] Molkree commented on #1464
This sounds like [extras](https://packaging.python.org/en/latest/tutorials/installing-packages/#installing-setuptools-extras)/[optional dependencies](https://setuptools.pypa.io/en/latest/userguide/dependency_management.html?highlight=extras#optional-dependencies) (same thing, just being called differently). Python.org/setuptools even have exactly this case as an example, PDF functionality that req

[2021-12-23 18:45] anthonyharrison opened #1473 "Unzip failure requires user interaction"
Whilst scanning a large library of JAR files, the tool stopped until I pressed a key on the keyboard. The following message was then displayed

Failure extracting /opt/pycharm/lib/openapi.jar using unzip from /tmp/cve-bin-tool-dredvtgd/openapi.jar.extracted
Stderr: b"\n--- Press `Q' to quit, or any other key to continue ---\r                                                         \r"

I have chec

[2021-12-23 18:47] anthonyharrison opened #1474 "Add support for WAR and EAR archives"
Currently only JAR archives are supported for Java applications

[2021-12-23 19:42] anthonyharrison opened #1475 "Should symlinks be followed in archives?"
Scan_file in version_scanner does not follow symlinks. Should the same restriction occur when extracting a file from an archive? Currently if the destination pointed to by the link does not exist, a warning is issued.

[2021-12-23 22:56] anthonyharrison commented on #1473
Using -q option in unzip seems to work although this stops any output being sent to stdout

[2021-12-24 09:20] anthonyharrison commented on #1472
@pcouas Pull request #1476 should help this

[2021-12-24 09:25] anthonyharrison opened #1477 "Refactor vendor lookup in SBOM Manager"
SBOM Manager should use the get_vendor_product_pairs function within CVEDB to find the vendor for a specific product rather than directky accessing the database

[2021-12-24 09:38] pcouas commented on #1472
Thanks
Coulld you says me when pull request will be merged and new binary created ?
Regards

[2021-12-27 07:37] jason-objsec opened #1482 "'CVEDB' object has no attribute 'time_of_last_update'"
I am running into an error when trying to use the -u never flag.

"AttributeError: 'CVEDB' object has no attribute 'time_of_last_update' "

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮                    │                                                                                                  │                    │ /usr/lib/python3.8

[2021-12-27 12:39] anthonyharrison commented on #1482
Hi @jason-objsec Can you provide further details regarding all of the command line parameters that you have used and the log file output which is produced when running the tool?

Are you using the latest offlicial release of cve-bin-tool (version 3.0)?

[2021-12-27 18:34] terriko commented on #1464
Yes, exactly that.   I hadn't even looked up the optional dependency stuff yet because I was busy thinking about the code changes we needed first!

[2021-12-27 18:40] terriko commented on #1482
As @anthonyharrison says, we might need a bit more information to debug this one.   Are you maybe trying to do `-u never` on a system that doesn't already have a copy of the database?

You might need to follow the setup instructions for offline (we don't provide a seed copy of the database with the tool, so you need to get it from somewhere even if you're running in an offline environment), and ma

[2021-12-27 18:45] terriko commented on #1475
My gut says that we shouldn't follow symlinks because it'd be too easy to wind up with a loop or have a poorly formed package/directory scanning a much larger part of a system than expected or intended.   Potentially this could even be  a security issue for folk who later want to do cve-bin-tool as a service type applications?

A warning or info statement saying that the symlink wasn't followed so

[2021-12-27 18:47] anthonyharrison commented on #1482
Terri

I did spot the use of time_of_last_update variable that didn't have self.
prefixing it - the code was only executed when incremental mode was set. I
couldn't get the tool to fail when I tried it so that is why I requested
more information.

Probably need to think about how we handle unknown conditions that we
haven't thought about. I had a failure when the scan tried to access a file
that I

[2021-12-27 20:32] terriko opened #1483 "Windows tests are timing out during NVD API connection."
Not sure what's up, but the tests for windows (and only windows) are timing out.  It happens during something related to NVD:
[code]

When I try to run just test_nvd_api.py using pytest on my local machine...
- All tests work as expected when run from WSL
- All tests fail (as expected due to a unrelated proxy issue) when run from git bash
- All tests fail (as expected due to a unrelated proxy issu

[2021-12-27 20:40] terriko commented on #1470
Okay, I've merged the PR to see if we can get it working as expected.  We don't use a lot of secrets (I think just the codecov API key right now?  And soon to be an API key for NVD?) but as you say we also don't really use the comments much, so we might want to look into disabling the comments instead and going back to `pull_request` instead of `pull_request_target`

[2021-12-27 20:57] Molkree commented on #1470
[Should be pretty easy](https://github.com/check-spelling/check-spelling/wiki/Configuration#post_comment).

[code]

[2021-12-28 18:13] anthonyharrison opened #1488 "Continuing support for Python 3.6"
As Python 3.6 is now End of Life (from 23rd December 2021), should the test suite and documentation be updated to remove support for 3.6?

[2021-12-28 19:28] Molkree commented on #1488
We could also bump [pyupgrade](https://github.com/intel/cve-bin-tool/blob/d1cb4dbf7a97f7232235b705684ed8b9d35fcd8b/.pre-commit-config.yaml#L12-L16) to `--py37-plus`. Rerunning with new baseline results in [one change](https://github.com/asottile/pyupgrade#subprocessrun-replace-stdoutsubprocesspipe-stderrsubprocesspipe-with-capture_outputtrue) — [where we capture all output from `subprocess`](https

[2021-12-28 22:11] terriko commented on #1488
We also used to support 3.6 for some older CentOS users, but if Python 3.6 itself is out of support I don't think there's much point.

This is probably a beginner friendly bug if I make a checklist, so let's see

- [ ] remove python 3.6 from CI here: https://github.com/intel/cve-bin-tool/blob/main/.github/workflows/pythonapp.yml#L69 (and anywhere else it occurs in that file)
- [ ] remove python 3.

[2021-12-28 22:35] terriko commented on #1470
Awesome, I'm going to flag this as another easy bug, then.

- [] make the change mentioned by @Molkree above
- [] change pull_request_target back to pull_request (also in https://github.com/intel/cve-bin-tool/blob/main/.github/workflows/spelling.yml )

[2021-12-28 23:14] #1475 closed

[2021-12-28 23:36] terriko commented on #1483
Seems to have resolved itself eventually.  At least, I'm not seeing it today.  I hate mysterious transient errors, but I'm glad it's working again!

[2021-12-28 23:36] #1483 closed

[2021-12-28 23:39] terriko commented on #1477
I believe this was closed by #1481.

@anthonyharrison : looks like you need to explicitly put "(fixes #1477)" in the commit message (or PR comment) instead of just "(#1477)" to make the magic work better.

[2021-12-28 23:39] #1477 closed

[2021-12-28 23:39] terriko commented on #1473
Fixed by #1479

[2021-12-28 23:39] #1473 closed

[2021-12-28 23:55] terriko opened #1489 "New checker request: Libsrtp"
New checker request: Libsrtp

Website: ??

CVEs: https://www.cvedetails.com/vulnerability-list/vendor_id-16/product_id-26868/version_id-502930/Cisco-Libsrtp--.html

Instructions: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

This may also be a great opportunity to try out the [checker creation helper script](ht

[2021-12-28 23:57] terriko opened #1490 "New Checker Request: gnome libsoup"
New checker request: Gnome libsoup

Website: ??

CVEs: https://www.cvedetails.com/vulnerability-list/vendor_id-283/product_id-21096/Gnome-Libsoup.html

Instructions: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

This may also be a great opportunity to try out the [checker creation helper script](https://github.

[2021-12-28 23:59] terriko opened #1491 "New Checker Request: opensuse libsolv"
New checker request: opensuse libsolv

Website: ??

CVEs: https://www.cvedetails.com/vulnerability-list/vendor_id-8184/product_id-51703/Opensuse-Libsolv.html

Instructions: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

This may also be a great opportunity to try out the [checker creation helper script](https://

[2021-12-29 00:01] terriko opened #1492 "New Checker Request: libsndfile"
New checker request: libsndfile

Website: ??

CVEs: https://www.cvedetails.com/vulnerability-list/vendor_id-16294/product_id-36889/Libsndfile-Project-Libsndfile.html

Instructions: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

This may also be a great opportunity to try out the [checker creation helper script](

[2021-12-29 00:03] terriko commented on #1490
whoops, duplicate

[2021-12-29 00:03] #1490 closed

[2021-12-29 00:03] terriko commented on #1492
Duplicate

[2021-12-29 00:03] #1492 closed

[2021-12-29 00:07] terriko opened #1493 "New Checker Request: Libseccomp"
New checker request: libseccomp

Website: ??

CVEs: https://www.cvedetails.com/vulnerability-list/vendor_id-19760/product_id-53398/Libseccomp-Project-Libseccomp.html

Instructions: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

This may also be a great opportunity to try out the [checker creation helper script](

[2021-12-29 00:09] terriko opened #1494 "New checker request: gnome librsvg"
New checker request: gnome librsvg

Website: ??

CVEs: https://www.cvedetails.com/vulnerability-list/vendor_id-283/product_id-23082/Gnome-Librsvg.html

Instructions: [How to add a new checker to the CVE Binary Tool](https://github.com/intel/cve-bin-tool/blob/master/cve_bin_tool/checkers/README.md)

This may also be a great opportunity to try out the [checker creation helper script](https://github.

[2021-12-29 07:08] dxrob997 commented on #1482
Use the latest version 3.0, and update the cve data with -u now. when i use -u never I receive the same error。

[2021-12-29 08:40] XDRAGON2002 commented on #1470
I would like to work on this.

[2021-12-29 10:12] SinghHrmn commented on #1470
@XDRAGON2002 Please go ahead

[2021-12-29 12:28] XDRAGON2002 commented on #1470
Opened PR #1495 that fixes this issue.

[2021-12-29 12:30] XDRAGON2002 commented on #1488
Can I work on this?

[2021-12-29 17:57] anthonyharrison commented on #1482
@dxrob997 @jason-objsec I have now been able to reproduce it and will look at finding a fix for it. As it only fails when the -u never command line option is specified, I suggest you don't specify this option at the moment and rely on the cached database.

@terriko The time_of_last_update variable isn't created when the class instance is created and only gets created when the time of the database

[2021-12-29 19:13] #1470 closed

[2021-12-29 20:11] #1464 closed

[2021-12-29 20:32] naomiceron commented on #1494
Hello! I would like to give this issue a try, could you assign it to me? :)

[2021-12-29 20:44] #1452 closed

[2021-12-29 21:02] terriko opened #1496 "Improve "Limitations" Section in readme"
@anthonyharrison had some good recommendations for improvements in the README file:

_Originally posted by @anthonyharrison in https://github.com/intel/cve-bin-tool/pull/1467#pullrequestreview-841320451_

I took a first pass at that in #1467 but I'm not 100% happy with it yet, so this is a reminder for me or someone else with fresh eyes to revisit this section with Anthony's comments in mind.

[2021-12-29 21:07] #1317 closed

[2021-12-29 21:07] #1446 closed

[2021-12-29 21:07] #1465 closed

[2021-12-29 21:17] terriko commented on #1494
Assigned to you now!  We don't use the assignment feature much in this project, so in future you can just go ahead and work on bugs without waiting for anyone to assign them to you -- a comment is fine to let other contributors know that a bug is being worked on.

[2021-12-30 13:05] XDRAGON2002 commented on #1488
Opened PR #1498 that closes this issue.

[2021-12-30 22:51] anthonyharrison commented on #1482
UPDATE @dxrob997 @terriko The problem has been fixed by the offline mode PR (#1452) which reports the time of the last database update each time the tool is run. This has the effect of setting the time_of_last_update variable.

Download and install the latest version from GitHub (the version on PyPi doesn't have the latest changes yet) and you should see that the problem is fixed (check you are ru

[2022-01-02 12:14] XDRAGON2002 commented on #1489
I would like to work on this.

[2022-01-02 15:29] XDRAGON2002 commented on #1489
Opened PR #1500 that closes this issue.

[2022-01-03 04:22] XDRAGON2002 commented on #1380
I would like to work on this.

[2022-01-03 04:23] XDRAGON2002 commented on #1380
Opened PR #1501 that closes this issue.

[2022-01-04 22:12] terriko commented on #1482
Awesome, I'm going to close this issue as resolved, then.

We're a pretty long ways out from a 3.1 release (I'd expect it in 3-5 months), but I feel like we could probably push out a 3.0.1 with this fix this week if we wanted.  That would get our updated README up on pypi too which would probably be nice.  Let me see how bad my post-holiday todo list is before I make a decision.

[2022-01-04 22:12] #1482 closed

[2022-01-04 23:57] #1488 closed

[2022-01-05 00:24] terriko opened #1502 "Add LONG_TEST flags to backported fix tests using external data"
We've had a couple of times where the backported fix code failed due to a network error.  That's good information for us in general, but maybe not the most useful thing to have happen in CI.  I think we should add LONG_TEST flags to tests that use network data other than NVD in order to improve the reliability of our short tests.

These are the ones that failed earlier, so it's probably those test

[2022-01-05 00:32] terriko opened #1503 "Offline testing / offline mode for Available Fix checker"
* Related to #1502

Our tests have periodically failing because they can't reach the urls used to get available fix data for debian and/or redhat.  We know that GitHub Actions has some regular network issues; is there any way we can make some of the available fix tests use offline data, similar to how we use condensed downloads to avoid other network requests?   Should the available_fix checkers h

[2022-01-05 18:32] #1489 closed

[2022-01-05 18:33] #1380 closed

[2022-01-05 22:46] anthonyharrison opened #1504 "Improve product vendor matching for component list scanning"
Each of the checkers identifies a product/vendor pair to be used if a particular component is detected in a binary file. The allows for instance an item detected as libc or libc6 to be both mapped to the glibc product.

However if a component list is used (e.g. using SBOM or a linux distro ), the product name searched for will be libc or libc6 which as they are not found in the database. will not

[2022-01-06 20:43] terriko commented on #1504
I like the heuristic approach.  I'd like to suggest that we make sure to log the mappings in a way that users can tell that we "guessed" and give them some way to fine-tune the guesses and save the data so they don't have to re-run the heuristic on subsequent runs.

I think we talked about this with the known package lists, but it turned out the mappings were obvious often enough that it wasn't ab

[2022-01-06 21:18] anthonyharrison commented on #1504
Terri

Looks like I have started something that could be a step change in
improving the detection capability of the tool.

I agree it needs some more thinking and some design/architecture work would
probably be worthwhile before we launch into implementation. No idea if
this would be a suitable GSOC project or not because I can't work out how
hard it will be become at this stage.

I was also think

[2022-01-06 21:41] terriko opened #1505 "Move --offline up to "Most popular usage options" section in README.md"
The --offline flag is currently listed in the "configuration" section of the [README file](https://github.com/intel/cve-bin-tool/blob/main/README.md).  I think it's a common enough request that we should put it up with the most popular usage options, probably under its own "Using the tool offline" header, with that header added to the table of contents as well.  (I use Visual Studio Code's "markdo

[2022-01-06 21:48] terriko opened #1506 "Give the output types information its own subheading and table of contents entry in README.md"
There's a note at the bottom of the most commonly used options section that mentions the output types available for cve-bin-tool.  Here's what it currently reads:

It would be nice if it had a section heading of its own (something like "Output options")  the way the entries above have, including an entry in the table of contents at the top.  (I use Visual Studio Code's "markdown all in one" plugin

[2022-01-06 22:01] terriko opened #1507 "Add XML Schema validation to places we use XML"
* related to #1476

@anthonyharrison and I had a quick discussion about doing schema validation of XML before it's loaded.  We've got a few places where we load XML that should have known schemas: the new java package parser added in the PR above and the SBOM parser.

It looks like [xmlschema will work for what we need](https://github.com/intel/cve-bin-tool/pull/1476#issuecomment-1006119836).

Sin

[2022-01-06 22:05] terriko commented on #1463
Not sure if this is actually fully closed by #1463 since we don't have an explicit checker, so I'll let @anthonyharrison weigh in whether an explicit log4j one is still needed.

[2022-01-06 22:22] terriko opened #1509 "Add LONG_TEST flag to cvedb test test_01_nist_scrape (and maybe others)"
This test periodically fails, I think due to rate limiting because we get a 403 forbidden response:

[code]

In the interests of being better users of NVD, I'm going to suggest that we move all of these tests to occur only in the LONG_TESTS phase so they don't run for every version of Python.  We'll probably be able to run them again once we get the API key set up, but I think in the interest of b

[2022-01-07 00:12] terriko opened #1510 "Update test/README.md so it shows the correct versions of Python"
https://github.com/intel/cve-bin-tool/blob/main/test/README.md currently says that we're testing Python 3.6 & 3.7 in CI.  That's not true any more, we should update it, and update the virtualenv instructions so they no longer use 3.6 (maybe 3.8 & 3.9 would be better now?)

We're actually testing 3.7-3.10 at the moment, but you might want to direct people to check  Github Actions to see what CI is

[2022-01-07 09:40] XDRAGON2002 commented on #1502
Opened PR #1512 that closes this issue.

[2022-01-08 04:02] BreadGenie commented on #1503
We would have to mock the JSON data from the APIs.
Some refactoring would be needed to get it working.

[2022-01-08 05:00] BreadGenie commented on #1502
we might not need to move these tests to `LONG_TESTS` now that those data are mocked in the test
refer #1513

[2022-01-08 06:28] XDRAGON2002 commented on #1502
Hm, I looked at #1513 and I suppose the mocks really do make this issue redundant.
So, I guess I'll close #1512 as soon as your PR gets merged.

[2022-01-09 10:35] XDRAGON2002 commented on #1454
I would like to work on this.

[2022-01-09 11:10] anthonyharrison commented on #1454
@XDRAGON2002 I already have some code which extracts the list from CISA which might be useful (sorry for the layout!). It is   just a proof of concept rather than anything more substantial.

There needs to be some thought given to the best way to check for an exploit - do we mark an entry in the database? do we just check when we report the list of vulnerabilities (and if so how does this work for

[2022-01-09 11:24] anthonyharrison commented on #1463
Terri

I think the Java checker covers the issue and when I was testing, Log4J was
detected.

Anthony

On Thu, 6 Jan 2022 at 22:05, Terri Oda ***@***.***> wrote:

[2022-01-09 12:26] XDRAGON2002 commented on #1454
Hey @anthonyharrison !
I had also come up with a similar sample code structure, differences being use of requests module and getting the json data instead of the csv (these methods are interchangeable), also as mentioned in #1311 shouldn't we be trying to move from urllib to requests?
For storing the list we could just store them in a new table in cve.db, as the list doesn't update often (and is a

[2022-01-09 12:47] maxhbr commented on #1300
I still seem to have this or an similar issue:

[code]

[2022-01-09 12:52] BreadGenie commented on #1300
@maxhbr can you shed some light on what you scanned?

[2022-01-09 13:13] maxhbr commented on #1300
I scanned the result of:
[code]

It is just a random openwrt router firmeware, unpacked via binwalk.

[2022-01-09 13:22] anthonyharrison commented on #1300
What options did you specify to the cve-bin-tool? And are you using the
released version from PyPi or the latest development version from GitHub.

To help could you run the cve-bin-tool using the debug log setting and post
the results?

On Sun, 9 Jan 2022, 13:13 Maximilian Huber, ***@***.***>
wrote:

[2022-01-09 14:01] anthonyharrison commented on #1300
I have run the scan on the firmware using the latest released version (3.0)
and have managed to get the error message.

 The issue is with the version of an xml2 component (found when using debug
logging option).

           DEBUG    cve_bin_tool.VersionScanner -
/root/Documents/test9/_openwrt-mt1300-3.203-0809.bin.extrac
version_scanner.py:224
                    ted/squashfs-root/usr/lib/libxml2

[2022-01-09 14:18] anthonyharrison commented on #1300
Issue seems to be with the xml2 checker returning a version of "" and not
UNKNOWN.

The xml2 checker sets the default value of new_guess to "". This should be
"UNKNOWN"

On Sun, 9 Jan 2022 at 14:25, Anthony Harrison ***@***.***>
wrote:

[2022-01-09 14:22] anthonyharrison opened #1517 "xml2 default version is incorrect"
The default version of the xml2 checker is set to "" (variable new_guess).

This should be set to UNKNOWN so that the version scanner can then detect if the version has not been detected.

[2022-01-09 14:28] anthonyharrison commented on #1300
Raised issue #1517

Thanks @maxhbr

[2022-01-09 16:50] Molkree opened #1518 "`TypeError` when scanning"
I have tried to scan the dir from [this comment](https://github.com/intel/cve-bin-tool/issues/1300#issuecomment-1008295832) and instead of the error mentioned in that thread got another one:
[code]

The offending code is here:
https://github.com/intel/cve-bin-tool/blob/8c1f7733eb4b8c67cb1f6f28f2878765cbdefb72/cve_bin_tool/cve_scanner.py#L140-L146

As evident from the error text `parsed_version` is

[2022-01-09 21:32] anthonyharrison commented on #1454
@XDRAGON2002 You are right about use of requests. As I explained, my code was just a quick proof of concept and not production ready code!

Modifying the database to add a new table might work but we need to be careful when we change the database schema to esnure that we can detect this; upgrading the database is not an easy task now that the NVD interface has changed and we may need to think care

[2022-01-10 08:45] XDRAGON2002 commented on #1454
@anthonyharrison Opened PR #1520 with a basic implementation, if it looks good so far then I will move on to integrating this with the report generation and add optional command line parameter.

[2022-01-10 19:48] Molkree opened #1521 "Move to `importlib` from `pkg_resources`"
[Setuptools docs](https://setuptools.pypa.io/en/latest/pkg_resources.html#:~:text=Use%20of%20pkg_resources%20is%20discouraged%20in%20favor%20of%20importlib.resources%2C%20importlib.metadata%2C%20and%20their%20backports%20(resources%2C%20metadata).):

`pkg_resources` is used to iterate over checkers using `iter_entry_points`, it can be replaced with something like this:
[code]

[2022-01-12 00:51] terriko commented on #1521
Good catch, thank you.  Flagging this with the 3.1 milestone to make sure it happens before next release.

That code is a little hoary because there was some minor concern from @pdxjohnny that we'd want it to be possible to write checkers without concern for compliance with our GPLv3 license.  I'm not sure if this has ever actually been an issue for anyone, since by the nature of having that optio

[2022-01-12 00:52] #1509 closed

[2022-01-12 02:02] #1506 closed

[2022-01-12 02:03] #1502 closed

[2022-01-12 22:18] anthonyharrison commented on #1504
Some progress on this to result in some improved product/vendor matching (I
have just tried this with SBOMs for the time being to try out some ideas;
there needs to be more thought as regards to how it gets incorporated so
that the whole tool benefits)

1. If multiple vendors are matched, I have modified the code so that all
product/vendor mappings are added to the list of parsed products. I found

[2022-01-13 18:21] terriko commented on #1463
okey dokey, close time.

[2022-01-13 18:21] #1463 closed

[2022-01-13 18:51] #1505 closed

[2022-01-13 19:03] #1518 closed

[2022-01-13 19:38] terriko opened #1525 "GSoC 2022 idea: get test coverage to 95% (stretch goal, 100%)"
Possible GSoC idea: get test coverage to 95% (stretch goal, 100%)
* related: #1462
* related: #1379

We're currently hovering around 80% coverage according to codecov: https://codecov.io/gh/intel/cve-bin-tool
Codecov lets you see which code paths have not been tested and you can use it to guide you in writing tests that explore missed code paths.

This would involve:
- writing tests
- removing/ref

[2022-01-13 20:08] terriko opened #1526 "GSoC 2022 idea: Improve language-specific package support"
* related: #1379
* related: #1462

CVE Binary Tool was originally intended to work with compiled languages and binary files, but we've expanded to do known component lists in a few different formats.  Recently, @anthonyharrison improved our support for .jar files by reading the meta data from those files, and @BreadGenie has earlier work to support listings from Linux package repositories.  We'd l

[2022-01-13 20:39] terriko opened #1527 "doc: make CONTRIBUTING.md show up on readthedocs"
https://cve-bin-tool.readthedocs.io/en/latest/ isn't showing the new CONTRIBUTING.md docs.  It's probably because my symbolic link trick doesn't work on windows and I did that PR on a different machine than usual.  Find a way to fix it (that does NOT involve moving CONTRIBUING.md; it needs to stay in the root directory).

Remember you can build your local copy of what readthedocs does by going int

[2022-01-13 21:43] terriko opened #1528 "improvement: Run bandit on test code"
I've got a PR set up to run bandit on everything in `cve_bin_tool/` (#1523) to help us get some basic security checks into our automated workflow.  Currently, I explicitly skip the `test/` directory because bandit will flag every assert but they're fine for use in test code (you can't use asserts in production python because they get optimized out, so bandit is correct in warning you about that).

[2022-01-13 22:27] anthonyharrison commented on #1472
@pcouas Improved Java scanning has now been merged. Please download the latest version of the tool from Github as the version on PyPi hasnt been updated yet. Let us know how you get on.

[2022-01-13 23:20] terriko commented on #1428
Obviously this didn't get done for 3.0.  I'm going to start working on it for 3.1 today so I've assigned it to myself.

[2022-01-14 01:26] terriko opened #1531 "nitpick: "Github" where it should be "GitHub""
Little formatting nitpick:

It looks like I wrote "Github" (only G capitalized) in a few places where I should have used their preferred camelcase of "GitHub" (G and H are capitalized) -- let's get those fixed.

This should be a pretty beginner friendly bug.  There's a few instances in README.md and in CONTRIBUTING.md and one in RELEASE.md. (you can use grep to see if I missed any)

bonus: see if

[2022-01-14 05:45] Aadityajoshi151 commented on #1531
Please have a look at [PR](https://github.com/intel/cve-bin-tool/pull/1532) for this.

[2022-01-14 09:50] XDRAGON2002 commented on #1453
As we already have a json parser, should we add support for package.json as an add-on for the json parser (as package.json at it's core is just "json"), or should we create a new parser which would specially deal with files named "package.json"?

[2022-01-14 16:22] anthonyharrison commented on #1453
@XDRAGON2002 I have a working prototype function which scans the package.json file and extracts the packages and version numbers before finding the vendor. However there needs to be better product/vendor matching which #1504 is in the process of resolving. I think it needs to be separate to the json parser although I will look at this to see if can be used.

[2022-01-14 16:31] XDRAGON2002 commented on #1453
That's great!
Let me know if I could help in any way.

[2022-01-15 10:42] vkrm1612 commented on #1531
I am on it .....!!

[2022-01-16 09:45] vkrm1612 commented on #1527
i am working on it

[2022-01-17 17:32] deepakdinesh1123 commented on #1491
Can I work on this?

[2022-01-18 09:29] XDRAGON2002 opened #1537 "Coming up with and implementing a proper structure for parsers"
While going through #1526 I was thinking about how this could lead to support for multiple parsers, but as the current structure stands, it is a bit too random (not inefficient, just feels scattered). The parsers that are currently supported, all take a similar input (a file format that needs to be parsed) and output similarly as well (product info, triage data) that is then passed to the cve_scan

[2022-01-18 10:32] Shashwat-05 commented on #1384
Hey, I have understanding of python and apache , what's is here I is required to be done, please elaborate. I'll help

[2022-01-18 10:48] BreadGenie commented on #1384
@Shashwat-05 you can refer this [guide](https://github.com/intel/cve-bin-tool/blob/main/cve_bin_tool/checkers/README.md)

[2022-01-19 19:45] terriko commented on #1521
Yes, we want to stop using `pkg_resources` entirely now in favour of an importlib based solution.  Please remove it anywhere you find it.

[2022-01-19 20:06] terriko commented on #1537
I like the line of thinking here, but there's huge chasms of bad ideas that happen when you talk about building an abstraction layer.  So I'm glad you opened a discussion thread for this!

Some thoughts off the top of my head:
- We honestly don't want to be in the business of writing parsers at all if we don't have to.  We already try to use external well tested libraries for xml, json, and hopefu

[2022-01-20 09:13] XDRAGON2002 opened #1539 "Adding type hints to the code"
Although static declarations are present in the codebase, it is not uniform throughout.
This issue aims to get the entire project typed, so as to allow mypy enforcement in the future.
I believe working on this issue will help anyone trying to familiarize themselves to the project structure (also helps with easy and friendly PRs)

cve_bin_tool/version_signature.py
cve_bin_tool/version_scanner.py
cv

[2022-01-20 09:15] XDRAGON2002 commented on #1539
Roping in @terriko for verification of issue and adding of "good-first-issue/beginner/easy" issue tag for visibility.

[2022-01-20 09:51] XDRAGON2002 commented on #1537
By "parsers" here I am referring to reading package data (as referenced in #1526).

I completely agree with your third point, having a simple input flag that handles the file type on its own (especially for SBOMs) would be great for usability, as the tool is designed to be a swift check (not a pure in depth analysis) abstracting the input flag formats would be a great feature addition.

As to how

[2022-01-20 14:37] a-muk commented on #984
Is this issue still open?

[2022-01-20 17:41] #1531 closed

[2022-01-20 19:51] terriko commented on #1539
We actually already have a similar open issue that has the flags:
* related #761

But in the interest of making this easy for folk to find at the top of the latest issue list, I'm going to leave them both and put the correct tags on this one.

[2022-01-20 21:02] terriko commented on #1537
**Multiple component lists**: I'd guess this is reasonably common.  Even cve-bin-tool itself has both python and javascript package lists.  Python folk often also have C components for performance reasons. I've seen a number of hybrid java and C projects as well.

**Merging results from multiple component lists**:  It depends on the type of audit system people use for this kind of thing.  The tool

[2022-01-20 21:06] terriko commented on #1537
As for GSoC: yes, this would be a good addition to #1526.  I'd guess it's doable within a 175hr stint for someone who knows the data structures and has a plan before coding starts because there's already a few component list parsing bits to examine for commonalities.  I'd *prefer* to see it in a 350hr project so that you could also work on more new data sources afterwards, but I don't think it's a

[2022-01-20 22:41] #1527 closed

[2022-01-21 08:50] XDRAGON2002 commented on #1537
Maybe working on it as a 350hr project might actually be better than my earlier suggestion of a 175hr project, I guess I'll have to look into getting a 350hr project timeline extension from my college (if my proposal even gets considered or accepted), but as of now I am planning to contain it within a 175hr timeframe (as I have a fair bit of experience with python-pip, js-npm, rust-cargo, go-(earl

[2022-01-21 18:06] anthonyharrison commented on #1507
@terriko I have been looking at this now and I have uncovered a few challenges!

SPDX doesn't currently have a schema for XML documents! I have raised an issue [https://github.com/spdx/spdx-spec/issues/615] but obviously it will take time for an 'official' schema to be issued. I have looked at generating one (and will propose it as the inital schema) to be used in the interim.

The CYCLONEDX schem

[2022-01-22 05:13] deepakdinesh1123 commented on #1491
@terriko  Should the checker for libsolv-tools also be added ? I ran the helper script against libsolv-0.6.34-lp150.1.2.src.rpm but except for the vendor product all the other patterns came up empty. I tried to build the library myself and ran the strings and find commands against the binaries but I could not obtain the version patterns or the contains patterns could you please tell me on how to p

[2022-01-23 13:10] Molkree opened #1541 "OSSF Scorecards"
What do you think about using Open Source Security Foundation' Scorecards ([repo](https://github.com/ossf/scorecard))?
They check quite a long list of things, including branch protection rules, fuzzing, pinned dependencies, signed releases, etc ([list of checks](https://github.com/ossf/scorecard#scorecard-checks)).
There is a [GitHub Action](https://github.com/ossf/scorecard-action).
I found out a

[2022-01-23 14:59] anthonyharrison commented on #1507
UPDATE

I have now created a SPDX schema and shared it with SPDX community.

I have created a local copy  of the CycloneDX schema to include the SPDX schema file which was being referenced. Will add a readme file to explain what I did so it can be replicated for future updates of the schema.

I have created a SWID schema to try and get around the entity problem. It works with the test file but nee

[2022-01-23 16:28] anthonyharrison commented on #1541
@Molkree I think this is a good idea but @terriko is already looking at how the tool can be made OSSF compliant. There are a number of features which aren't currently done, including some of the new features. Maybe this would make a suitable project for GSOC?

[2022-01-24 11:34] XDRAGON2002 commented on #1521
PR #1542 removes all occurrences of pkg_resource except from cve_scanner.py, as we are using parse_version from pkg_resources where we pass in version strings like "1.2.4" for comparing the ranges, it's alternative in importlib is importlib.metadata.version but it only accepts module names and throws an error if it finds something of the sort "1.2.4" (i.e. only accepts strings like "pytest" of exi

[2022-01-24 12:07] XDRAGON2002 commented on #1521
Opened PR #1542 that closes this issue.

[2022-01-24 18:12] #1428 closed, assigned to terriko

[2022-01-24 20:11] terriko commented on #1541
I'm also on the openSSF mailing lists and learned about the new scorecard stuff!  I think yes, this is a thing we want to do eventually.  I'm not sure we're actually ready for it yet, or maybe it's more accurate to say that I haven't gotten to that step in the process yet.

Currently, I'm working on the best practices badge (was CII, now OpenSSF best practices): https://bestpractices.coreinfrastru

[2022-01-24 20:14] terriko commented on #1541
And yes, I realize that you don't have to have the Best Practices Badge in order to enable the scorecard, this is just a priority list for me.

[2022-01-24 22:12] anthonyharrison commented on #1419
Pull request #1485 only did half the job! `import pdftotext` was still included in the file.

[2022-01-25 21:05] anthonyharrison opened #1546 "Publish FOSDEM slides"
Make slides available for FOSDEM 2022

[2022-01-25 23:38] terriko commented on #1507
This is great, thank you!

[2022-01-25 23:45] terriko commented on #1491
Go ahead and try libsolv-tools if it works!

It's entirely possible that libsolv itself doesn't have good pattern strings (or more accurately, doesn't have ones that work with our methodology).  Sometimes checkers are hard to build and you're not doing anything wrong!  Since that seems to be the case here, I'm going to go ahead and remove the "good first issue" flag and instead add a "signature ne

[2022-01-25 23:50] terriko commented on #984
@a-muk This is one you could check!  A quick search for brotlipy in the docs finds a note about this:

https://cve-bin-tool.readthedocs.io/en/latest/README.html?highlight=brotlipy#requirements

So it looks like it's fixed!  I'll go ahead and close the issue.

[2022-01-25 23:50] #984 closed

[2022-01-25 23:51] terriko commented on #1493
@yashugarg I see you submitted a PR for another checker.  Did this one not have any good signatures?  If you tried this one at all, let us know what you found out.

[2022-01-26 00:15] #1419 closed

[2022-01-26 00:16] #1546 closed

[2022-01-26 00:33] #1517 closed

[2022-01-26 00:38] #1510 closed

[2022-01-26 01:04] #1503 closed

[2022-01-26 01:15] terriko commented on #1052
This can be closed thanks to #1467

[2022-01-26 01:15] #1052 closed

[2022-01-26 01:36] terriko commented on #1381
This was fixed in #1391

[2022-01-26 01:36] #1381 closed

[2022-01-26 01:37] terriko commented on #1304
We're on the list now!

[2022-01-26 01:37] #1304 closed

[2022-01-26 01:40] terriko commented on #1287
The current note on the disabled tests indicates that we just aren't getting that data.  I'm guessing this is unfixable at present so I'm just going to close the issue, but leave the code in case it becomes useful later.

[2022-01-26 01:40] #1287 closed

[2022-01-26 01:42] terriko commented on #1309
This is longer than I usually flag as a good first issue, but it's well-described, so I'm going to go ahead and put the flag on this and see if anyone's interested.

[2022-01-26 01:43] terriko commented on #1309
Note also: some of this has already been done (e.g. we support 3.9 now) so you can't follow the instructions blindly

[2022-01-26 01:46] terriko commented on #1270
dev-recommended.txt is now all pinned versions with an auto-update github actions trigger and it should be covered by dependabot, so I'm going to go ahead and close this issue.

[2022-01-26 01:46] #1270 closed

[2022-01-26 01:49] #770 closed

[2022-01-26 01:50] terriko commented on #652
I think this was sufficiently covered in the latest output refactoring and can be closed.

[2022-01-26 01:50] #652 closed

[2022-01-26 01:54] terriko commented on #1149
I believe this has been addressed with all the changes made to the NVD code since May (particularly, we've switched to using the NVD API by default which is an entirely different setup).  if anyone does hit this issue again again, please let us know, but I'm going to close the bug for now.

[2022-01-26 01:54] #1149 closed

[2022-01-26 01:56] terriko commented on #757
I don't believe this has been an issue since the tests were refactored, so I'm going to close it.

[2022-01-26 01:56] #757 closed

[2022-01-26 01:58] terriko commented on #646
This is currently a gsoc idea:
* #1525
I'm going to close this older one issue since the new one has a lot more information.

[2022-01-26 01:58] #646 closed

[2022-01-26 01:59] terriko commented on #215
This is currently a gsoc idea:
* #1525
I'm going to close this older one issue since the new one has a lot more information.

[2022-01-26 01:59] #215 closed

[2022-01-26 02:04] terriko opened #1551 "Add documentation about java package scanning"
Mostly for @anthonyharrison

Currently, the documentation says it can't find anything that doesn't have a checker if you're using the binary scanner.  We should probably amend that to mention the .jar file metadata reader, and make sure we describe the support for .jar files in the manual,

[2022-01-26 05:45] yashugarg commented on #1493
@terriko I opened that PR before start working on this and have been waiting for it to merge.
Also all the patterns I found for this checker had ".so." which isn't the ideal way to define contain_patterns as per the documentation.
So should I use the regex containing .so. or there's something else I need to do?

[2022-01-26 08:54] Molkree commented on #1309
I've actually almost finished this in the last couple of days and simply couldn't test properly due to the NVD API key issue. I'll submit the PR shortly.

[2022-01-26 12:39] anthonyharrison commented on #1551
@terriko Agree. Will create a new section called Language Parsers to describe Python, Java and Javascript (see #1548) and also to provide a hook for the GSOC project on more language scanners (#1526)

[2022-01-26 17:22] terriko commented on #1379
From @anthonyharrison

- doing something appropriate if we find something and don't have a checker.
- improved information on how to fix -- already have the available fix tool, but might be able to get information from the cve links as well.
-

[2022-01-26 17:44] terriko commented on #1493
You can try the regex with .so, and see if you can find two different linux distros that match it.  if it's only a single distro, that's better than nothing, but you'll want to put a note in the checker that it only has a limited range.  Or you can abandon this one and move on to something easier.  I'm going to mark it as "signature needs work" to indicate that you've found no easy signature right

[2022-01-26 18:54] #1110 closed

[2022-01-26 19:21] anthonyharrison opened #1553 "Fix incorrect hyperlink in FOSDEM presentation"
Link to contributors guide on readthedocs is incorrect on Slide 6

[2022-01-26 19:25] yashugarg commented on #1493
Okay, thank you so much.
I think I'll open a PR for this checker and see if I'm able to do something about those signatures.
Also sorry for the delay!

[2022-01-27 07:25] yashugarg opened #1555 "Add Extractor support for more packages"
Enable the tool to extract package distribution files from more operating systems like FreeBSD (.pkg) and Arch Linux (.pkg.tar.zst)

[2022-01-27 20:10] anthonyharrison commented on #1555
Looks like we need to be careful with .pkg files. They seem to be used in Python [https://docs.python.org/3/library/pkgutil.html](https://docs.python.org/3/library/pkgutil.html) as well as MacOS and other platforms.

[2022-01-27 23:03] #1553 closed

[2022-01-27 23:10] terriko opened #1557 "Windows CI sometimes times out after 20 minutes"
* related: #1553

Just filing a bug here so it's a clearly described known issue.

Sometimes, the Windows tests timeout after 20 minutes.

It *looks* like the tests are hanging (so making the timeout longer won't help; these tests would never complete no matter how long we let them run.  Note that a successful run takes under 5 minutes.).  It seems to happen consistently after printing a message a

[2022-01-28 01:29] terriko opened #1558 "Fix DeprecationWarnings by switching asyncio_mode"
We've got a number of DeprecationWarnings like this:

`
  C:\Miniconda\envs\pdftotext\lib\site-packages\pytest_asyncio\plugin.py:191: DeprecationWarning: The 'asyncio_mode' default value will change to 'strict' in future, please explicitly use 'asyncio_mode=strict' or 'asyncio_mode=auto' in pytest configuration file.
`

and this

`
  /opt/hostedtoolcache/Python/3.8.12/x64/lib/python3.8/site-packag

[2022-01-28 13:12] rhythmrx9 commented on #1298
I would like to work on this

[2022-01-29 12:57] XDRAGON2002 commented on #1352
Opened PR #1560 that closes this issue.

[2022-01-29 13:19] XDRAGON2002 commented on #1352
Opened PR #1560 that closes this issue.

[2022-01-29 18:14] a-muk commented on #984
Okay

[2022-01-29 18:15] a-muk commented on #1539
@terriko can I work on this issue? I am a beginner.

[2022-01-30 11:56] anthonyharrison opened #1563 "ci: Enforce conventional commit message format in commits"
Now that we have adopted Conventional Commit messages for some time, can we add something to the ci to check that the commit messages confrom the the correct format? The following  [repo](https://github.com/conventional-changelog/commitlint) seems to be doing what is needed.

[2022-01-30 12:15] BreadGenie commented on #1563
[This pre-commit hook](https://github.com/compilerla/conventional-pre-commit) might be a better idea. We could add it with the existing hooks.

[2022-01-31 20:29] terriko commented on #1526
A note because it came up in gitter: This project is loosely reserved for a paid contributor to be selected through the GSoC 2022 process. (open to anyone over 18 who's willing to put in either 175 or 350 hours of paid work through the program).  If you wish to work on this, please apply through that program when it opens on March 7.

Discussion and ideas are fine, but pull requests with actual co

[2022-01-31 20:30] terriko commented on #1525
A note because it came up in gitter: This project is loosely reserved for a paid contributor to be selected through the GSoC 2022 process. (open to anyone over 18 who's willing to put in either 175 or 350 hours of paid work through the program).  If you wish to work on this, please apply through that program when it opens on March 7.

Discussion and ideas are fine, but pull requests with actual co

[2022-02-01 17:28] XDRAGON2002 commented on #1268
I think we should have PR templates for checker additions as well as non-checker issues.

As a lot of the currently open issues are checker related and will only increase in the future, having a separate checklist PR for checkers could prove to be fruitful.
As suggested by @BreadGenie it could look like #1296 (maybe adding a few extra checklist marks like added filename pattern, version pattern, p

[2022-02-02 00:31] terriko opened #1567 "Modify format_checkers to add checker name to dictionary allow if needed?"
This came up in a few recent pull requests.  Because format_checkers adds checker names to some documentation table, any new checker needs to be in the spelling dictionary (unless it's already a dictionary word or already in the list).  It'd be cool if we could make format_checkers do that automatically, or prompt the user to do it.

(Please add any new dictionary entries in alphabetical order if

[2022-02-02 00:53] terriko opened #1568 "--editable vs --upgrade install errors in CI"
* related #1552

@Molkree discovered an interesting issue while improving our CI files:

We've seen other issues with --editable (see #1323 ) so there's definitely something different happening there.  if I had to guess, it might be related to the way editable uses a symlink to an existing directory but --upgrade should only copy over the files recommended by setup.py.  But that's pure speculation

[2022-02-02 00:55] #1309 closed

[2022-02-02 01:12] #1352 closed

[2022-02-02 01:12] #1551 closed

[2022-02-02 07:40] yashugarg commented on #1567
Hey @terriko can I give this a shot?

[2022-02-02 17:40] terriko commented on #1567
Feel free!

[2022-02-05 22:19] anthonyharrison opened #1570 "Add support for VEX (Enhancement)"
Add support for VEX (Vulnerabity Expolitabity Exchange) files. Files could be generated following a scan and then used as a supported triage file.

See [https://www.ntia.gov/files/ntia/publications/vex_one-page_summary.pdf](https://www.ntia.gov/files/ntia/publications/vex_one-page_summary.pdf) for a brief description

[2022-02-07 17:41] XDRAGON2002 commented on #1126
I looked into cabarchive, and tested it on "test/assets/cab-test-python3.8.cab", it does not work as expected as the particular compression type is not supported, hence even though we can use cabarchive, it won't work on all cab files.
Even looking at other methods, most if not all use subprocesses in order to do so (either cabextract or 7zip related), so as of now a pure python cab extractor migh

[2022-02-07 19:13] terriko commented on #1126
I'm going to go ahead and mark this as blocked and take it off the "future" milestone since it seems unlikely to be resolved short or medium term.  Thanks for the investigation, @XDRAGON2002 !

[2022-02-08 22:54] terriko commented on #1379
Came up in a private conversation: Date-based vulnerability information.  Right now, we basically don't do anything but print information if a checker gives a version as UNKNOWN.   But in theory, we could combine the timestamp on the file, the vendor/product that we partially found, and then list out vulnerabilities that have been found since that time in that product.

Note that while CVEs have d

[2022-02-09 20:06] terriko opened #1575 "Change windows timeout to 30 minutes"
The windows tests are running slower than the linux ones (in part due to needing to set up conda for the pdf tests) and as a result sometimes they exceed the 20 minute timeout in CI.  So this should be a really easy bug for someone.  Change the timeout for windows tests from 20 minutes to 30 minutes.  It's here: https://github.com/intel/cve-bin-tool/blob/main/.github/workflows/testing.yml#L158

[2022-02-10 04:50] sagarsadhu commented on #1575
Hi @terriko , I am interested to work on this

[2022-02-10 17:28] #1575 closed

[2022-02-10 19:19] terriko commented on #1575
@sagarsadhu This got closed by another pull request, sorry!

[2022-02-10 20:49] sagarsadhu commented on #1575
It's ok @terriko , No problem

[2022-02-16 16:46] #1453 closed

[2022-02-22 21:56] #1563 closed

[2022-02-22 21:58] #1493 closed

[2022-02-22 22:33] terriko opened #1582 "Switch format_checker to run in CI on an interval instead of as a linting check"
When you make a new checker, the format_checkers script helps you add it to a table visible in the README in alphabetical order.  This is intended to make things easier for human readers to see the list of checkers, which is otherwise 100+ lines long.

**Problem:** when I merge one new checker pull request, I often cause merge failures in all other open pull requests.  When you add a checker into

[2022-02-22 23:08] terriko opened #1584 "Add type checker to Github Actions"
* related to #1539

Now that we're starting to get type hints in more files, I'd like to have CI give us feedback on type hints.

This can be allowed to fail on most files right now.  I don't love the way github actions handles that (last I checked, it made "allow fail" items look like they've passed even if they haven't so people may not look at them) but even if I'm not sure new contributors wil

[2022-02-23 01:07] #1528 closed

[2022-02-23 01:10] terriko commented on #1557
I believe this has been addressed for now by #1576 -- it turns out that windows tests are just really slow, mostly due to needing to install things from conda, so we've upped the limit to 30 minutes for now.

[2022-02-23 01:10] #1557 closed

[2022-02-23 07:28] XDRAGON2002 commented on #1582
I feel we should not go with option 1 as it will affect the presentation factor of the tool by a lot, and also a lot less convenient for users.
Option 2 and 3 are pretty similar, key difference being the duration of table update, so am inclined for the shorter duration one i.e. option 3 as well.

[2022-02-23 17:21] terriko commented on #1582
Another option: have the update happen every time there is an update to the checker files (again in ci instead of the pull request)

[2022-02-23 17:38] ashok-arora commented on #1379
I would love to work on adding macOS support. Could you expand a bit more on the work required for it?

[2022-02-23 21:10] dsouzan opened #1585 "changing asyncio_mode=auto"
There is warning in a pull request to use 'asyncio_mode=strict' or 'asyncio_mode=auto'.  This change needs to be done inside pytest's configuration file. (pytest.ini)

Where is this file located ?

[2022-02-24 06:07] rhythmrx9 commented on #1584
I would suggest pyright, it has been working fine for me, switched to it from mypy.
mypy sometimes gives errors that are not very helpful.

[2022-02-24 07:01] XDRAGON2002 commented on #1585
I don't think the file exists as of now, so you'll have to create it yourself.

https://docs.pytest.org/en/latest/reference/customize.html this might be useful for you.

You might wanna also look at how strict and auto modes actually affect the pytest fixtures, strict might be more helpful in our case.

[2022-02-24 09:00] XDRAGON2002 commented on #1584
Top two contenders would be mypy and pyright, (pytype and pyre are too lenient for type checking sometimes).
Both are extremely good for usage as well and very similar, key differences being,

Mypy works best if the codebase is already typed out or to get the codebase aggressively typed out. Does not do any inference, completely typing based. Sometimes throws unhelpful errors. The existing standar

[2022-02-25 05:52] BreadGenie commented on #1585
duplicate of #1558?

[2022-02-25 17:14] dsouzan commented on #1585
it is dup of 1558.

[2022-02-25 17:14] #1585 closed

[2022-03-02 00:05] terriko commented on #1584
I'm *intending* to integrate something in CI sooner rather than later.  As in, if someone makes a workable pull request that doesn't break CI, I'd be willing to integrate it this week.  I'd like any file that passes checks to have enforcement turned on, the rest can be added to the enforced list as they become ready.  So yes, parallel integration with CI, enforcement on a per-file basis until the

[2022-03-02 00:15] terriko commented on #1379
I can't really because I haven't investigated it (taht's why this is in a brainstorming file and not a complete idea) but here's some guesses:

- Checking to make sure that utilities like 'file' behave the same as they do on linux.  MacOS is BSD-based so the utilities are pretty similar but often have slightly different flags/output
- Finding appropriate replacements for anything not typically ins

[2022-03-02 00:33] terriko opened #1587 "Quiet mode broken in main branch?"
[code]

Looks like something is ignoring the quiet mode flag.  Probably an easy fix if you grep for "Updating CVEs from NVD" and make sure it respects the quiet flag, but I haven't looked at it deeply myself.

[2022-03-02 00:48] terriko commented on #1582
Okay, I think I'd like this actually done.  I'm going to update the top of the issue to reflect that.

[2022-03-02 19:30] #1298 closed

[2022-03-03 23:01] #1491 closed

[2022-03-06 12:54] XDRAGON2002 commented on #1342
I guess I'll try and implement this.

[2022-03-07 04:06] gotlougit commented on #1384
I have created a PR #1589 for this program, I hope it's up to the mark.

[2022-03-07 06:22] gotlougit opened #1590 "cli.py is marked executable but is missing a shebang"
I was encountering issue #1323, so I executed the program by directly calling ```./cli.py```, however I would get an error on line 13 due to the big comment block there. Upon further inspection I found that there was no shebang in the file, and upon adding one (```#!/usr/bin/env python3.9```), it worked just fine. In both situations, ```python3.9 cli.py``` works.

I decided to create an issue to g

[2022-03-07 07:00] XDRAGON2002 commented on #1590
Can you elaborate on what you mean by both situations? Does is resolve the entry point error?

[2022-03-07 07:46] XDRAGON2002 opened #1591 "CI throws sqlite3 operational errors on long tests"
I found these errors [here](https://github.com/intel/cve-bin-tool/runs/5384258611?check_suite_focus=true) (Disk I/O error), [here](https://github.com/intel/cve-bin-tool/runs/5434352677?check_suite_focus=true) (Read only error) and [here](https://github.com/intel/cve-bin-tool/runs/5384457821?check_suite_focus=true) (Disk I/O error)

I suppose these are popping up randomly but their frequency is pre

[2022-03-07 09:19] XDRAGON2002 commented on #1264
I'll try and look into this.

[2022-03-07 20:15] XDRAGON2002 commented on #1584
I'll look into getting this implemented.

[2022-03-07 20:35] XDRAGON2002 commented on #1537
I believe that after the refactor of package parsers, #1265 and #1090 would be freshly added and the other package parsers (python, java, js) would have to be updated to conform to the format decided.

My query was pertaining to package lists (existing ones and #1271) and also to SBOMs, should they all be covered under the same refactored API? Or let them be as is? Or group languages together and

[2022-03-08 22:08] #1582 closed

[2022-03-08 22:18] #1558 closed

[2022-03-08 22:32] terriko commented on #1590
We haven't got one because we don't recommend people run `cli.py` directly (it can cause weird behaviour with the checkers where sometimes they won't load).  We prefer that people install it for the most consistent user experience (and recommend virutalenvs for folk who don't want to system-wide install it).  The issue's described a bit in #677.  We have a workaround that re-generated the egg for

[2022-03-08 22:34] terriko opened #1595 "Moving from setup.py to pyproject.toml"
Setuptools is apparently going away, so we'll need to move to probably pyproject.toml. I haven't done the research on what this will take yet; it may be very simple or there may be weirdness with the way we handle checker entry points.

[2022-03-09 19:50] terriko commented on #976
Looks like this should have been closed by #1019

[2022-03-09 19:50] #976 closed

[2022-03-09 20:19] terriko opened #1596 "Replace "gitlint" with a pull request title linter"
(As mentioned in gitter)

We are currently using "gitlint" to issue a warning if a commit message doesn't conform to the conventional commits format. As a result, I'm seeing experienced contributors recommend that people squash their commit history to address linter errors.

In practice, I squash commits from pull requests, so fixing your history is kind of overkill.  My personal preference is to

[2022-03-09 20:49] XDRAGON2002 commented on #1596
I guess I'll have to agree that gitlint enforcing commit format on all commits is fundamentally "good practice", but in terms of practicality isn't all that useful. Simply because of the fact that those commits are going to get squashed in the working tree anyways, so linting them "until that PR gets merged" doesn't seem all that useful.

The idea of applying this only on the PR title is more rele

[2022-03-09 21:16] XDRAGON2002 commented on #1595
Thoughts on "poetry"?
As we are intending to move away from setup.cfg it might be worth looking into poetry as well.

[2022-03-09 21:58] Molkree commented on #1595
Hm, I'm not aware of this, can you link to the statement from them?

Our `setup.cfg` only has configs for tools we use, I suppose you meant `setup.py`?

Moving to `pyproject.toml` is cool, moving to `poetry` is unnecessary IMO.

You can read a bit more on what changed with `pyproject.toml` [here](https://setuptools.pypa.io/en/latest/build_meta.html). And `setuptools`' site has pretty good document

[2022-03-10 10:35] BreadGenie commented on #1596
I find gitlint quite useful as a local linter, so I think maybe we should keep the pre-commit hook running locally but remove it from the CI. We could also pass the PR title to gitlint in the CI for checking the PR title instead of creating another GitHub action.

[2022-03-10 11:39] XDRAGON2002 commented on #1596
This sounds like a much better solution where we can have the best of both worlds.

[2022-03-10 12:47] gotlougit commented on #1590
A comment would probably be more useful, or rather some sort of warning about running ```./cli.py``` directly. I was just confused seeing it be marked executable and was then promptly confused when it didn't run right, so created the issue to get some more clarification.